<template>
  <div class="page">
    <v-container>
      <h2 class="white--text">Purchase / Buy Membership</h2>

      <SlideFadeAnimation>
        <div v-if="isContentShow" :key="`page-content`">
          <div class="login-card">
            <v-row justify="center">
              <v-col cols="12" md="8">
                <div class="text-center pa-12">
                  <div class="mt-10"></div>
                  <h3 class="white--text">Buy Membership</h3>
                  <br />
                  <v-row align="center" class="py-0">
                    <v-col cols="auto">
                      <div class="white--text pb-6">เลือกลูกค้า</div>
                    </v-col>
                    <v-col cols class="py-0">
                      <v-autocomplete v-model="customer" :items="customer_list" outlined dense dark
                        label="เลือกลูกค้า"></v-autocomplete>
                    </v-col>
                  </v-row>
                  <v-row align="center" class="py-0">
                    <v-col cols="auto">
                      <div class="white--text pb-6">เลือกโปรแกรม</div>
                    </v-col>
                    <v-col cols class="py-0">
                      <v-autocomplete v-model="program" @change="defaultPricing()" :items="program_list" outlined dense
                        dark label="เลือกโปรแกรม"></v-autocomplete>
                    </v-col>
                  </v-row>

                  <v-row align="center">
                    <v-col cols="auto" class="py-0">
                      <div class="white--text pb-6">ราคา</div>
                    </v-col>
                    <v-col cols class="py-0">
                      <v-text-field type="number" v-model="price" outlined dense dark label="ราคา"></v-text-field>
                    </v-col>
                  </v-row>
                  <v-row align="center">
                    <v-col cols="auto" class="py-0">
                      <div class="white--text pb-6">Member Start Date</div>
                    </v-col>
                    <v-col cols class="py-0">
                      <v-menu v-model="menu3" :close-on-content-click="false" :nudge-right="40"
                        transition="scale-transition" offset-y min-width="auto">
                        <template v-slot:activator="{ on, attrs }">
                          <v-text-field v-model="start_date" label="Start Date" outlined dark prepend-icon="mdi-calendar"
                            readonly v-bind="attrs" v-on="on"></v-text-field>
                        </template>
                        <v-date-picker dark v-model="start_date" @input="menu3 = false"></v-date-picker>
                      </v-menu>
                    </v-col>
                  </v-row>
                  <v-row align="center">
                    <v-col cols="auto" class="py-0">
                      <div class="white--text pb-6">Member Expiry Date</div>
                    </v-col>
                    <v-col cols class="py-0">
                      <v-menu v-model="menu2" :close-on-content-click="false" :nudge-right="40"
                        transition="scale-transition" offset-y min-width="auto">
                        <template v-slot:activator="{ on, attrs }">
                          <v-text-field v-model="expiry_date" label="Expiry Date" outlined dark
                            prepend-icon="mdi-calendar" readonly v-bind="attrs" v-on="on"></v-text-field>
                        </template>
                        <v-date-picker dark v-model="expiry_date" @input="menu2 = false"></v-date-picker>
                      </v-menu>
                    </v-col>
                  </v-row>
                  <v-row align="center" class="py-0">
                    <v-col cols="auto">
                      <div class="white--text pb-6">เลือก Sale</div>
                    </v-col>
                    <v-col cols class="py-0">
                      <v-autocomplete v-model="sale" :items="sale_list" outlined dense dark
                        label="เลือก Sale"></v-autocomplete>
                    </v-col>
                  </v-row>
                  <!-- <v-row align="center">
                    <v-col cols="auto" class="py-0">
                      <div class="white--text pb-6">Programs</div>
                    </v-col>
                    <v-col cols class="py-0">
                      <v-btn class="mb-5" block color="primary" @click="selectProgram()">
                        Add Program
                      </v-btn>
                    </v-col>
                  </v-row>
                  <v-row align="center">
                    <v-col cols class="py-0">
                      <v-data-table id="table" dark :headers="tableHeaders" :items="selected_program_list"
                        :options="{ itemsPerPage: 1000 }" disable-pagination :hide-default-footer="true">
                        <template v-slot:[`item.member_type`]="{ item }">
                          <div style="text-transform: uppercase;">
                            {{ item.member_type }}
                          </div>
                        </template>
                        <template v-slot:[`item.sell_price`]="{ item }">
                          <div>
                            {{ formatNumberWithDecimal(item.sell_price) }}
                          </div>
                        </template>
                        <template v-slot:[`item.start_date`]="{ item }">
                          <div>
                            {{ item.start_date ? item.start_date.split("T")[0]: '' }}
                          </div>
                        </template>
                        <template v-slot:[`item.expiry_date`]="{ item }">
                          <div>
                            {{ item.start_date ? item.start_date.split("T")[0]: '' }}
                          </div>
                        </template>
                        <template v-slot:[`item.action`]="{ item }">
                          <div class="text-center py-2">
                            <v-btn color="primary">remove</v-btn>
                          </div>
                        </template>
                        <template slot="no-data">
                          <div></div>
                        </template>
                      </v-data-table>
                    </v-col>
                  </v-row> -->
                  <!-- <v-row align="center">
                          <v-col cols="auto" class="py-0">
                            <div class="white--text pb-6">Select Program</div>
                          </v-col>
                          <v-col cols class="py-0">
                            <v-autocomplete v-model="program" :items="program_list" outlined dense dark
                              label="Select Program"></v-autocomplete>
                          </v-col>
                        </v-row>
                        <v-row align="center">
                          <v-col cols="auto" class="py-0">
                            <div class="white--text pb-6">Select Personal Trainer</div>
                          </v-col>
                          <v-col cols class="py-0">
                            <v-autocomplete v-model="trainer" :items="trainer_list" outlined dense dark
                              label="Select Personal Trainer"></v-autocomplete>
                          </v-col>
                        </v-row>

                        <div v-if="program">
                          <v-row align="center">
                            <v-col cols="auto" class="py-0">
                              <div class="white--text pb-6">Program Start Date</div>
                            </v-col>
                            <v-col cols class="py-0">
                              <v-menu v-model="menu4" :close-on-content-click="false" :nudge-right="40"
                                transition="scale-transition" offset-y min-width="auto">
                                <template v-slot:activator="{ on, attrs }">
                                  <v-text-field v-model="program_start_date" label="Program Start Date" outlined dark
                                    prepend-icon="mdi-calendar" readonly v-bind="attrs" v-on="on"></v-text-field>
                                </template>
                                <v-date-picker dark v-model="program_start_date" @input="menu4 = false"></v-date-picker>
                              </v-menu>
                            </v-col>
                          </v-row>
                          <v-row align="center">
                            <v-col cols="auto" class="py-0">
                              <div class="white--text pb-6">Program Expiry Date</div>
                            </v-col>
                            <v-col cols class="py-0">
                              <v-menu v-model="menu5" :close-on-content-click="false" :nudge-right="40"
                                transition="scale-transition" offset-y min-width="auto">
                                <template v-slot:activator="{ on, attrs }">
                                  <v-text-field v-model="program_expiry_date" label="Program Expiry Date" outlined dark
                                    prepend-icon="mdi-calendar" readonly v-bind="attrs" v-on="on"></v-text-field>
                                </template>
                                <v-date-picker dark v-model="program_expiry_date" @input="menu5 = false"></v-date-picker>
                              </v-menu>
                            </v-col>
                          </v-row>
                        </div> -->
                  <br>
                  <v-btn @click="register()" block color="primary" dark>Buy Membership</v-btn>
                </div>
              </v-col>
              <!-- <v-col cols="12" md="6" class="d-none d-md-block right-bg">
                      <v-row class="h-100" align="center" justify="center">
                        <v-col cols="auto">
                          <div class="text-center">
                            <div class="big-title text-left">VP-FIT</div>
                            <div class="big-title text-left">Dashboard</div>
                            <div class="mt-4"></div>
                          </div>
                        </v-col>
                      </v-row>
                    </v-col> -->
            </v-row>
          </div>
        </div>
      </SlideFadeAnimation>
    </v-container>
    <Loading ref="loading" />
    <SelectProgramPopup ref="selectprogram" />
  </div>
</template>

<script lang="ts">
import { Component, Vue, Watch } from "nuxt-property-decorator";
import SlideFadeAnimation from "~/components/animations/SlideFadeAnimation.vue";
import CustomerPopup from "~/components/popup/CustomerPopup.vue";
import SelectProgramPopup from "~/components/popup/SelectProgramPopup.vue"
import { showDialog } from "~/utils/dialog";

import Loading from "~/components/Loading.vue";
import ReportFilter from "~/components/utils/ReportFilter.vue";
import ReportTable from "~/components/tables/ReportTable.vue";
import TotalTable from "~/components/tables/TotalTable.vue";
import { formatNumberWithDecimal } from "~/utils/math";

@Component({
  components: {
    Loading,
    ReportFilter,
    ReportTable,
    SlideFadeAnimation,
    TotalTable,
    CustomerPopup,
    SelectProgramPopup
  },
})
export default class Compo extends Vue {
  isContentShow: boolean = false;
  menu2 = false;
  menu3 = false;
  menu4 = false;
  menu5 = false;
  name = "";
  address = "";
  contactable_info = "";
  contactable_info_number = "";
  mobileNo = "";
  lineId = "";
  facebook = "";
  gender = "M";
  note = "";
  price = 0;
  start_date = "";
  expiry_date = "";
  program_start_date = "";
  program_expiry_date = "";

  customer_list: any[] = [];
  customer: any = null

  program_list: any[] = [];
  program: any = null

  sale_list: any[] = [];
  sale: any = null



  formatNumberWithDecimal = formatNumberWithDecimal

  get tableHeaders() {
    return [
      { text: "Program", value: "program.name" },
      { text: "Trainer", value: "trainer.name" },
      { text: "จำนวนครั้ง", value: "times" },
      { text: "Start Date", value: "start_date" },
      { text: "Expiry Date", value: "expiry_date" },
      { text: "Price", value: "sell_price" },
      { text: "Action", value: "action" },
    ];
  }

  defaultPricing() {
    this.price = this.program?.default_price || 0
  }

  async loadCustomer() {
    try {
      const repo = this.$repositories.customer;
      const result: any = await repo.list({
      });

      return result.customerData.map((i: any) => {
        return {
          value: i,
          text: i.name
        }
      })
    } catch (e) {
      this.$nextTick(() => {
        // showDialog(e, "Get Customer");
      });
      return []
    }
  }

  async loadSale() {
    try {
      const repo = this.$repositories.sale;
      const result: any = await repo.list({
      });

      return result.list.map((i: any) => {
        return {
          value: i,
          text: i.name
        }
      })
    } catch (e) {
      this.$nextTick(() => {
        // showDialog(e, "Get Sale");
      });
      return []
    }
  }

  async loadMemberProgram() {
    try {
      const repo = this.$repositories.member_program;
      const result: any = await repo.list({
      });

      return result.memberData.map((i: any) => {
        return {
          value: i,
          text: `Program: ${i.name} | Price: ${formatNumberWithDecimal(i.default_price)}`
        }
      })
    } catch (e) {
      this.$nextTick(() => {
        // showDialog(e, "Get Membership Program");
      });
      return []
    }
  }

  async mounted() {
    this.isContentShow = true;
    const loader = this.$refs.loading as any;
    loader.start();
    try {
      this.customer_list = await this.loadCustomer()
      this.customer = null;
      this.program_list = await this.loadMemberProgram()
      this.program = null;
      this.sale_list = await this.loadSale()
      this.sale = null;

    } catch (e: any) {
      console.log('e', e)
    }
    loader.finish();
  }

  async register() {
    if (!this.customer) {
      showDialog("กรุณาเลือกลูกค้า", "Buy Membership");
    } else if (!this.program) {
      showDialog("กรุณาเลือก Membership Program", "Buy Membership");
    } else if (this.price <= 0) {
      showDialog("กรุณากรอกราคาให้ถูกต้อง", "Buy Membership");
    } else if (!this.start_date) {
      showDialog("กรุณาเลือก Start Date", "Buy Membership");
    } else if (!this.expiry_date) {
      showDialog("กรุณาเลือก Expiry Date", "Buy Membership");
    } else {
      const loader = this.$refs.loading as any;
      try {
        loader.start();
        const repository = this.$repositories.member_program_sale;
        const result: any = await repository.create({
          customer_id: this.customer._id,
          customer_name: this.customer.name,
          member_program_id: this.program._id,
          member_program_name: this.program.name,
          sale_id: this.sale?._id,
          sale_name: this.sale?.name,
          price: this.price,
          start_date: this.start_date,
          expiry_date: this.expiry_date,
        });

        this.$nextTick(() => {
          showDialog(result.message, "Buy Membership");
        });

        loader.finish();
      } catch (e: any) {
        this.$nextTick(() => {
          showDialog(e, "Buy Membership");
        });
        loader.finish();
      }
    }
  }
}
</script>

<style lang="scss" scoped>
.page {
  width: 100vw;
  height: 100vh;
  background: #242424;
}

.page-content-header {
  position: relative;
  z-index: 200;
  background: #212121;
}

.spinix-logo {
  width: 310px;
  height: auto;
}

.info-border {
  border: 1px solid #8a8a8a;
  border-radius: 10px;
  height: 260px;
}

.info-title {
  border-bottom: 2px solid #8a8a8a;
  padding-bottom: 4px;
}
</style>
