<template>
  <div class="page">
    <v-row class="flex-column flex-nowrap ma-0 h-100">
      <v-col cols="auto" class="pa-0">
        <div class="page-content-header">
          <v-container fluid>
            <h2 class="white--text">Employee / Sales</h2>
            <ReportFilter
            />
          </v-container>
        </div>
      </v-col>
      <v-col cols class="pa-0 overflow-auto">
        <v-container fluid class="position-relative scrollbar-hidden h-100">
          <Loading ref="loading" />
          <SlideFadeAnimation class="h-100">
            <div v-if="isContentShow" :key="`page-content`">
              <TotalTable
                :tableHeaders="totalHeaders"
                :total="items"
              />
            </div>
          </SlideFadeAnimation>
        </v-container>
      </v-col>
    </v-row>
  </div>
</template>

<script lang="ts">
import { Component, Vue } from "nuxt-property-decorator";
import SlideFadeAnimation from "~/components/animations/SlideFadeAnimation.vue";
import TotalTable from "~/components/tables/TotalTable.vue"
import ReportFilter from "~/components/utils/ReportFilter.vue";

import { getModule } from "vuex-module-decorators";

@Component({
  // layout: "no-layout",
  components: {
    SlideFadeAnimation,
    TotalTable,
    ReportFilter
  },
})
export default class Index extends Vue {
  isContentShow: boolean = false;
  timer: NodeJS.Timer | undefined;

  get totalHeaders() {
    return [
      { text: "ID", value: "id", align: "right", sortable: false },
      { text: "Full Name", value: "fullName", align: "right", sortable: false },
      { text: "Name", value: "name", align: "right", sortable: false },
      { text: "Telephone", value: "telephone", align: "right", sortable: false },
      { text: "Join Date", value: "joindate", align: "right", sortable: false },
    ];
  }

  get items() {
    return [
    {
      id:'SA016',
      fullName:'-',
      name:'Gh_ing',
      telephone:'-',
      joindate:'2022-04-18',
    },
    {
      id:'SA015',
      fullName:'-',
      name:'Nick',
      telephone:'-',
      joindate:'2022-04-18',
    },
    {
      id:'SA014',
      fullName:'-',
      name:'Em',
      telephone:'-',
      joindate:'2022-04-18',
    }]
  }

  mounted() {
    this.isContentShow = true;
    // setTimeout(() => {
    //   this.$router.push("/login");
    // }, 1000);
  }
}
</script>

<style lang="scss" scoped>
.page {
  width: 100vw;
  height: 100vh;
  background: #303438;
}
.spinix-logo {
  width: 310px;
  height: auto;
}
</style>