<template>
  <div class="position-relative">
    <DonutChart
      title="New Member"
      :labels="labels"
      :data="graphData"
    />
    <Loading ref="loading" />
  </div>
</template>

<script lang="ts">
import DonutChart from "~/components/charts/DonutChart.vue";
import { Component, Prop, Vue } from "nuxt-property-decorator";
import { getModule } from "vuex-module-decorators";

import dashboardModule from "~/store/dashboard";
import appModule from "~/store/app";
import Loading from "~/components/Loading.vue";

@Component({
  components: {
    DonutChart,
    Loading,
  },
})
export default class TodayTopTurnoverDonutChart extends Vue {
  dashboardStoreModule = getModule(dashboardModule, this.$store);
  appStoreModule = getModule(appModule, this.$store);

  @Prop({ default: "" })
  platformid!: string;

  get statistic(): INamedData[] {
    return this.dashboardStoreModule.todayTopTurnoverGames || [];
  }

  get labels(): string[] {
    return ['Member A+', 'Member A', 'Member A-'];
  }

  get graphData(): number[] {
    return [20, 30, 10];
  }

  async mounted() {
    const loader = this.$refs.loading as any;
    try {
      loader.start();
      // await this.dashboardStoreModule.loadTodayTopTurnoverGames(
      //   this.platformid
      // );
      loader.finish();
    } catch (e) {}
  }
}
</script>

<style>
</style>