<template>
  <div class="position-relative">
    <LabelValueChart
      title="TODAY TOP XReward GAMES"
      :labels="labels"
      :data="graphData"
      :valueText="`xReward`"
    />
    <Loading ref="loading" />
  </div>
</template>

<script lang="ts">
import LabelValueChart from "~/components/charts/LabelValueChart.vue";
import { Component, Prop, Vue } from "nuxt-property-decorator";
import { getModule } from "vuex-module-decorators";

import dashboardModule from "~/store/dashboard";
import appModule from "~/store/app";
import Loading from "~/components/Loading.vue";

@Component({
  components: {
    LabelValueChart,
    Loading,
  },
})
export default class TodayTopXRewardLabelValueChart extends Vue {
  dashboardStoreModule = getModule(dashboardModule, this.$store);
  appStoreModule = getModule(appModule, this.$store);

  @Prop({ default: "" })
  platformid!: string;

  get statistic(): INamedData[] {
    return this.dashboardStoreModule.todayTopXRewardGames || [];
  }

  get labels(): string[] {
    return this.statistic.map((item) => item.name);
  }

  get graphData(): number[] {
    return this.statistic.map((item) => item.data);
  }

  async mounted() {
    const loader = this.$refs.loading as any;
    try {
      loader.start();
      await this.dashboardStoreModule.loadTodayTopXRewardGames(this.platformid);
    loader.finish();
    } catch (e) {}
  }
}
</script>

<style>
</style>