<template>
  <div class="position-relative">
    <LineGraph
      title="Turnover"
      :xaxis="xaxis"
      :data="statistic"
      :period.sync="periodInput"
    />
    <Loading ref="loading" />
  </div>
</template>

<script lang="ts">
import LineGraph from "~/components/charts/LineGraph.vue";
import { Component, Prop, Vue, Watch } from "nuxt-property-decorator";
import { getModule } from "vuex-module-decorators";

import dashboardModule from "~/store/dashboard";
import appModule from "~/store/app";
import Loading from "~/components/Loading.vue";

@Component({
  components: {
    LineGraph,
    Loading,
  },
})
export default class TurnOverPeriodLineGraph extends Vue {
  dashboardStoreModule = getModule(dashboardModule, this.$store);
  appStoreModule = getModule(appModule, this.$store);

  @Prop({ default: "" })
  platformid!: string;

  periodInput: string = this.period;

  @Watch("periodInput")
  onPeriodInputChange() {
    this.dashboardStoreModule.setSelectPeriodTurnOver(this.periodInput);
    this.search();
  }

  get period() {
    return this.dashboardStoreModule.selectPeriodTurnOver;
  }

  get statistic(): IPeriodDataGroup[] {
    return this.dashboardStoreModule.periodTurnOver || [];
  }

  get xaxis(): string[] {
    const statistic = this.statistic;
    const xaxis: string[] = [];
    for (
      let statisticIndex = 0;
      statisticIndex < statistic.length;
      statisticIndex++
    ) {
      for (
        let dataGroupIndex = 0;
        dataGroupIndex < statistic[statisticIndex].dataGroup.length;
        dataGroupIndex++
      ) {
        const time = statistic[statisticIndex].dataGroup[dataGroupIndex].time;
        if (!xaxis.find((item) => item == time)) {
          xaxis.push(time.split("T")[0]);
        }
      }
    }
    return xaxis;
  }

  get graphData(): number[][] {
    return this.statistic.map((platform) =>
      platform.dataGroup.map((period) => period.data)
    );
  }

  async mounted() {
    this.search();
  }

  async search() {
    const loader = this.$refs.loading as any;
    try {
      loader.start();
      await this.dashboardStoreModule.loadPeriodTurnover(this.platformid);
    loader.finish();
    } catch (e) {}
  }
}
</script>

<style>
</style>