<template>
  <div class="info-border pb-3">
    <div class="info-title mt-2 mx-3 white--text text-uppercase">
      <b> {{ title }} </b>
    </div>
    <v-row>
      <v-col cols="6">
        <div class="text-caption white--text ps-3 mt-2 mb-4"></div>
        <div class="mx-n5">
          <apexchart
            height="150"
            type="donut"
            :options="{
              chart: {
                zoom: {
                  enabled: false,
                },
                toolbar: {
                  show: false,
                },
                foreColor: '#ffffff',
              },
              dataLabels: {
                enabled: false,
              },
              legend: {
                show: false,
              },
              labels: labels,
              colors: colors,
              stroke: {
                colors: ['#242424'],
                width: 3,
              },
            }"
            :series="data"
          ></apexchart>
        </div>
      </v-col>
      <v-col cols="4" class="ms-n5">
        <div class="text-caption white--text mt-2 mb-4"></div>
        <div v-for="label,labelIndex in labels" :key="label">
          <v-row align="center" class="flex-nowrap ms-0">
            <v-col cols="auto" class="px-0 py-2"><div class="color-square" :style="`background: ${colors[labelIndex]}`"></div></v-col>
            <v-col cols="auto" class="px-0 py-2"><div class="ms-1 text-caption white--text game-label">{{label}}</div></v-col>
          </v-row>
          
        </div>
      </v-col>
      <v-col cols="2">
        <div class="text-caption text-right white--text mt-2 mb-3 ms-n2"></div>
        <div v-for="percentItem in percent" :key="percentItem" class="text-caption text-right white--text pb-1 ms-n2 me-n2">{{percentItem}}%</div>
      </v-col>
    </v-row>
  </div>
</template>

<script lang="ts">
import { Component, Vue, Prop } from "nuxt-property-decorator";

@Component({})
export default class DonutChart extends Vue {
  @Prop({ default: "" })
  title!: string;

  @Prop({ default: () => [] })
  labels!: string[];

  @Prop({ default: () => [] })
  data!: number[];

  get percent() {
    const sum = this.data.reduce((partial_sum, dataItem) => partial_sum + dataItem, 0);
    return this.data.map(dataItem => ((dataItem/sum)*100).toFixed(2));
  }

  colors: string[] = [
    "#CF3939",
    "#CFC039",
    "#39CF48",
    "#397ECF",
    "#8D39CF",
    "#898E94",
  ];
}
</script>

<style lang="scss" scoped>
.info-border {
  border: 1px solid #8a8a8a;
  border-radius: 10px;
  height: 260px;
}
.info-title {
  border-bottom: 2px solid #8a8a8a;
  padding-bottom: 4px;
  overflow:hidden; 
  white-space:nowrap; 
  text-overflow: ellipsis;
}
.color-square {
  width: 10px;
  height: 10px;
}
.game-label {
  overflow:hidden; 
  white-space:nowrap; 
  text-overflow: ellipsis;
}
</style>