<template>
  <div class="info-border pb-3">
    <div class="info-title mt-2 mx-3 white--text text-uppercase">
      <b> {{ title }} </b>
    </div>
    <v-row class="flex-nowrap">
      <v-col cols="auto">
        <div class="text-caption white--text ps-3">Game Name</div>
      </v-col>
      <v-col cols="auto" class="ms-auto">
        <div class="text-caption text-right white--text me-3">
          {{ valueText }}
        </div>
      </v-col>
    </v-row>
    <template v-for="(label, labelIndex) in labels">
      <v-row :key="label + '-data-'+labelIndex" class="ps-3 pe-3 flex-nowrap">
        <v-col cols="auto" class="pt-2 pb-3">
          <div class="text-caption white--text">{{ label }}</div>
        </v-col>
        <v-col cols="auto" class="ms-auto pt-2 pb-3">
          <div class="text-caption text-right white--text mb-3">
            {{ data[labelIndex] }}
          </div>
        </v-col>
      </v-row>
      <hr v-if="labelIndex < labels.length - 1" class="mx-3 mt-n6 mb-2" :key="label + '-line-'+labelIndex" />
    </template>
  </div>
</template>

<script lang="ts">
import { Component, Vue, Prop } from "nuxt-property-decorator";

@Component({})
export default class LabelValueChart extends Vue {
  @Prop({ default: "" })
  title!: string;

  @Prop({ default: "" })
  valueText!: string;

  @Prop({ default: () => [] })
  labels!: string[];

  @Prop({ default: () => [] })
  data!: number[];
}
</script>

<style lang="scss" scoped>
.info-border {
  border: 1px solid #8a8a8a;
  border-radius: 10px;
  height: 260px;
}
.info-title {
  border-bottom: 2px solid #8a8a8a;
  padding-bottom: 4px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.row + .row {
  margin-top: -12px;
}
</style>