<template>
  <div class="info-border">
    <div
      class="info-title align-center row my-2 mx-3 white--text text-uppercase"
    >
      <b> {{ title }} </b>
      <v-btn
        @click="selectPeriod('day')"
        text
        small
        class="ms-auto"
        :class="{
          'white--text': periodInput != 'day',
          orange: periodInput == 'day',
        }"
      >
        Daily
      </v-btn>
      <v-btn
        @click="selectPeriod('week')"
        text
        small
        :class="{
          'white--text': periodInput != 'week',
          orange: periodInput == 'week',
        }"
      >
        Weekly
      </v-btn>
      <v-btn
        @click="selectPeriod('month')"
        text
        small
        :class="{
          'white--text': periodInput != 'month',
          orange: periodInput == 'month',
        }"
      >
        Monthly
      </v-btn>
    </div>
    <apexchart
      class="mt-n4"
      height="220"
      type="line"
      :options="{
        chart: {
          type: 'line',
          zoom: {
            enabled: false,
          },
          toolbar: {
            show: false,
          },
          foreColor: '#ffffff',
        },
        stroke: {
          width: 4,
        },
        dataLabels: {
          enabled: false,
        },
        xaxis: {
          labels: {
            formatter: function (value, timestamp) {
              return formatDateByPeriod(value); 
            },
          },
        },
        yaxis: {
          labels: {
            formatter: abbreviateNumber,
          },
        },
        colors: colors,
        markers: {
          size: [4],
        },
      }"
      :colors="colors"
      :series="series"
    ></apexchart>
  </div>
</template>

<script lang="ts">
import { Component, Vue, Prop, Watch } from "nuxt-property-decorator";
import { abbreviateNumber } from "~/utils/math";
import { getModule } from "vuex-module-decorators";

import dashboardModule from "~/store/dashboard";

@Component({})
export default class LineGraph extends Vue {
  abbreviateNumber = abbreviateNumber;
  dashboardStoreModule = getModule(dashboardModule, this.$store);

  @Prop({ default: "" })
  title!: string;

  @Prop({ default: () => [] })
  xaxis!: string[];

  @Prop({ default: () => [] })
  data!: IPeriodDataGroup[];

  @Prop({ default: "" })
  period!: string;

  periodInput: string = this.period;

  platformNameById(id: string) {
    return (
      this.dashboardStoreModule.platforms.find((p) => p.id == id)?.name || id
    );
  }

  formatDateByPeriod(x: string) {
    const date = new Date(x);
    if (this.period == "month") {
      return `${this.monthNames[date.getMonth()]} ${date.getFullYear()}`;
    } else {
      return `${date.getDate()} ${this.monthNames[date.getMonth()]}`;
    }
  }

  get series() {
    const series = this.data.map((platform) => {
      return {
        name: this.platformNameById(platform.name),
        data: platform.dataGroup.map((item) => {
          return [new Date(item.time).getTime(), item.data];
        }),
      };
    });
    return series;
  }

  @Watch("period")
  onPeriodChange() {
    this.periodInput = this.period;
  }

  selectPeriod(period: string) {
    this.periodInput = period;
    this.$emit("update:period", this.periodInput);
  }

  colors: string[] = [
    "#CF3939",
    "#CFC039",
    "#39CF48",
    "#397ECF",
    "#8D39CF",
    "#898E94",
  ];

  monthNames = [
    "Jan",
    "Feb",
    "Mar",
    "Apr",
    "May",
    "Jun",
    "Jul",
    "Aug",
    "Sep",
    "Oct",
    "Nov",
    "Dec",
  ];
}
</script>

<style lang="scss" scoped>
.info-border {
  border: 1px solid #8a8a8a;
  border-radius: 10px;
  height: 260px;
}
.info-title {
  border-bottom: 2px solid #8a8a8a;
  padding-bottom: 4px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
</style>