<template>
  <div class="page">
    <v-container fluid>
      <SlideFadeAnimation>
        <div v-if="isContentShow" :key="`page-content`">
          <v-row align="center">
            <v-col cols="12" md="4">
              <TodayTurnOverStatisticCard :platformid="$route.params.platform" />
            </v-col>
            <v-col cols="12" md="4">
              <TodayActiveUserStatisticCard :platformid="$route.params.platform" />
            </v-col>
            <v-col cols="12" md="4">
              <TodayWinLoseStatisticCard :platformid="$route.params.platform" />
            </v-col>
          </v-row>
          <v-row>
            <v-col cols="12" md="8">
              <TurnOverPeriodLineGraph :platformid="$route.params.platform" />
              <!-- <LineGraph title="Turnover" :xaxis="monthList" :data="turnOverData" /> -->
            </v-col>
            <v-col cols="12" md="4" class="ps-1">
              <!-- <DonutChart title="TODAY TOP TURNOVER GAMES" :labels="turnOverByGameLabels" :data="turnOverByGameData" /> -->
              <TodayTopTurnoverDonutChart :platformid="$route.params.platform" />
            </v-col>
            <v-col cols="12" md="8">
              <ActiveUserPeriodLineGraph :platformid="$route.params.platform" />
              <!-- <LineGraph title="Active User" :xaxis="monthList" :data="turnOverData" /> -->
            </v-col>
            <v-col cols="12" md="4" class="ps-1">
              <!-- <DonutChart title="TODAY TOP GAME ACTIVE USERS" :labels="turnOverByGameLabels" :data="turnOverByGameData" /> -->
              <TodayTopActiveUserDonutChart :platformid="$route.params.platform" />
            </v-col>
            <v-col cols="12" lg="8">
               <WinLosePeriodLineGraph :platformid="$route.params.platform" />
              <!-- <LineGraph title="Win &amp; Lose" :xaxis="monthList" :data="turnOverData" /> -->
            </v-col>
            <v-col cols="12" md="6" lg="2" class="px-lg-1">
              <TodayTopWinLoseLabelValueChart :platformid="$route.params.platform" />
              <!-- <LabelValueChart title="GAME" :labels="turnOverByGameLabels" :data="turnOverByGameData" :valueText="`W/L`" /> -->
            </v-col>
            <v-col cols="12" md="6" lg="2" class="px-lg-1">
              <!-- <LabelValueChart title="GAME" :labels="turnOverByGameLabels" :data="turnOverByGameData" :valueText="`W/L`" /> -->
              <TodayTopXRewardLabelValueChart :platformid="$route.params.platform" />
            </v-col>
          </v-row>
        </div>
      </SlideFadeAnimation>
    </v-container>
  </div>
</template>

<script lang="ts">
import { Component, Vue } from "nuxt-property-decorator";
import SlideFadeAnimation from "~/components/animations/SlideFadeAnimation.vue";
import StatisticCard from "~/components/cards/StatisticCard.vue";
import LineGraph from "~/components/charts/LineGraph.vue";
import DonutChart from "~/components/charts/DonutChart.vue";
import LabelValueChart from "~/components/charts/LabelValueChart.vue"
import TodayTurnOverStatisticCard from "~/components/cards/data/TodayTurnOverStatisticCard.vue"
import TodayActiveUserStatisticCard from "~/components/cards/data/TodayActiveUserStatisticCard.vue"
import TodayWinLoseStatisticCard from "~/components/cards/data/TodayWinLoseStatisticCard.vue"
import TurnOverPeriodLineGraph from "~/components/charts/data/TurnOverPeriodLineGraph.vue"
import ActiveUserPeriodLineGraph from "~/components/charts/data/ActiveUserPeriodLineGraph.vue"
import WinLosePeriodLineGraph from "~/components/charts/data/WinLosePeriodLineGraph.vue"
import TodayTopTurnoverDonutChart from "~/components/charts/data/TodayTopTurnoverDonutChart.vue"
import TodayTopActiveUserDonutChart from "~/components/charts/data/TodayTopActiveUserDonutChart.vue"
import TodayTopWinLoseLabelValueChart from "~/components/charts/data/TodayTopWinLoseLabelValueChart.vue"
import TodayTopXRewardLabelValueChart from "~/components/charts/data/TodayTopXRewardLabelValueChart.vue"

import { getModule } from "vuex-module-decorators";

import dashboardModule from "~/store/dashboard";

@Component({
  components: {
    SlideFadeAnimation,
    StatisticCard,
    LineGraph,
    DonutChart,
    LabelValueChart,
    TodayTurnOverStatisticCard,
    TodayActiveUserStatisticCard,
    TodayWinLoseStatisticCard,
    TurnOverPeriodLineGraph,
    ActiveUserPeriodLineGraph,
    WinLosePeriodLineGraph,
    TodayTopTurnoverDonutChart,
    TodayTopActiveUserDonutChart,
    TodayTopWinLoseLabelValueChart,
    TodayTopXRewardLabelValueChart
  },
})
export default class Overview extends Vue {
  dashboardStoreModule = getModule(dashboardModule, this.$store);
  isContentShow:boolean = false;

  beforeMount() {
    this.dashboardStoreModule.reCancelTokenLoadOverview();
  }

  mounted() {
    this.isContentShow = true;
  }

  destroyed() {
    this.dashboardStoreModule.cancelLoadOverview();
  }
}
</script>

<style lang="scss" scoped>
.page {
  width: 100vw;
  height: 100vh;
  background: #242424;
}
.spinix-logo {
  width: 310px;
  height: auto;
}
.info-border {
  border: 1px solid #8a8a8a;
  border-radius: 10px;
  height: 260px;
}
.info-title {
  border-bottom: 2px solid #8a8a8a;
  padding-bottom: 4px;
}
</style>