<template>
  <div class="page">
    <v-container fluid>
      <SlideFadeAnimation>
        <div v-if="isContentShow" :key="`page-content`">
          <v-row align="center">
            <v-col cols="12" md="4">
              <MemberADonutChart />
            </v-col>
            <v-col cols="12" md="4">
              <MemberBDonutChart />
            </v-col>
            <v-col cols="12" md="4">
              <NewMemberDonutChart />
            </v-col>
          </v-row>
          <br />
          <h3 class="white--text mb-2">Daily Customer</h3>
          <v-data-table
            dark
            :headers="tableHeaders"
            :items="[]"
            :options="{ itemsPerPage: 1000 }"
            disable-pagination
            :hide-default-footer="true"
            height="calc(100vh - 205px)"
          >
            <template slot="no-data"><div></div></template>
          </v-data-table>
        </div>
      </SlideFadeAnimation>
    </v-container>
  </div>
</template>

<script lang="ts">
import { Component, Vue } from "nuxt-property-decorator";
import SlideFadeAnimation from "~/components/animations/SlideFadeAnimation.vue";
import StatisticCard from "~/components/cards/StatisticCard.vue";
import LineGraph from "~/components/charts/LineGraph.vue";
import DonutChart from "~/components/charts/DonutChart.vue";
import LabelValueChart from "~/components/charts/LabelValueChart.vue";
import TodayTurnOverStatisticCard from "~/components/cards/data/TodayTurnOverStatisticCard.vue";
import TodayActiveUserStatisticCard from "~/components/cards/data/TodayActiveUserStatisticCard.vue";
import TodayWinLoseStatisticCard from "~/components/cards/data/TodayWinLoseStatisticCard.vue";
import TurnOverPeriodLineGraph from "~/components/charts/data/TurnOverPeriodLineGraph.vue";
import ActiveUserPeriodLineGraph from "~/components/charts/data/ActiveUserPeriodLineGraph.vue";
import WinLosePeriodLineGraph from "~/components/charts/data/WinLosePeriodLineGraph.vue";
import TodayTopTurnoverDonutChart from "~/components/charts/data/TodayTopTurnoverDonutChart.vue";
import TodayTopActiveUserDonutChart from "~/components/charts/data/TodayTopActiveUserDonutChart.vue";
import TodayTopWinLoseLabelValueChart from "~/components/charts/data/TodayTopWinLoseLabelValueChart.vue";
import TodayTopXRewardLabelValueChart from "~/components/charts/data/TodayTopXRewardLabelValueChart.vue";
import MemberADonutChart from "~/components/charts/data/MemberADonutChart.vue";
import MemberBDonutChart from "~/components/charts/data/MemberBDonutChart.vue";
import NewMemberDonutChart from "~/components/charts/data/NewMemberDonutChart.vue";

import { getModule } from "vuex-module-decorators";

import dashboardModule from "~/store/dashboard";

@Component({
  components: {
    MemberADonutChart,
    MemberBDonutChart,
    NewMemberDonutChart,
    SlideFadeAnimation,
    StatisticCard,
    LineGraph,
    DonutChart,
    LabelValueChart,
    TodayTurnOverStatisticCard,
    TodayActiveUserStatisticCard,
    TodayWinLoseStatisticCard,
    TurnOverPeriodLineGraph,
    ActiveUserPeriodLineGraph,
    WinLosePeriodLineGraph,
    TodayTopTurnoverDonutChart,
    TodayTopActiveUserDonutChart,
    TodayTopWinLoseLabelValueChart,
    TodayTopXRewardLabelValueChart,
  },
})
export default class Overview extends Vue {
  dashboardStoreModule = getModule(dashboardModule, this.$store);
  isContentShow: boolean = false;

  get tableHeaders() {
    return [
      { text: "Checkin", value: "timestamp" },
      { text: "Date", value: "platform_user_id" },
      { text: "CheckinID", value: "user_id" },
      { text: "Customer", value: "round_id" },
      { text: "Name", value: "id" },
      { text: "MemberID", value: "type", align: "center" },
      { text: "Ticket", value: "currency", sortable: false },
    ];
  }

  beforeMount() {
    this.dashboardStoreModule.reCancelTokenLoadOverview();
  }

  mounted() {
    this.isContentShow = true;
  }

  destroyed() {
    this.dashboardStoreModule.cancelLoadOverview();
  }
}
</script>

<style lang="scss" scoped>
.page {
  width: 100vw;
  height: 100vh;
  background: #242424;
}
.spinix-logo {
  width: 310px;
  height: auto;
}
.info-border {
  border: 1px solid #8a8a8a;
  border-radius: 10px;
  height: 260px;
}
.info-title {
  border-bottom: 2px solid #8a8a8a;
  padding-bottom: 4px;
}
</style>
