$primary : #c39141;
$secondary: #242424;
$gray: #B9B9B9;
$white: #fff;
$danger: #EB5757;
$lightblue: #AFD9F0;
$lightgray: #F2F2F2;
$selectblue: #0484d2;
$nobel: #989898;
$solitude: #E3E8EE;
$hawkesBlue: #DFE2E9;
$gainsboro: #DADADA;
$silver: #C4C4C4;
$summerSky: #35A3E0;
$pacificBlue: #168FD8;

$sidebar-width: 200px;
$sidebar-height: 60px;