@import "./variables";

html,
body {
  font-family: "Roboto", sans-serif;
  overflow: hidden;
}

.v-application a {
  color: #c39141!important;
}
.v-btn--fab.v-size--small {
  height: 20px!important;
  width: 20px!important;
}

.img-fluid {
  max-width: 100%;
  height: auto;
}

.h-100 {
  height: 100%;
}

.v-pagination__more {
  color: #c39141;
}

thead {
  tr {
    th {
      background: #c39141 !important;
      font-size: 14px !important;
      color: #000 !important;
      border: 1px solid #fff !important;
      * {
        color: #000 !important;
      }
    }
  }
}

td {
  font-weight: 600;
}

.report {
  position: relative;
  .v-data-table__wrapper::-webkit-scrollbar {
    display: none;
  }

  /* Hide scrollbar for IE, Edge add Firefox */
  .v-data-table__wrapper {
    -ms-overflow-style: none;
    scrollbar-width: none; /* Firefox */
  }
  .v-data-table__wrapper > table {
    // table-layout: fixed;
  }
  thead {
    tr > th[role="columnheader"] {
      text-align: center !important;
      border-top: none !important;
    }
  }
  tbody > tr:first-child {
    // position: absolute;
    // display: table;
    // table-layout: fixed;
    // width: calc(100%);
    // top: 48px;
    // left: 0px;

    // table-layout: fixed;
    // td {
    //   background: #388c92;
    //   // text-align: left!important;
    // }
  }
}

tbody {
  tr {
    background: #242424;
    td {
      color: white;
      border: 1px solid #fff !important;
    }
  }
}

table {
  border-collapse: collapse;
}
th:not([scope="row"]) {
  // position: -webkit-sticky;
  // position: sticky;
  top: 0;
  z-index: 2;
}

.theme--light.v-data-table
  > .v-data-table__wrapper
  > table
  > tbody
  > tr:hover:not(.v-data-table__expanded__content):not(.v-data-table__empty-wrapper) {
  background: #242424;
}

.position-relative {
  position: relative;
}

.vdpr-datepicker__calendar-dialog {
  background-color: #252525 !important;
}

.vdpr-datepicker__calendar {
  background-color: #252525 !important;
}

.vdpr-datepicker__calendar-table {
  td {
    background-color: #252525 !important;
    color: #fff !important;
    font-weight: 600 !important;
  }

  td.faded {
    color: #ccc !important;
    font-weight: 400 !important;
  }
}

.vdpr-datepicker__calendar-table .highlighted {
  background-color: #398c92 !important;
}

table.vdpr-datepicker__calendar-table {
  border-collapse: collapse !important;
}

span.vdpr-datepicker__calendar-control-next,
span.vdpr-datepicker__calendar-control-prev {
  color: #c39141 !important;
  border: 3px solid #c39141 !important;
  font-weight: 600 !important;
}
span.vdpr-datepicker__calendar-month-year {
  color: #fff;
}
.vdpr-datepicker__calendar-input-wrapper:first-child {
  display: none;
}

.vdpr-datepicker__calendar-input-wrapper {
  > span {
    color: #fff;
    font-weight: 600;
  }
}

.vdpr-datepicker__button-submit,
.vdpr-datepicker__button-reset {
  display: none !important;
}

.v-list {
  background: #252525 !important;
}

.v-list-item {
  color: white !important;
}

.v-input--selection-controls__input .v-icon.mdi-checkbox-blank-outline {
  color: white !important;
}

.vdpr-datepicker__calendar-input-time {
  display: block !important;
}

i.v-data-table-header__icon {
  width: 0 !important;
}

th:hover > i.v-data-table-header__icon,
th.active > i.v-data-table-header__icon {
  width: 18px !important;
}

/* Hide scrollbar for Chrome, Safari and Opera */
.scrollbar-hidden::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge add Firefox */
.scrollbar-hidden {
  -ms-overflow-style: none;
  scrollbar-width: none; /* Firefox */
}

.month-picker-input-container {
  z-index: 1;
}

.month-picker-input {
  padding: 0.7em 1.5em!important;
  border: 1px solid rgb(255 255 255 / 23%)!important;
  color: white;
}

.month-picker__container {
  color: black;
}

