<template>
  <div class="page">
    <v-container>
      <h2 class="white--text">Membership Program / Create Membership Program</h2>

      <SlideFadeAnimation>
        <div v-if="isContentShow" :key="`page-content`">
          <div class="login-card">
            <v-row justify="center">
              <v-col cols="12" md="8">
                <div class="text-center pa-12">
                  <div class="mt-10"></div>
                  <h3 class="white--text">Create Membership Program</h3>
                  <br />
                  <v-row align="center" class="py-0">
                    <v-col cols="auto">
                      <div class="white--text pb-6">ชื่อ</div>
                    </v-col>
                    <v-col cols class="py-0">
                      <v-text-field label="ชื่อ" placeholder="ชื่อ" outlined dark v-model="name"></v-text-field>
                    </v-col>
                  </v-row>
                  <v-row align="center">
                    <v-col cols="auto" class="py-0">
                      <div class="white--text pb-6">ราคา default</div>
                    </v-col>
                    <v-col cols class="py-0">
                      <v-text-field label="ราคา default" placeholder="ราคา default" type="number" outlined dark
                        v-model="price"></v-text-field>
                    </v-col>
                  </v-row>
                  <br>
                  <v-btn @click="create()" block color="primary" dark>Create</v-btn>
                </div>
              </v-col>
            </v-row>
          </div>
        </div>
      </SlideFadeAnimation>
    </v-container>
    <Loading ref="loading" />
    <SelectProgramPopup ref="selectprogram" />
  </div>
</template>

<script lang="ts">
import { Component, Vue, Watch } from "nuxt-property-decorator";
import SlideFadeAnimation from "~/components/animations/SlideFadeAnimation.vue";
import CustomerPopup from "~/components/popup/CustomerPopup.vue";
import SelectProgramPopup from "~/components/popup/SelectProgramPopup.vue"
import { showDialog } from "~/utils/dialog";
import Loading from "~/components/Loading.vue";
import { objToQueryParams } from "~/utils/string";
import { formatNumberWithDecimal } from "~/utils/math";

@Component({
  components: {
    Loading,
    SlideFadeAnimation,
    CustomerPopup,
    SelectProgramPopup
  },
})
export default class Compo extends Vue {
  isContentShow: boolean = false;
  name = "";
  price = 0;
  formatNumberWithDecimal = formatNumberWithDecimal

  async mounted() {
    this.isContentShow = true;
    const loader = this.$refs.loading as any;
    loader.start();


    loader.finish();
  }


  async create() {
    if (!this.name) {
      showDialog("กรุณากรอก ชื่อ", "Membership Program");
    } else if (this.price <= 0) {
      showDialog("กรุณากรอก ราคา ให้ถูกต้อง", "Membership Program");
    } else {
      const loader = this.$refs.loading as any;
      try {
        loader.start();
        const repository = this.$repositories.member_program;
        const result: any = await repository.create({
          name: this.name,
          price: this.price,
        });

        this.$nextTick(() => {
          showDialog(result.message, "Membership Program");
        });

        loader.finish();
      } catch (e: any) {
        this.$nextTick(() => {
          showDialog(e, "Membership Program");
        });
        loader.finish();
      }
    }
  }
}
</script>

<style lang="scss" scoped>
.page {
  width: 100vw;
  height: 100vh;
  background: #242424;
}

.page-content-header {
  position: relative;
  z-index: 200;
  background: #212121;
}

.spinix-logo {
  width: 310px;
  height: auto;
}

.info-border {
  border: 1px solid #8a8a8a;
  border-radius: 10px;
  height: 260px;
}

.info-title {
  border-bottom: 2px solid #8a8a8a;
  padding-bottom: 4px;
}
</style>
