<template>
  <div>
    <v-dialog v-model="dialog" :max-width="options.width" :style="{ zIndex: options.zIndex }" @keydown.esc="close">
      <div class="white py-1 overflow-hidden">
        <div class="popup-header secondary px-2">
          <v-row align="center">
            <v-col cols>
              <div class="white--text">
                <h3>Customer Detail</h3>
              </div>
            </v-col>
            <v-col cols="auto">
              <v-btn small @click="close">
                <div class="primary--text" style="font-size: 12px">Close</div>
              </v-btn>
            </v-col>
          </v-row>
        </div>
        <br />
        <v-row>
          <v-col cols="auto">
            <div>
              <!-- <img
              src="http://vpfit.logiccandy.com/myimage/defaults/_profile.jpg"
              class="img-cus"
              alt=""
            /> -->
              <!-- <br /> -->
              <div class="ml-4"><b> CustomerID:</b> {{ customer._id }}</div>
            </div>
          </v-col>
          <v-col cols>
            <!-- <div>
            <div><b> TicketID:</b> TIC-0002634</div>
            <div><b> Status:</b> Paid</div>
            <div><b> Expiration Date:</b> 2023-09-12</div>
            <div><b> All Active Contract Expiry:</b> 2023-09-12</div>
            <div><b> CustomerID:</b> VP0422</div>
            <div><b> Name:</b> ณัจยา แก้วสีใส</div>
          </div> -->
          </v-col>
          <v-col cols="auto" class="ml-auto">
            <!-- <v-chip class="ma-2" color="primary" large>
            <div class="px-3">MB</div>
          </v-chip>
          <v-chip class="ma-2" color="primary" large>
            <div class="px-3">PT</div>
          </v-chip>
          <v-chip class="ma-2" color="primary" large>
            <div class="px-3">PO</div>
          </v-chip> -->
          </v-col>
        </v-row>
        <br />
        <v-row>
          <v-col cols="auto">
            <div class="ml-5">
              <div><b> ชื่อ:</b> {{ customer.name || '' }}</div>
              <div><b> MemberType:</b> {{ (customer.member_type || '').toUpperCase() }}</div>
              <div><b> ที่อยู่:</b> {{ (customer.address || '') }}</div>
              <div><b> บุคคลที่สามารถติดต่อได้:</b> {{ customer.contactable_info || '' }}</div>
              <div><b> เบอร์โทรศัพท์:</b> {{ customer.mobileNo }}</div>
              <div><b> LINE ID:</b> {{ customer.lineid }}</div>
              <div><b> Facebook:</b> {{ customer.facebook }}</div>
              <!-- <div><b> Program:</b> {{ customer.current_program }}</div>
              <div><b> Traniner:</b> {{
                customer.trainer ? `${customer.trainer.name} |
                              ฿${formatNumberWithDecimal(customer.trainer.price)}` : ''
              }}</div> -->
            </div>
          </v-col>
          <v-col cols>
            <div class="ml-5">
              <!-- <table>
              <tr class="stamp-row">
                <td class="stamp-col">
                  <img
                    src="@/assets/images/logo/cube-logo.png"
                    class="img-fluid p-4"
                    alt=""
                  />
                </td>
                <td class="stamp-col"></td>
                <td class="stamp-col"></td>
                <td class="stamp-col"></td>
                <td class="stamp-col"></td>
              </tr>
              <tr>
                <td class="stamp-col"></td>
                <td class="stamp-col"></td>
                <td class="stamp-col"></td>
                <td class="stamp-col"></td>
                <td class="stamp-col"></td>
              </tr>
            </table> -->
              <v-row align="center">
                <v-col cols="auto">
                  <img src="@/assets/images/logo/cube-logo.png" class="img-fluid p-4" alt="" style="width:50px" />
                </v-col>
                <v-col cols="auto" class="pl-0">
                  <b> Stamp: x{{ totalCheckin }}</b>
                </v-col>
              </v-row>
              <v-row align="center">
                <v-col cols="auto" class="pr-1 pt-0">
                  <b> เช็คอินล่าสุดเมื่อ: </b>
                </v-col>
                <v-col cols="auto" class="pl-0 pt-0">
                  {{ lastCheckin }}
                </v-col>
              </v-row>
              <v-row align="center">
                <v-col cols="auto" class="pr-1 pt-0">
                  <b> ปีนี้เช็คอินกี่ครั้ง: </b>
                </v-col>
                <v-col cols="auto" class="pl-0 pt-0">
                  {{ yearCheckin }} ครั้ง
                </v-col>
              </v-row>
              <v-row align="center">
                <v-col cols="auto" class="pr-1 pt-0">
                  <b> เดือนนี้เช็คอินกี่ครั้ง: </b>
                </v-col>
                <v-col cols="auto" class="pl-0 pt-0">
                  {{ monthCheckin }} ครั้ง
                </v-col>
              </v-row>
              <!-- <v-row align="center">
                <v-col cols="auto" class="pr-1 pt-0">
                  <b> อาทิตย์นี้เช็คอินกี่ครั้ง: </b>
                </v-col>
                <v-col cols="auto" class="pl-0 pt-0">
                  {{ new Date().toISOString() }}
                </v-col>
              </v-row> -->
            </div>
            <div class="ma-5">
              <v-row>
                <v-col cols="auto" class="ml-auto">
                  <v-btn color="primary" @click="openCheckInPtHistory()" dark>History PT</v-btn>
                </v-col>
                <v-col cols="auto" >
                  <v-btn color="primary" @click="openCheckInPt()" dark>Check in PT</v-btn>
                </v-col>
              </v-row>
              <v-row>
                <v-col cols="auto" class="ml-auto">
                  <v-btn color="primary" @click="history = true" dark>History</v-btn>
                </v-col>
                <v-col cols="auto">
                  <a :href="`/membership/qrcode?mid=${customer._id}`" target="_blank">
                    <v-btn color="primary" dark>Check in</v-btn></a>
                </v-col>
              </v-row>
            </div>
          </v-col>
        </v-row>
      </div>

    </v-dialog>
    <v-dialog v-model="history" :max-width="options.width" :style="{ zIndex: options.zIndex + 1 }" @keydown.esc="close">
      <v-sheet height="600">
        <v-toolbar flat>
          <v-btn outlined class="mr-4" color="grey darken-2" @click="setToday">
            Today
          </v-btn>
          <v-btn fab text small color="grey darken-2" @click="prev">
            <v-icon small>
              mdi-chevron-left
            </v-icon>
          </v-btn>
          <v-btn fab text small color="grey darken-2" @click="next">
            <v-icon small>
              mdi-chevron-right
            </v-icon>
          </v-btn>
          <v-toolbar-title v-if="$refs.calendar">
            {{ $refs.calendar.title }}
          </v-toolbar-title>
          <v-spacer></v-spacer>
          <v-menu bottom right>
            <template v-slot:activator="{ on, attrs }">
              <v-btn outlined color="grey darken-2" v-bind="attrs" v-on="on">
                <span>{{ typeToLabel[type] }}</span>
                <v-icon right>
                  mdi-menu-down
                </v-icon>
              </v-btn>
            </template>
            <v-list>
              <v-list-item @click="type = 'day'">
                <v-list-item-title>Day</v-list-item-title>
              </v-list-item>
              <v-list-item @click="type = 'week'">
                <v-list-item-title>Week</v-list-item-title>
              </v-list-item>
              <v-list-item @click="type = 'month'">
                <v-list-item-title>Month</v-list-item-title>
              </v-list-item>
              <v-list-item @click="type = '4day'">
                <v-list-item-title>4 days</v-list-item-title>
              </v-list-item>
            </v-list>
          </v-menu>
        </v-toolbar>
        <v-calendar ref="calendar" v-model="focus" :type="type" @click:event="showEvent" @click:more="viewDay"
          @click:date="viewDay" @change="updateRange" color="primary">
          <template v-slot:day="{ past, date }">
            <div class="fill-height">
              <template v-if="indexCheckin[date]">
                <img src="@/assets/images/logo/cube-logo.png" class="d-block mx-auto img-fluid p-4" alt=""
                  style="width:60px" />
                <!-- {{ date }}
                <v-sheet v-for="(percent, i) in tracked[date]" :key="i" :title="category[i]" :color="colors[i]"
                  :width="`${percent}%`" height="100%" tile></v-sheet> -->
              </template>
            </div>
          </template>
        </v-calendar>
      </v-sheet>

    </v-dialog>
    <Loading ref="loading" />
    <SelectProgramCheckinHistoryPopup ref="SelectProgramCheckinHistoryPopup" />
    <SelectProgramCheckinPopup ref="SelectProgramCheckinPopup" />
  </div>
</template>

<script>
import { showDialog } from "~/utils/dialog";
import Loading from "~/components/Loading.vue";
import SelectProgramCheckinPopup from "~/components/popup/SelectProgramCheckinPopup.vue";
import SelectProgramCheckinHistoryPopup from "~/components/popup/SelectProgramCheckinHistoryPopup.vue"
import { formatNumberWithDecimal } from "~/utils/math"

export default {
  components: {
    Loading,
    SelectProgramCheckinPopup,
    SelectProgramCheckinHistoryPopup
  },
  data() {
    return {
      dialog: false,
      history: false,
      customer: {},
      document: {},
      today: '2023-01-10',
      focus: '',
      // tracked: {
      //   '2019-01-09': [23, 45, 10],
      //   '2019-01-08': [10],
      //   '2019-01-07': [0, 78, 5],
      //   '2019-01-06': [0, 0, 50],
      //   '2019-01-05': [0, 10, 23],
      //   '2019-01-04': [2, 90],
      //   '2019-01-03': [10, 32],
      //   '2019-01-02': [80, 10, 10],
      //   '2019-01-01': [20, 25, 10],
      // },
      type: 'month',
      typeToLabel: {
        month: 'Month',
        week: 'Week',
        day: 'Day',
        '4day': '4 Days',
      },
      selectedEvent: {},
      selectedElement: null,
      selectedOpen: false,
      events: [],
      colors: ['blue', 'indigo', 'deep-purple', 'cyan', 'green', 'orange', 'grey darken-1'],
      names: ['Meeting', 'Holiday', 'PTO', 'Travel', 'Event', 'Birthday', 'Conference', 'Party'],
      category: ['Development', 'Meetings', 'Slacking'],
      options: {
        color: "grey lighten-3",
        width: 800,
        zIndex: 200,
        noconfirm: false,
      },
      checkinList: [],
      monthNames: ["January", "February", "March", "April", "May", "June",
        "July", "August", "September", "October", "November", "December"
      ]
    };
  },
  computed: {
    totalCheckin() {
      return this.checkinList?.length
    },
    yearCheckin() {
      const today = new Date()
      return this.checkinList.filter((item) => item.year == today.getFullYear())?.length
    },
    monthCheckin() {
      const today = new Date()
      return this.checkinList.filter((item) => item.month == today.getMonth() + 1)?.length
    },
    lastCheckin() {
      if (!this.checkinList || !this.checkinList.length) {
        return '-'
      }
      const result = new Date(Math.max.apply(null, this.checkinList.map(item => new Date(item.checkin_date))))
      console.log('result', result)
      return `${`0${result.getDate()}`.slice(-2)} ${this.monthNames[result.getMonth()]} ${result.getFullYear()} ${result.getHours()}:${result.getMinutes()}`
    },
    indexCheckin() {
      const indexList = {}
      for (let i = 0; i < this.checkinList.length; i++) {
        const result = new Date(this.checkinList[i].checkin_date)
        indexList[`${result.getFullYear()}-${`0${result.getMonth() + 1}`.slice(-2)}-${`0${result.getDate()}`.slice(-2)}`] = true
      }
      return indexList
    }
  },
  methods: {
    formatNumberWithDecimal: formatNumberWithDecimal,
    openCheckInPt() {
      this.$refs.SelectProgramCheckinPopup?.open(this.customer._id, this.customer.name)
    },
    openCheckInPtHistory() {
      this.$refs.SelectProgramCheckinHistoryPopup?.open(this.customer._id, this.customer.name)
    },
    viewDay({ date }) {
      this.focus = date
      this.type = 'day'
    },
    getEventColor(event) {
      return event.color
    },
    setToday() {
      this.focus = ''
    },
    prev() {
      this.$refs.calendar.prev()
    },
    next() {
      this.$refs.calendar.next()
    },
    showEvent({ nativeEvent, event }) {
      const open = () => {
        this.selectedEvent = event
        this.selectedElement = nativeEvent.target
        requestAnimationFrame(() => requestAnimationFrame(() => this.selectedOpen = true))
      }

      if (this.selectedOpen) {
        this.selectedOpen = false
        requestAnimationFrame(() => requestAnimationFrame(() => open()))
      } else {
        open()
      }

      nativeEvent.stopPropagation()
    },
    updateRange({ start, end }) {
      const events = []

      const min = new Date(`${start.date}T00:00:00`)
      const max = new Date(`${end.date}T23:59:59`)
      const days = (max.getTime() - min.getTime()) / 86400000
      const eventCount = this.rnd(days, days + 20)

      for (let i = 0; i < eventCount; i++) {
        const allDay = this.rnd(0, 3) === 0
        const firstTimestamp = this.rnd(min.getTime(), max.getTime())
        const first = new Date(firstTimestamp - (firstTimestamp % 900000))
        const secondTimestamp = this.rnd(2, allDay ? 288 : 8) * 900000
        const second = new Date(first.getTime() + secondTimestamp)

        events.push({
          name: this.names[this.rnd(0, this.names.length - 1)],
          start: first,
          end: second,
          color: this.colors[this.rnd(0, this.colors.length - 1)],
          timed: !allDay,
        })
      }

      this.events = events
    },
    rnd(a, b) {
      return Math.floor((b - a + 1) * Math.random()) + a
    },
    async getCheckinBymember(mid) {
      const loader = this.$refs.loading;
      try {
        loader.start();
        const memberRepository = this.$repositories.member;
        const result = await memberRepository.getCheckinBymember(mid);
        this.checkinList = result.existing

        // this.gameResultUrl = result.data.;
        loader.finish();
      } catch (e) {
        this.$nextTick(() => {
          showDialog(e, "Get Member");
        });
        loader.finish();
      }
    },
    open(customer, document) {
      this.dialog = true;
      this.customer = customer;
      // this.getCheckinBymember(customer._id)
      this.document = document;
    },
    formatDate(dateString) {
      if (!dateString) return dateString;
      return dateString.replace(".000Z", "").replace("T", " ");
    },
    close() {
      this.dialog = false;
    },
  },
  mounted() {
    // this.$refs.calendar.checkChange()
  }
};
</script>

<style scoped>
td {
  text-align: right;
}

th {
  text-align: left;
}

.img-cus {
  width: 150px;
  height: 150px;
  margin-left: 15px;
}

.stamp-col {
  border: 2px solid #000;
  width: 80px;
  height: 80px;
}
</style>
