<template>
  <div>
    <v-dialog v-model="dialog" :max-width="800" :style="{ zIndex: 200 }" @keydown.esc="close">
      <div class="secondary py-1">
        <div class="popup-header secondary px-2">
          <v-row align="center">
            <v-col cols>
              <div class="white--text">
                <h3> Program List of {{ member_name }}</h3>
              </div>
            </v-col>
            <v-col cols="auto">
              <v-btn small @click="close">
                <div class="primary--text" style="font-size: 12px">Close</div>
              </v-btn>
            </v-col>
          </v-row>
        </div>
        <br />
        <v-row>
          <v-col cols>
            <v-btn class="mb-5" block color="primary" @click="selectProgram()">
              Add Program
            </v-btn>
            <!-- <br> -->
            <v-data-table id="table" dark :headers="tableHeaders" :items="program_sell_list"
              :options="{ itemsPerPage: 1000 }" disable-pagination :hide-default-footer="true">
              <template v-slot:[`item.member_type`]="{ item }">
                <div style="text-transform: uppercase;">
                  {{ item.member_type }}
                </div>
              </template>
              <template v-slot:[`item.sell_price`]="{ item }">
                <div>
                  {{ formatNumberWithDecimal(item.sell_price) }}
                </div>
              </template>
              <template v-slot:[`item.start_date`]="{ item }">
                <div>
                  {{ item.start_date ? item.start_date.split("T")[0] : '' }}
                </div>
              </template>
              <template v-slot:[`item.expiry_date`]="{ item }">
                <div>
                  {{ item.start_date ? item.start_date.split("T")[0] : '' }}
                </div>
              </template>

              <!-- <template v-slot:[`item.action`]="{ item }">
                <div class="text-center py-2">
                  <v-btn color="primary">remove</v-btn>
                </div>
              </template> -->
              <template slot="no-data">
                <div></div>
              </template>
            </v-data-table>
          </v-col>
        </v-row>
      </div>
    </v-dialog>
    <Loading ref="loading" />
    <SelectProgramPopup ref="selectprogram" />
  </div>
</template>

<script>
import Loading from "~/components/Loading.vue";
import SelectProgramPopup from "~/components/popup/SelectProgramPopup.vue"
import { formatNumberWithDecimal } from "~/utils/math";

export default {
  components: {
    Loading,
    SelectProgramPopup
  },
  data() {
    return {
      dialog: false,
      options: {
        color: "grey lighten-3",
        width: 800,
        zIndex: 200,
        noconfirm: false,
      },
      menu4: false,
      menu5: false,
      member_id: '',
      member_name: "",
      program_sell_list: []
    };
  },
  watch: {
    program() {
      this.price = (Number(this.program?.price) || 0) + (Number(this.trainer?.price) || 0)
    },
    trainer() {
      this.price = (Number(this.program?.price) || 0) + (Number(this.trainer?.price) || 0)
    }
  },
  computed: {
    tableHeaders() {
      return [
        { text: "Program", value: "program_name" },
        { text: "Trainer", value: "trainer_name" },
        { text: "จำนวนครั้งทั้งหมด", value: "times" },
        { text: "จำนวนครั้งที่เหลือ", value: "remaining_times" },
        { text: "Start Date", value: "start_date" },
        { text: "Expiry Date", value: "expiry_date" },
        { text: "Price", value: "sell_price" },
        // { text: "Action", value: "action" },
      ];
    }
  },
  methods: {
    formatNumberWithDecimal: formatNumberWithDecimal,
    async open(member_id, member_name) {
      this.member_id = member_id
      this.member_name = member_name
      this.member_list = []
      const loader = this.$refs.loading;
      loader.start();
      const isLoadable = await this.getProgramSellList()
      loader.finish();
      if (isLoadable) {
        this.dialog = true;
        // this.callback = callback
      }
    },
    formatDate(dateString) {
      if (!dateString) return dateString;
      return dateString.replace(".000Z", "").replace("T", " ");
    },
    select() {
      if (!this.program || !this.program_start_date || !this.program_expiry_date || !this.trainer) {
        alert("กรุณากรอกข้อมูลให้ครบ")
        return;
      }
      else if (this.times < 1) {
        alert("กรุณากรอกจำนวนครั้งให้มากกว่า 0")
        return;
      }
      if (this.callback) {
        this.callback(this.program, this.program_start_date, this.program_expiry_date, this.trainer, this.price, this.times)
        this.close()
      }
    },
    close() {
      this.dialog = false;
      this.callback = null
    },
    async selectProgram() {
      (this.$refs.selectprogram)?.open(this.selectProgramCallback)
    },

    async selectProgramCallback(program, program_start_date, program_expiry_date, trainer, addonprice, times) {
      const selected_program = {
        program: program,
        trainer: trainer,
        program_id: program._id,
        sale_id: '',
        sell_price: (Number(addonprice) || 0),
        times: (Number(times) || 0),
        sell_date: new Date().toISOString(),
        start_date: program_start_date,
        expiry_date: program_expiry_date,
      }
      const programRepo = this.$repositories.program;
      const result2 = await programRepo.createSell({
        program_id: selected_program.program._id,
        member_id: this.member_id,
        trainer_id: selected_program.trainer._id,
        program_name: selected_program.program.name,
        trainer_name: selected_program.trainer.name,
        sell_price: Number(selected_program.sell_price),
        sell_date: selected_program.sell_date,
        start_date: selected_program.start_date,
        expiry_date: selected_program.expiry_date,
        times: selected_program.times,
        remaining_times: selected_program.times,
      });
      alert(result2.message);
      this.getProgramSellList()
    },
    async getProgramSellList() {
      try {
        const repo = this.$repositories.trainer_program_sale;
        const result = await repo.list({ customer_id: this.member_id });
        this.program_sell_list = result.list;
        return true
      } catch (e) {
        alert(e.message)
        return false
      }
    },
    // async mounted() {
    //   try {
    //     const repo = this.$repositories.program;
    //     const result = await repo.getSell(this.member_id);

    //     this.program_sell_list = result.programSell;

    //     this.program = null
    //   } catch (e) {
    //     console.log('e')
    //   }
    //   try {
    //     const repo2 = this.$repositories.trainer;
    //     const result2 = await repo2.get({ name: '' });

    //     this.trainer_list = [
    //       //   {
    //       //   text: 'ไม่เลือกเทรนเนอร์',
    //       //   value: null
    //       // },
    //       ...(result2.trainerData.map((item) => {
    //         return {
    //           text: `${item.name} | ฿${Number(item.price).toLocaleString('en', {
    //             minimumFractionDigits: 2,
    //           })}`,
    //           value: item
    //         }
    //       }))]
    //     this.trainer = null
    //   } catch (e) {
    //     console.log('e', e)
    //   }
    // }
  }
}
</script>

<style scoped>
td {
  text-align: right;
}

th {
  text-align: left;
}

.img-cus {
  width: 150px;
  height: 150px;
  margin-left: 15px;
}

.stamp-col {
  border: 2px solid #000;
  width: 80px;
  height: 80px;
}
</style>
