<template>
  <div>

    <v-dialog v-model="dialog" :max-width="options.width" :style="{ zIndex: options.zIndex + 1 }" @keydown.esc="close">
      <v-sheet height="600">
        <v-toolbar flat>
          <!-- <v-btn outlined class="mr-4" color="grey darken-2" @click="setToday">
            Today
          </v-btn> -->
          <v-btn fab text small color="grey darken-2" @click="prev">
            <v-icon small>
              mdi-chevron-left
            </v-icon>
          </v-btn>
          <v-btn fab text small color="grey darken-2" @click="next">
            <v-icon small>
              mdi-chevron-right
            </v-icon>
          </v-btn>
          <v-toolbar-title v-if="$refs.calendar">
            {{ $refs.calendar.title }}
          </v-toolbar-title>
          <v-spacer></v-spacer>
          <!-- <v-menu bottom right>
            <template v-slot:activator="{ on, attrs }">
              <v-btn outlined color="grey darken-2" v-bind="attrs" v-on="on">
                <span>{{ typeToLabel[type] }}</span>
                <v-icon right>
                  mdi-menu-down
                </v-icon>
              </v-btn>
            </template>
            <v-list>
              <v-list-item @click="type = 'day'">
                <v-list-item-title>Day</v-list-item-title>
              </v-list-item>
              <v-list-item @click="type = 'week'">
                <v-list-item-title>Week</v-list-item-title>
              </v-list-item>
              <v-list-item @click="type = 'month'">
                <v-list-item-title>Month</v-list-item-title>
              </v-list-item>
              <v-list-item @click="type = '4day'">
                <v-list-item-title>4 days</v-list-item-title>
              </v-list-item>
            </v-list>
          </v-menu> -->
        </v-toolbar>
        <v-calendar ref="calendar" v-model="focus" :type="type" @change="updateRange" color="primary">
          <template v-slot:day="{ past, date }">
            <div class="fill-height">
              <template v-if="indexCheckin[date]">
                <template v-for="item in indexCheckin[date]">
                  <v-chip class="mx-1 px-1" style="width:calc(100% - 7px)" color="primary" pill x-small>
                    <div class="px-0">{{ item.customer_name }} | {{ item.trainer_program_name }}</div>
                  </v-chip>
                </template>
                <!-- <img src="@/assets/images/logo/cube-logo.png" class="d-block mx-auto img-fluid p-4" alt=""
                  style="width:60px" /> -->
                <!-- {{ date }}
                <v-sheet v-for="(percent, i) in tracked[date]" :key="i" :title="category[i]" :color="colors[i]"
                  :width="`${percent}%`" height="100%" tile></v-sheet> -->
              </template>
            </div>
          </template>
        </v-calendar>
      </v-sheet>

    </v-dialog>
    <Loading ref="loading" />
  </div>
</template>

<script>
import { formatNumberWithDecimal } from "~/utils/math"
import Loading from "~/components/Loading.vue";
export default {
  components: {
    Loading
  },
  data() {
    return {
      dialog: false,
      trainer_id: '',
      member_name: '',
      history: false,
      options: {
        color: "grey lighten-3",
        width: 800,
        zIndex: 200,
        noconfirm: false,
      },
      menu4: false,
      menu5: false,
      program_list: [{
        text: 'ไม่เลือกโปรแกรม',
        value: null
      }],
      today: '2023-01-10',
      focus: '',
      // tracked: {
      //   '2019-01-09': [23, 45, 10],
      //   '2019-01-08': [10],
      //   '2019-01-07': [0, 78, 5],
      //   '2019-01-06': [0, 0, 50],
      //   '2019-01-05': [0, 10, 23],
      //   '2019-01-04': [2, 90],
      //   '2019-01-03': [10, 32],
      //   '2019-01-02': [80, 10, 10],
      //   '2019-01-01': [20, 25, 10],
      // },
      type: 'month',
      typeToLabel: {
        month: 'Month',
        week: 'Week',
        day: 'Day',
        '4day': '4 Days',
      },
      selectedEvent: {},
      selectedElement: null,
      selectedOpen: false,
      events: [],
      colors: ['blue', 'indigo', 'deep-purple', 'cyan', 'green', 'orange', 'grey darken-1'],
      names: ['Meeting', 'Holiday', 'PTO', 'Travel', 'Event', 'Birthday', 'Conference', 'Party'],
      category: ['Development', 'Meetings', 'Slacking'],
      monthNames: ["January", "February", "March", "April", "May", "June",
        "July", "August", "September", "October", "November", "December"
      ],
      checkinList: [],
      program: null,
      program_start_date: '',
      program_expiry_date: '',
      callback: null,
      trainer_list: [],
      trainer: "",
      price: 0,
      times: 0,
      program_sell_list: []
    };
  },
  computed: {
    program_sell_list_dropdown() {
      return this.program_sell_list?.map(i => {
        return {
          value: i,
          text: `Program: ${i.trainer_program_name} | Trainer: ${i.trainer_name} | เหลือ: ${i.remaining_times} ครั้ง`
        }
      }) || []
    },
    totalCheckin() {
      return this.checkinList?.length
    },
    yearCheckin() {
      const today = new Date()
      return this.checkinList.filter((item) => item.year == today.getFullYear())?.length
    },
    monthCheckin() {
      const today = new Date()
      return this.checkinList.filter((item) => item.month == today.getMonth() + 1)?.length
    },
    lastCheckin() {
      if (!this.checkinList || !this.checkinList.length) {
        return '-'
      }
      const result = new Date(Math.max.apply(null, this.checkinList.map(item => new Date(item.checkin_date))))
      console.log('result', result)
      return `${`0${result.getDate()}`.slice(-2)} ${this.monthNames[result.getMonth()]} ${result.getFullYear()} ${result.getHours()}:${result.getMinutes()}`
    },
    indexCheckin() {
      const indexList = {}
      for (let i = 0; i < this.checkinList.length; i++) {
        const result = new Date(this.checkinList[i].checkin_date)
        if (!indexList[`${result.getFullYear()}-${`0${result.getMonth() + 1}`.slice(-2)}-${`0${result.getDate()}`.slice(-2)}`]) {
          indexList[`${result.getFullYear()}-${`0${result.getMonth() + 1}`.slice(-2)}-${`0${result.getDate()}`.slice(-2)}`] = []
        }
        indexList[`${result.getFullYear()}-${`0${result.getMonth() + 1}`.slice(-2)}-${`0${result.getDate()}`.slice(-2)}`].push(this.checkinList[i])
      }
      return indexList
    },
  },
  watch: {
    program() {
      this.price = (Number(this.program?.price) || 0) + (Number(this.trainer?.price) || 0)
    },
    trainer() {
      this.price = (Number(this.program?.price) || 0) + (Number(this.trainer?.price) || 0)
    },

  },
  methods: {
    async getCheckinByprogramsell(sid) {
      const loader = this.$refs.loading;
      try {
        loader.start();
        const repo = this.$repositories.trainer_program_checkin;
        const result = await repo.list({
          trainer_program_sale_id: sid
        });
        this.checkinList = result.existing

        // this.gameResultUrl = result.data.;
        loader.finish();
      } catch (e) {
        this.$nextTick(() => {
          // showDialog(e, "Get Member");
        });
        loader.finish();
      }
    },
    async getCheckinByTrainerId(cid) {
      const loader = this.$refs.loading;
      try {
        loader.start();
        const repo = this.$repositories.trainer_program_checkin;
        const result = await repo.list({
          trainer_id: cid
        });
        this.checkinList = result.existing

        // this.gameResultUrl = result.data.;
        loader.finish();
      } catch (e) {
        this.$nextTick(() => {
          // showDialog(e, "Get Member");
        });
        loader.finish();
      }
    },
    async open(trainer_id, member_name, callback) {
      this.trainer_id = trainer_id
      this.member_name = member_name
      this.program = null,
        this.program_start_date = '',
        this.program_expiry_date = '',
        this.callback = null,
        this.trainer = "",
        this.price = 0,
        this.times = 0
      // const loader = this.$refs.loading;
      // loader.start();
      await this.getCheckinByTrainerId()
      // loader.finish();
      this.dialog = true;
      this.$nextTick(() => {
        this.next();
        this.$nextTick(() => {
          this.prev();
        })
      })

      this.callback = callback
    },
    async getProgramSellList() {
      try {
        const repo = this.$repositories.trainer_program_sale;
        const result = await repo.list({ trainer_id: this.trainer_id });
        this.program_sell_list = result.list;
        return true
      } catch (e) {
        alert(e.message)
        return false
      }
    },
    formatDate(dateString) {
      if (!dateString) return dateString;
      return dateString.replace(".000Z", "").replace("T", " ");
    },
    async select() {
      if (!this.program) {
        alert("กรุณากรอกข้อมูลให้ครบ")
        return;
      }
      // else if (this.times < 1 ) {
      //   alert("กรุณากรอกจำนวนครั้งให้มากกว่า 0")
      //   return;
      // }
      await this.getCheckinByTrainerId(this.trainer_id)
      this.history = true

      // window.open('/membership/qrcodept?sid=' + this.program._id, '_blank');
      // if (this.callback) {
      //   this.callback(this.program)
      // }
      this.close()
    },
    close() {
      this.dialog = false;
      this.callback = null
    },
    formatNumberWithDecimal: formatNumberWithDecimal,
    viewDay({ date }) {
      this.focus = date
      this.type = 'day'
    },
    getEventColor(event) {
      return event.color
    },
    setToday() {
      this.focus = ''
    },
    prev() {
      this.$refs.calendar.prev()
    },
    next() {
      this.$refs.calendar.next()
    },
    showEvent({ nativeEvent, event }) {
      const open = () => {
        this.selectedEvent = event
        this.selectedElement = nativeEvent.target
        requestAnimationFrame(() => requestAnimationFrame(() => this.selectedOpen = true))
      }

      if (this.selectedOpen) {
        this.selectedOpen = false
        requestAnimationFrame(() => requestAnimationFrame(() => open()))
      } else {
        open()
      }

      nativeEvent.stopPropagation()
    },
    updateRange({ start, end }) {
      const events = []

      const min = new Date(`${start.date}T00:00:00`)
      const max = new Date(`${end.date}T23:59:59`)
      const days = (max.getTime() - min.getTime()) / 86400000
      const eventCount = this.rnd(days, days + 20)

      for (let i = 0; i < eventCount; i++) {
        const allDay = this.rnd(0, 3) === 0
        const firstTimestamp = this.rnd(min.getTime(), max.getTime())
        const first = new Date(firstTimestamp - (firstTimestamp % 900000))
        const secondTimestamp = this.rnd(2, allDay ? 288 : 8) * 900000
        const second = new Date(first.getTime() + secondTimestamp)

        events.push({
          name: this.names[this.rnd(0, this.names.length - 1)],
          start: first,
          end: second,
          color: this.colors[this.rnd(0, this.colors.length - 1)],
          timed: !allDay,
        })
      }

      this.events = events
    },
    rnd(a, b) {
      return Math.floor((b - a + 1) * Math.random()) + a
    },
  },
  async mounted() {
    try {
      const repo = this.$repositories.program;
      const result = await repo.get({});

      this.program_list = [{
        text: 'ไม่เลือกโปรแกรม',
        value: null
      }, ...(result.programData.map((item) => {
        return {
          text: `${item.name} | ฿${Number(item.price).toLocaleString('en', {
            minimumFractionDigits: 2,
          })}`,
          value: item
        }
      }))];

      this.program = null
    } catch (e) {
      console.log('e')
    }
    try {
      const repo2 = this.$repositories.trainer;
      const result2 = await repo2.get({ name: '' });

      this.trainer_list = [
        //   {
        //   text: 'ไม่เลือกเทรนเนอร์',
        //   value: null
        // },
        ...(result2.trainerData.map((item) => {
          return {
            text: `${item.name} | ฿${Number(item.price).toLocaleString('en', {
              minimumFractionDigits: 2,
            })}`,
            value: item
          }
        }))]
      this.trainer = null
    } catch (e) {
      console.log('e', e)
    }
  }
};
</script>

<style scoped>
td {
  text-align: right;
}

th {
  text-align: left;
}

.img-cus {
  width: 150px;
  height: 150px;
  margin-left: 15px;
}

.stamp-col {
  border: 2px solid #000;
  width: 80px;
  height: 80px;
}
</style>
