<template>
  <v-dialog v-model="dialog" :max-width="options.width" :style="{ zIndex: options.zIndex }" @keydown.esc="close">
    <div class="secondary py-1">
      <div class="popup-header secondary px-2">
        <v-row align="center">
          <v-col cols>
            <div class="white--text">
              <h3>Select Trainer</h3>
            </div>
          </v-col>
          <v-col cols="auto">
            <v-btn small @click="close">
              <div class="primary--text" style="font-size: 12px">Close</div>
            </v-btn>
          </v-col>
        </v-row>
      </div>
      <br />
      <v-row>
        <v-col cols>
          <!-- <div>
            <div><b> TicketID:</b> TIC-0002634</div>
            <div><b> Status:</b> Paid</div>
            <div><b> Expiration Date:</b> 2023-09-12</div>
            <div><b> All Active Contract Expiry:</b> 2023-09-12</div>
            <div><b> CustomerID:</b> VP0422</div>
            <div><b> Name:</b> ณัจยา แก้วสีใส</div>
          </div> -->
        </v-col>
        <v-col cols="auto" class="ml-auto">
          <!-- <v-chip class="ma-2" color="primary" large>
            <div class="px-3">MB</div>
          </v-chip>
          <v-chip class="ma-2" color="primary" large>
            <div class="px-3">PT</div>
          </v-chip>
          <v-chip class="ma-2" color="primary" large>
            <div class="px-3">PO</div>
          </v-chip> -->
        </v-col>
      </v-row>
      <br />
      <v-row align="center" style="max-width:600px;margin:auto;">
        <v-col cols="auto" class="py-0">
          <div class="white--text pb-6">Select Personal Trainer</div>
        </v-col>
        <v-col cols class="py-0">
          <v-autocomplete v-model="trainer" :items="trainer_list" outlined dense dark
            label="Select Personal Trainer"></v-autocomplete>
        </v-col>
      </v-row>
      <v-row>
        <v-col cols>
          <div class="ma-5">
            <v-row>
              <v-col cols="auto" class="ml-auto">
                <v-btn color="primary" @click="select()" dark>Select</v-btn>
              </v-col>
            </v-row>
          </div>
        </v-col>
      </v-row>
    </div>
  </v-dialog>
</template>

<script>
export default {
  data() {
    return {
      dialog: false,
      options: {
        color: "grey lighten-3",
        width: 800,
        zIndex: 200,
        noconfirm: false,
      },
      trainer_list: [{
        text: 'ไม่เลือกเทรนเนอร์',
        value: null
      }],
      trainer: null,
      callback: null
    };
  },

  methods: {
    open(callback) {
      this.dialog = true;
      this.callback = callback
    },
    formatDate(dateString) {
      if (!dateString) return dateString;
      return dateString.replace(".000Z", "").replace("T", " ");
    },
    select() {
      if(this.callback) {
        this.callback(this.trainer)
      }
      this.close()
    },
    close() {
      this.dialog = false;
      this.callback = null
    },
  },
  async mounted() {
    try {
      const repo2 = this.$repositories.trainer;
      const result2 = await repo2.get({ name: '' });

      this.trainer_list = [{
        text: 'ไม่เลือกเทรนเนอร์',
        value: null
      }, ...(result2.trainerData.map((item) => {
        return {
          text: `${item.name} | ฿${Number(item.price).toLocaleString('en', {
            minimumFractionDigits: 2,
          })}`,
          value: item
        }
      }))]
      this.trainer = null
    } catch (e) {
      console.log('e', e)
    }
    
  }
};
</script>

<style scoped>
td {
  text-align: right;
}

th {
  text-align: left;
}

.img-cus {
  width: 150px;
  height: 150px;
  margin-left: 15px;
}

.stamp-col {
  border: 2px solid #000;
  width: 80px;
  height: 80px;
}
</style>