<template>
  <div class="h-100">
    <v-data-table
      dark
      :headers="tableHeaders"
      :items="total"
      class="report"
    >
      <template v-slot:[`item.name`]="{ item }">
        <b>
          <div>{{ item.name }}</div>
        </b>
      </template>
      <template v-slot:[`item.activeUser`]="{ item }">
        <div>
          {{
            !isNaN(item.activeUser) ? formatNumber(Number(item.activeUser)) : ""
          }}
        </div>
      </template>
      <template v-slot:[`item.betCount`]="{ item }">
        <div>
          {{ !isNaN(item.betCount) ? formatNumber(Number(item.betCount)) : "" }}
        </div>
      </template>
      <template v-slot:[`item.hitRate`]="{ item }">
        <div>
          {{ !isNaN(item.hitRate) ? formatNumber(Number(item.hitRate)) : "" }}
        </div>
      </template>
      <template v-slot:[`item.turnover`]="{ item }">
        <div>
          {{
            !isNaN(item.turnover)
              ? formatNumberWithDecimal(Number(item.turnover))
              : ""
          }}
        </div>
      </template>
      <template v-slot:[`item.turnoverPercen`]="{ item }">
        <div>
          {{
            !isNaN(item.turnoverPercen)
              ? formatNumberWithDecimal(Number(item.turnoverPercen))
              : ""
          }}%
        </div>
      </template>
      <template v-slot:[`item.winLose`]="{ item }">
        <div>
          {{
            !isNaN(item.winLose)
              ? formatNumberWithDecimal(Number(item.winLose))
              : ""
          }}
        </div>
      </template>
      <template v-slot:[`item.winLosePercen`]="{ item }">
        <div>
          {{
            !isNaN(item.winLosePercen)
              ? formatNumberWithDecimal(Number(item.winLosePercen))
              : ""
          }}%
        </div>
      </template>
      <template v-slot:[`item.biling`]="{ item }">
        <div>
          {{
            !isNaN(item.biling)
              ? formatNumberWithDecimal(Number(item.biling))
              : ""
          }}
        </div>
      </template>
      <template v-slot:[`item.rtp`]="{ item }">
        <div :class="{ 'red--text': item.rtp > 100 }">
          {{
            !isNaN(item.rtp)
              ? `${formatNumberWithDecimal(Number(item.rtp))}%`
              : ""
          }}
        </div>
      </template>
      <template v-slot:[`item.lastActive`]="{ item }">
        <div v-if="item.lastActive">
          {{ !isNaN(item.lastActive) ? formatDate(item.lastActive) : "" }}
        </div>
      </template>
      <template slot="no-data"><div></div></template>
    </v-data-table>
  </div>
</template>

<script lang="ts">
import { Component, Vue, Prop } from "nuxt-property-decorator";
import { formatNumberWithDecimal, formatNumber } from "~/utils/math";

@Component({})
export default class TotalTable extends Vue {
  formatNumberWithDecimal = formatNumberWithDecimal;
  formatNumber = formatNumber;

  formatDate = (param: string | number | Date) => {
    const date = new Date(param);
    return `${date.toLocaleString().replace("T", " ")}`;
  };

  @Prop({ default: () => [] })
  tableHeaders!: any[];

  @Prop({ default: () => [] })
  total!: IReportData[];

  colorByType(type: string) {
    if (type == "win") {
      return "green";
    } else if (type == "bet") {
      return "blue";
    }
    return "grey";
  }
}
</script>

<style>
.report {
  width: 100%;
}
</style>