<template>
  <div class="h-100">
    <v-data-table
      dark
      :headers="tableHeaders"
      :items="items"
      height="calc(100vh - 155px)"
      class="report"
    >
      <template v-slot:[`item.name`]="{ item }">
        <nuxt-link
          v-if="linkByItem && linkByItem(item)"
          :to="`${linkByItem(item)}`"
        >
          <b>
            <div>{{ item.name }}</div>
          </b>
        </nuxt-link>
        <b v-else>
          <div>{{ item.name }}</div>
        </b>
      </template>
      <template v-slot:[`item.users`]="{ item }">
        <nuxt-link
          v-if="linkByItem && linkByItem(item)"
          :to="`${linkByItem(item)}`"
        >
          <b>
            <div>{{ item.users }}</div>
          </b>
        </nuxt-link>
        <b v-else>
          <div>{{ item.users }}</div>
        </b>
      </template>
      <template v-slot:[`item.round_id`]="{ item }">
        <a v-if="linkByItem && linkByItem(item)" :href="`${linkByItem(item)}`">
          <b>
            <div>{{ item.round_id }}</div>
          </b>
        </a>
        <b v-else>
          <div>{{ item.round_id }}</div>
        </b>
      </template>
      <template v-slot:[`item.activeUser`]="{ item }">
        <div>
          {{
            !isNaN(item.activeUser) ? formatNumber(Number(item.activeUser)) : ""
          }}
        </div>
      </template>
      <template v-slot:[`item.betCount`]="{ item }">
        <div>
          {{ !isNaN(item.betCount) ? formatNumber(Number(item.betCount)) : "" }}
        </div>
      </template>
      <template v-slot:[`item.hitRate`]="{ item }">
        <div>
          {{ !isNaN(item.hitRate) ? formatNumber(Number(item.hitRate)) : "" }}
        </div>
      </template>
      <template v-slot:[`item.turnover`]="{ item }">
        <div>
          {{
            !isNaN(item.turnover)
              ? formatNumberWithDecimal(Number(item.turnover))
              : ""
          }}
        </div>
      </template>
      <template v-slot:[`item.turnoverPercen`]="{ item }">
        <div>
          {{
            !isNaN(item.turnoverPercen)
              ? formatNumberWithDecimal(Number(item.turnoverPercen))
              : ""
          }}%
        </div>
      </template>
      <template v-slot:[`item.winLose`]="{ item }">
        <div>
          {{
            !isNaN(item.winLose)
              ? formatNumberWithDecimal(Number(item.winLose))
              : ""
          }}
        </div>
      </template>
      <template v-slot:[`item.winLosePercen`]="{ item }">
        <div>
          {{
            !isNaN(item.winLosePercen)
              ? formatNumberWithDecimal(Number(item.winLosePercen))
              : ""
          }}%
        </div>
      </template>
      <template v-slot:[`item.biling`]="{ item }">
        <div>
          {{
            !isNaN(item.biling)
              ? formatNumberWithDecimal(Number(item.biling))
              : ""
          }}
        </div>
      </template>
      <template v-slot:[`item.rtp`]="{ item }">
        <div :class="{ 'red--text': item.rtp > 100 }">
          {{
            !isNaN(item.rtp)
              ? `${formatNumberWithDecimal(Number(item.rtp))}%`
              : ""
          }}
        </div>
      </template>
      <template v-slot:[`item.lastActive`]="{ item }">
        <div v-if="item.lastActive">
          {{ formatDate(item.lastActive) }}
        </div>
      </template>
      <template v-slot:[`item.type`]="{ item }">
        <div v-if="item.type == 'win'">
          <v-btn icon @click="openGameResult(item)">
            <v-chip
              style="cursor: pointer"
              :color="colorByType(item.type)"
              label
              text-color="white"
            >
              {{ item.type }}
            </v-chip>
          </v-btn>
        </div>
        <div v-else>
          <v-btn icon>
            <v-chip
              style="cursor: pointer"
              :color="colorByType(item.type)"
              label
              text-color="white"
            >
              {{ item.type }}
            </v-chip>
          </v-btn>
        </div>
      </template>
      <template slot="no-data"><div></div></template>
    </v-data-table>
    <v-dialog
      transition="dialog-bottom-transition"
      v-model="dialog"
      max-width="1000"
    >
      <template>
        <v-card>
          <v-toolbar color="orange">
            <v-btn icon @click="dialog = false">
              <v-icon>mdi-close</v-icon>
            </v-btn>
            <v-toolbar-title>Game Result</v-toolbar-title>
          </v-toolbar>
          <iframe
            width="100%"
            style="height: 540px; max-height: calc(100vh - 130px)"
            :src="gameResultUrl"
          ></iframe>
        </v-card>
      </template>
    </v-dialog>
    <Loading ref="loading" />
  </div>
</template>

<script lang="ts">
import { Component, Vue, Prop } from "nuxt-property-decorator";
import { formatNumberWithDecimal, formatNumber } from "~/utils/math";
import Loading from "~/components/Loading.vue";

@Component({ components: { Loading } })
export default class ReportTable extends Vue {
  dialog: boolean = false;
  gameResultUrl: string = "";

  formatNumberWithDecimal = formatNumberWithDecimal;
  formatNumber = formatNumber;

  formatDate = (param: string | number | Date) => {
    const date = new Date(param);
    return `${date.toLocaleString().replace("T", " ")}`;
  };

  @Prop({ default: () => [] })
  tableHeaders!: any[];

  @Prop({ default: () => [] })
  items!: IReportData[];

  @Prop({
    default: () => {
      return {};
    },
  })
  total!: IReportData;

  @Prop({ default: "" })
  prefixLink!: string;

  @Prop({ default: "" })
  subfixLink!: string;

  @Prop() linkByItem!: Function;

  @Prop() searchAction!: Function;

  colorByType(type: string) {
    if (type == "win") {
      return "green";
    } else if (type == "bet") {
      return "blue";
    }
    return "grey";
  }

  async openGameResult(transaction: any) {
    const loader = this.$refs.loading as any;
    try {
      loader.start();
      const dashboardRepository = this.$repositories.dashboard;
      const urlResult: any = await dashboardRepository.loadGameResultUrl(
        transaction.round_id,
        transaction.id
      );
      this.gameResultUrl = urlResult.data.url;
      this.$nextTick(() => {
        this.dialog = true;
      });
      loader.finish();
    } catch (e) {
      loader.finish();
    }
  }
}
</script>

<style>
</style>