<template>
  <div class="card">
    <slot></slot>
  </div>
</template>

<script lang="ts">
import { Component, Prop, Vue } from "nuxt-property-decorator";

@Component({
  components: {
  },
})
export default class ContentCard extends Vue {
}
</script>

<style lang="scss" scoped>
.card {
  width: 100%;
  height:100%;
  margin: auto;
  padding: 50px 30px;
  border: none;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 1px 0px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
}
.title {
  font-size: 24px;
  font-weight: 600;
  margin-bottom: 30px;
  cursor: pointer;
}
</style>