<template>
  <div
    class="statistic-card"
    :class="{ 'increase': percent >= 0, 'decrease': percent < 0 }"
  >
    <v-row align="center" class="flex-nowrap">
      <v-col cols="auto">
        <div>{{ Number(amount).toLocaleString() }}</div>
        <div class="statistic-card-title">{{title}}</div>
      </v-col>
      <v-col cols="auto" class="ms-auto px-0">
        <img v-if="percent >= 0" src="@/assets/images/icons/triangle-up-icon.png" class="triangle-icon img-fluid">
        <img v-else src="@/assets/images/icons/triangle-down-icon.png" class="triangle-icon img-fluid">
      </v-col>
      <v-col cols="auto">
        <template v-if="percent >= 0">+</template>
        {{percent}}%
      </v-col>
    </v-row>
  </div>
</template>

<script lang="ts">
import { Component, Vue, Prop } from "nuxt-property-decorator";

@Component
export default class StatisticCard extends Vue {
  @Prop({ default: 0 })
  amount!: number;

  @Prop({ default: 0 })
  percent!: number;

  @Prop({ default: "" })
  title!: string;
}
</script>

<style lang="scss" scoped>
.statistic-card {
  border-radius: 10px;
  padding: 15px;
  overflow: hidden;
  * {
    color: black;
  }
}
.increase {
  background: #94dc72;
}
.decrease {
  background: #ff8f8f;
}
.triangle-icon {
  width: 24px;
}
</style>
