<template>
  <div class="white--text py-1 ">
    <div class="popup-header secondary px-2">
      <v-row align="center">
        <v-col cols>
          <div class="white--text">
            <h3>Trainer Detail</h3>
          </div>
        </v-col>
        <v-col cols="auto">
          <!-- <v-btn small @click="close">
            <div class="primary--text" style="font-size: 12px">Close</div>
          </v-btn> -->
        </v-col>
      </v-row>
    </div>
    <br />
    <v-row>
      <v-col cols="auto">
        <div>
          <!-- <img
              src="http://vpfit.logiccandy.com/myimage/defaults/_profile.jpg"
              class="img-cus"
              alt=""
            /> -->
          <!-- <br /> -->
          <div class="ml-4"><b> TrainerID:</b> {{ trainer._id }}</div>
        </div>
      </v-col>
      <v-col cols>
        <!-- <div>
            <div><b> TicketID:</b> TIC-0002634</div>
            <div><b> Status:</b> Paid</div>
            <div><b> Expiration Date:</b> 2023-09-12</div>
            <div><b> All Active Contract Expiry:</b> 2023-09-12</div>
            <div><b> TrainerID:</b> VP0422</div>
            <div><b> Name:</b> ณัจยา แก้วสีใส</div>
          </div> -->
      </v-col>
      <v-col cols="auto" class="ml-auto">
        <!-- <v-chip class="ma-2" color="primary" large>
            <div class="px-3">MB</div>
          </v-chip>
          <v-chip class="ma-2" color="primary" large>
            <div class="px-3">PT</div>
          </v-chip>
          <v-chip class="ma-2" color="primary" large>
            <div class="px-3">PO</div>
          </v-chip> -->
      </v-col>
    </v-row>
    <br />
    <v-row>
      <v-col cols="auto">
        <div class="ml-5">
          <div><b> ชื่อ:</b> {{ trainer.name || '' }}</div>
          <div><b> เพศ:</b> {{ trainer.gender }}</div>
          <div><b> เบอร์โทรศัพท์:</b> {{ trainer.mobileNo }}</div>
          <div><b> LINE ID:</b> {{ trainer.lineid }}</div>
          <div><b> Facebook:</b> {{ trainer.facebook }}</div>
          <div><b> Note:</b> {{ trainer.note }}</div>
          <!-- <div><b> Program:</b> {{ trainer.current_program }}</div>
              <div><b> Traniner:</b> {{
                trainer.trainer ? `${trainer.trainer.name} |
                              ฿${formatNumberWithDecimal(trainer.trainer.price)}` : ''
              }}</div> -->
        </div>
      </v-col>
      <v-col cols>
        <div class="mx-5">
          <v-row>
            <v-col cols="auto" class="ml-auto">
              <v-btn color="primary" @click="openCheckInPtHistory()" dark>History </v-btn>
            </v-col>
            <v-col cols="auto" >
              <a :href="`/personal-trainer/edit/${$route.params.id}`" target="_blank">
                    <v-btn color="primary" class="mb-2">แก้ไขเทรนเนอร์</v-btn>
                  </a>
            </v-col>
          </v-row>
        </div>
      </v-col>

    </v-row>
    <div class="px-2">
      <br>
      <h2>Trainer Programs (PT)</h2>
      <br>
      <v-data-table dark :headers="trainerTableHeaders" :items="trainer_program_sale_list"
        :options="{ itemsPerPage: 1000 }" disable-pagination :hide-default-footer="true">

        <template v-slot:[`item.customer_name`]="{ item }">
          <div>
            <a :href="`/customer/detail/${item.customer_id}`" target="_blank">
              {{ item.customer_name }}</a>
          </div>
        </template>
        <template v-slot:[`item.price`]="{ item }">
          <div>
            {{ formatNumberWithDecimal(item.price) }}
          </div>
        </template>
        <template v-slot:[`item.start_date`]="{ item }">
          <div>
            {{ item.start_date ? item.start_date.split("T")[0] : '' }}
          </div>
        </template>
        <template v-slot:[`item.expiry_date`]="{ item }">
          <div>
            {{ item.start_date ? item.start_date.split("T")[0] : '' }}
          </div>
        </template>
        <template v-slot:[`item.action`]="{ item }">
          <div class="text-center py-2">

            <!-- <v-btn color="primary" class="mb-2" @click="viewTrainerDetail(item)">ข้อมูลลูกค้า</v-btn> <br>
                  <v-btn color="primary" class="mb-2">ซื้อโปรแกรม</v-btn> <br> -->
            <v-btn color="danger">แก้ไข</v-btn>
          </div>
        </template>
        <template slot="no-data">
          <div></div>
        </template>
      </v-data-table>
    </div>
    <Loading ref="loading" />
    <SelectTrainerCheckinHistoryPopup ref="SelectTrainerCheckinHistoryPopup" />
  </div>
</template>


<script>
import { showDialog } from "~/utils/dialog";
import Loading from "~/components/Loading.vue";
import SelectTrainerCheckinHistoryPopup from "~/components/popup/SelectTrainerCheckinHistoryPopup.vue"
import { formatNumberWithDecimal } from "~/utils/math"

export default {
  components: {
    Loading,
    SelectTrainerCheckinHistoryPopup
  },
  data() {
    return {
      dialog: false,
      history: false,
      trainer: {},
      document: {},
      today: '2023-01-10',
      focus: '',
      // tracked: {
      //   '2019-01-09': [23, 45, 10],
      //   '2019-01-08': [10],
      //   '2019-01-07': [0, 78, 5],
      //   '2019-01-06': [0, 0, 50],
      //   '2019-01-05': [0, 10, 23],
      //   '2019-01-04': [2, 90],
      //   '2019-01-03': [10, 32],
      //   '2019-01-02': [80, 10, 10],
      //   '2019-01-01': [20, 25, 10],
      // },
      type: 'month',
      typeToLabel: {
        month: 'Month',
        week: 'Week',
        day: 'Day',
        '4day': '4 Days',
      },
      selectedEvent: {},
      selectedElement: null,
      selectedOpen: false,
      events: [],
      colors: ['blue', 'indigo', 'deep-purple', 'cyan', 'green', 'orange', 'grey darken-1'],
      names: ['Meeting', 'Holiday', 'PTO', 'Travel', 'Event', 'Birthday', 'Conference', 'Party'],
      category: ['Development', 'Meetings', 'Slacking'],
      options: {
        color: "grey lighten-3",
        width: 800,
        zIndex: 200,
        noconfirm: false,
      },
      checkinList: [],
      monthNames: ["January", "February", "March", "April", "May", "June",
        "July", "August", "September", "October", "November", "December"
      ],
      memberTableHeaders: [
        { text: "Program", value: "member_program_name" }, ,
        { text: "Sale", value: "sale_name" }, ,
        { text: "Start Date", value: "start_date" },
        { text: "Expiry Date", value: "expiry_date" },
        { text: "Price", value: "price" },
        // { text: "Action", value: "action" },
      ],
      trainerTableHeaders: [
        { text: "Customer", value: "customer_name" },
        { text: "Program", value: "trainer_program_name" },
        { text: "จำนวนครั้งทั้งหมด", value: "times" },
        { text: "จำนวนครั้งที่เหลือ", value: "remaining_times" },
        { text: "Start Date", value: "start_date" },
        { text: "Expiry Date", value: "expiry_date" },
        { text: "Price", value: "price" },
        // { text: "Action", value: "action" },
      ],
      member_program_sale_list: [],
      trainer_program_sale_list: [],
    };
  },
  computed: {
    totalCheckin() {
      return this.checkinList?.length
    },
    yearCheckin() {
      const today = new Date()
      return this.checkinList.filter((item) => item.year == today.getFullYear())?.length
    },
    monthCheckin() {
      const today = new Date()
      return this.checkinList.filter((item) => item.month == today.getMonth() + 1)?.length
    },
    lastCheckin() {
      if (!this.checkinList || !this.checkinList.length) {
        return '-'
      }
      const result = new Date(Math.max.apply(null, this.checkinList.map(item => new Date(item.checkin_date))))
      console.log('result', result)
      return `${`0${result.getDate()}`.slice(-2)} ${this.monthNames[result.getMonth()]} ${result.getFullYear()} ${result.getHours()}:${result.getMinutes()}`
    },
    indexCheckin() {
      const indexList = {}
      for (let i = 0; i < this.checkinList.length; i++) {
        const result = new Date(this.checkinList[i].checkin_date)
        indexList[`${result.getFullYear()}-${`0${result.getMonth() + 1}`.slice(-2)}-${`0${result.getDate()}`.slice(-2)}`] = true
      }
      return indexList
    }
  },
  methods: {
    formatNumberWithDecimal: formatNumberWithDecimal,
    openCheckInMember() {
      this.$refs.SelectMembershipCheckinPopup?.open(this.trainer._id, this.trainer.name)

    },
    openCheckInMemberHistory() {
      this.$refs.SelectMembershipCheckinHistoryPopup?.open(this.trainer._id, this.trainer.name)

    },
    openCheckInPt() {
      this.$refs.SelectProgramCheckinPopup?.open(this.trainer._id, this.trainer.name)
    },
    openCheckInPtHistory() {
      this.$refs.SelectTrainerCheckinHistoryPopup?.open(this.trainer._id, this.trainer.name)
    },
    viewDay({ date }) {
      this.focus = date
      this.type = 'day'
    },
    getEventColor(event) {
      return event.color
    },
    setToday() {
      this.focus = ''
    },
    prev() {
      this.$refs.calendar.prev()
    },
    next() {
      this.$refs.calendar.next()
    },
    showEvent({ nativeEvent, event }) {
      const open = () => {
        this.selectedEvent = event
        this.selectedElement = nativeEvent.target
        requestAnimationFrame(() => requestAnimationFrame(() => this.selectedOpen = true))
      }

      if (this.selectedOpen) {
        this.selectedOpen = false
        requestAnimationFrame(() => requestAnimationFrame(() => open()))
      } else {
        open()
      }

      nativeEvent.stopPropagation()
    },
    async loadTrainerDetail() {
      try {
        const repo = this.$repositories.trainer;
        console.log('this.$route.params.id', this.$route.params.id)
        const result = await repo.getDetail(this.$route.params.id);

        return result.existingMember
      } catch (e) {
        this.$nextTick(() => {
          // showDialog(e, "Get Sale");
        });
        return []
      }
    },
    async loadTrainerMembership() {
      try {
        const repo = this.$repositories.member_program_sale;
        const result = await repo.list({
          trainer_id: this.trainer._id
        });

        return result.list
      } catch (e) {
        return []
      }
    },
    async loadTrainerPrograms() {
      try {
        const repo = this.$repositories.trainer_program_sale;
        const result = await repo.list({
          trainer_id: this.trainer._id
        });

        return result.list
      } catch (e) {
        return []
      }
    },
    updateRange({ start, end }) {
      const events = []

      const min = new Date(`${start.date}T00:00:00`)
      const max = new Date(`${end.date}T23:59:59`)
      const days = (max.getTime() - min.getTime()) / 86400000
      const eventCount = this.rnd(days, days + 20)

      for (let i = 0; i < eventCount; i++) {
        const allDay = this.rnd(0, 3) === 0
        const firstTimestamp = this.rnd(min.getTime(), max.getTime())
        const first = new Date(firstTimestamp - (firstTimestamp % 900000))
        const secondTimestamp = this.rnd(2, allDay ? 288 : 8) * 900000
        const second = new Date(first.getTime() + secondTimestamp)

        events.push({
          name: this.names[this.rnd(0, this.names.length - 1)],
          start: first,
          end: second,
          color: this.colors[this.rnd(0, this.colors.length - 1)],
          timed: !allDay,
        })
      }

      this.events = events
    },
    rnd(a, b) {
      return Math.floor((b - a + 1) * Math.random()) + a
    },
    async getCheckinBymember(mid) {
      const loader = this.$refs.loading;
      try {
        loader.start();
        const memberRepository = this.$repositories.member;
        const result = await memberRepository.getCheckinBymember(mid);
        this.checkinList = result.existing

        // this.gameResultUrl = result.data.;
        loader.finish();
      } catch (e) {
        this.$nextTick(() => {
          showDialog(e, "Get Member");
        });
        loader.finish();
      }
    },
    open(trainer, document) {
      this.dialog = true;
      this.trainer = trainer;
      // this.getCheckinBymember(trainer._id)
      this.document = document;
    },
    formatDate(dateString) {
      if (!dateString) return dateString;
      return dateString.replace(".000Z", "").replace("T", " ");
    },
    close() {
      this.dialog = false;
    },
  },
  async mounted() {
    // this.$refs.calendar.checkChange()\

    const loader = this.$refs.loading; loader.start();
    try {
      this.trainer = await this.loadTrainerDetail()
      // this.member_program_sale_list = await this.loadTrainerMembership();
      this.trainer_program_sale_list = await this.loadTrainerPrograms()
    } catch (e) {
      console.log(e)
      this.$nextTick(() => {
        showDialog(e, "Get Trainer");
      });

    } loader.finish();
  }
};
</script>

<style scoped>
td {
  text-align: right;
}

th {
  text-align: left;
}

.img-cus {
  width: 150px;
  height: 150px;
  margin-left: 15px;
}

.stamp-col {
  border: 2px solid #000;
  width: 80px;
  height: 80px;
}
</style>
