<template>
  <div class="page">
    <v-row class="flex-column flex-nowrap ma-0 h-100">
      <v-col cols="auto" class="pa-0">
        <div class="page-content-header">
          <v-container>
            <h2 class="white--text">Report / User List</h2>
            <ReportFilter
              :dateInput.sync="dateInput"
              :selectedGames.sync="selectedGames"
              :selectedPlatforms.sync="selectedPlatforms"
              :selectedCurrency.sync="selectedCurrencyInput"
              :search="search"
              :isSearchByPlatforms="true"
              :singlePlatform="true"
              :isSearchByGameTypes="true"
              :singleGameTypes="true"
              :isSearchByGames="true"
            />
          </v-container>
        </div>
      </v-col>
      <v-col cols class="pa-0 overflow-auto">
        <v-container class="position-relative h-100">
          <Loading ref="loading" />
          <SlideFadeAnimation>
            <div v-if="isContentShow" :key="`page-content`">
              <SlideFadeAnimation class="h-100">
                <div v-if="isContentShow" :key="`page-content`">
                  <!-- <TotalTable
                :tableHeaders="totalHeaders"
                :total="total"
              /> -->
                  <v-pagination
                    v-if="items && items.length"
                    v-model="page"
                    :length="numberOfPages"
                    color="#c39141"
                    @input="onPageChanged"
                  ></v-pagination>
                  <ReportTable
                    :tableHeaders="tableHeaders"
                    :items="items"
                    :prefixLink="`/report/transactions`"
                    :linkByItem="linkByItem"
                  />
                </div>
              </SlideFadeAnimation>
            </div>
          </SlideFadeAnimation>
        </v-container>
      </v-col>
    </v-row>
  </div>
</template>

<script lang="ts">
import { Component, Vue, Watch } from "nuxt-property-decorator";
import SlideFadeAnimation from "~/components/animations/SlideFadeAnimation.vue";
import { showDialog } from "~/utils/dialog";

import moment from "moment";

import { getModule } from "vuex-module-decorators";

import dashboardModule from "~/store/dashboard";
import appModule from "~/store/app";
import Loading from "~/components/Loading.vue";
import ReportFilter from "~/components/utils/ReportFilter.vue";
import ReportTable from "~/components/tables/ReportTable.vue";
import TotalTable from "~/components/tables/TotalTable.vue";
import { objToQueryParams } from "~/utils/string";

@Component({
  components: {
    Loading,
    ReportFilter,
    ReportTable,
    SlideFadeAnimation,
    TotalTable,
  },
})
export default class Report extends Vue {
  isContentShow: boolean = false;
  dashboardStoreModule = getModule(dashboardModule, this.$store);
  appStoreModule = getModule(appModule, this.$store);

  dateInput = [
    this.queryStartDate.toISOString(),
    this.queryEndDate.toISOString(),
  ];

  selectedCurrencyInput: string[] = this.queryCurrency ? ((this.queryCurrency || "") as string).split(",") : [];

  selectedGames = this.gameids
    ? ((this.gameids || "") as string).split(",")
    : [];
  selectedPlatforms = ((this.platformids || "") as string).split(",")[0];
  selectedGameTypes = "";

  page = 1;
  numberOfPages = 1;

  get report(): IResponseData_PlatformGameTypeReport {
    return this.dashboardStoreModule
      .reportByPlatformGameReport as IResponseData_PlatformGameTypeReport;
  }

  get totalItems() {
    return this.report?.count || 0;
  }

  get tableHeaders() {
    return [
      { text: "User Platform Id", value: "platform_user_id", sortable: false },
      { text: "User", value: "users" },
      { text: "Last Active", value: "lastActive", align: "right" },
      { text: "Bets", value: "betCount", align: "right" },
      { text: "Hitrate", value: "hitRate", align: "right" },
      { text: "Turnover", value: "turnover", align: "right" },
      { text: "Turnover%", value: "turnoverPercen", align: "right" },
      { text: "W/L", value: "winLose", align: "right" },
      { text: "W/L%", value: "winLosePercen", align: "right" },
      { text: "Currency", value: "currency", sortable: false },
      { text: "Billing", value: "biling", align: "right" },
      // { text: "Bonus", value: "platform" },
      { text: "RTP", value: "rtp", align: "right" },
    ];
  }

  get totalHeaders() {
    return [
      { text: "User Platform Id", value: "platform_user_id", sortable: false },
      { text: "User", value: "users", sortable: false },
      {
        text: "Last Active",
        value: "lastActive",
        align: "right",
        sortable: false,
      },
      { text: "Bets", value: "betCount", align: "right", sortable: false },
      { text: "Hitrate", value: "hitRate", align: "right", sortable: false },
      { text: "Turnover", value: "turnover", align: "right", sortable: false },
      {
        text: "Turnover%",
        value: "turnoverPercen",
        align: "right",
        sortable: false,
      },
      { text: "W/L", value: "winLose", align: "right", sortable: false },
      { text: "W/L%", value: "winLosePercen", align: "right", sortable: false },
      { text: "Currency", value: "currency", sortable: false },
      { text: "Billing", value: "biling", align: "right", sortable: false },
      // { text: "Bonus", value: "platform" },
      { text: "RTP", value: "rtp", align: "right", sortable: false },
    ];
  }

  get results() {
    return this.report?.results || [];
  }

  get total() {
    const total = JSON.parse(JSON.stringify(this.report?.total || {}));
    total.users = "Total";
    return [total];
  }

  get items() {
    return [...this.results];
  }

  get platformsById() {
    return this.dashboardStoreModule.platformsById;
  }

  get platformids() {
    return this.$route.query.platformids;
  }

  get gameids() {
    return this.$route.query.gameids;
  }

  get queryParams() {
    return this.$route.query;
  }

  get queryStartDate() {
    if (this.queryParams.startdate) {
      return moment(new Date(this.queryParams.startdate as string)).startOf(
        "day"
      );
    } else {
      const now = moment();
      return now.startOf("day");
    }
  }

  get queryEndDate() {
    if (this.queryParams.enddate) {
      return moment(new Date(this.queryParams.enddate as string));
    } else {
      const now = moment();
      return now.endOf("day");
    }
  }

  get queryCurrency() {
    return (this.queryParams.currency as string) || "";
  }

  async mounted() {
    this.$nextTick(() => {
      this.isContentShow = true;
      // this.search();
    });
  }

  linkByItem(item: any) {
    if (item.users == "Total") {
      return "";
    }
    const currentQueryParams = JSON.parse(JSON.stringify(this.$route.query));

    currentQueryParams.userid = item.users;
    // console.log('newQueryParams', newQueryParams)

    return `/report/transactions/${objToQueryParams(currentQueryParams)}`;
  }

  async search() {
    const loader = this.$refs.loading as any;
    const size = 100;
    try {
      if (!this.selectedPlatforms) {
        showDialog("กรุณาเลือก Platform", "Report");
      }
      loader.start();
      await this.dashboardStoreModule.loadUserListReportByPlatformAndGame({
        platformid: this.platformids.toString(),
        games: this.selectedGames || [],
        startdate: this.dateInput[0],
        enddate: this.dateInput[1],
        from: (this.page - 1) * size,
        size: size,
        currencies: this.selectedCurrencyInput,
      });
      this.numberOfPages = Math.ceil(this.totalItems / size);
    } catch (e) {}
    loader.finish();
  }
}
</script>

<style lang="scss" scoped>
.page {
  width: 100vw;
  height: 100vh;
  background: #242424;
}
.page-content-header {
  position: relative;
  z-index: 200;
  background: #212121;
}
.spinix-logo {
  width: 310px;
  height: auto;
}
.info-border {
  border: 1px solid #8a8a8a;
  border-radius: 10px;
  height: 260px;
}
.info-title {
  border-bottom: 2px solid #8a8a8a;
  padding-bottom: 4px;
}
</style>