<template>
  <v-dialog
    v-model="isAlert"
    :max-width="options.width"
    :style="{ zIndex: options.zIndex }"
    @keydown.esc="ok"
  >
    <v-card>
      <v-toolbar dark :color="options.color" dense flat>
        <v-toolbar-title class="text-body-2 font-weight-bold grey--text">
          {{ title }}
        </v-toolbar-title>
      </v-toolbar>
      <v-card-text
        v-show="!!message"
        class="pa-4 black--text"
        v-html="message"
      ></v-card-text>
      <v-card-actions class="pt-3">
        <v-spacer></v-spacer>
        <v-btn
          color="primary"
          class="body-2 font-weight-bold"
          outlined
          @click.native="ok"
          >OK</v-btn
        >
      </v-card-actions>
    </v-card>
  </v-dialog>
</template>

<script lang="ts">
import { Component, Vue, Watch } from "nuxt-property-decorator";
import { getModule } from "vuex-module-decorators";

import appModule from "~/store/app";

@Component({})
export default class AlertDialog extends Vue {
  appStoreModule = getModule(appModule, this.$store);

  resolve = null;
  title = null;
  options = {
    color: "grey lighten-3",
    width: 400,
    zIndex: 200,
    noconfirm: false,
  };

  isAlert: boolean = false;

  get message() {
    return this.appStoreModule.alertMessage
  }

  get storeIsAlert() {
    return this.appStoreModule.isAlert;
  }

  @Watch("storeIsAlert")
  onChangedStoreIsAlert(isAlert: boolean) {
    this.isAlert = isAlert;
  }

  @Watch("isAlert")
  onChangedIsAlert(isAlert: boolean) {
    if (!isAlert) this.appStoreModule.closeAlert();
  }

  ok() {
    this.appStoreModule.closeAlert();
  }
}
</script>

