<template>
  <v-row class="white--text" align="center">
    <!-- <v-col cols="auto"> Filter Date/ Time Range : </v-col> -->
    <v-col cols="auto">
      <v-menu
        dark
        ref="menu"
        v-model="menu"
        :close-on-content-click="false"
        transition="scale-transition"
        offset-y
        min-width="auto"
        id="report-filter"
      >
        <template v-slot:activator="{ on, attrs }">
          <v-text-field
            dark
            v-model="formattedDate"
            readonly
            prepend-inner-icon="mdi-calendar"
            v-bind="attrs"
            v-on="on"
            dense
            hide-details
            label="Date &amp; Time"
            outlined
            color="#c39141"
            style="width: 365px"
          ></v-text-field>
        </template>
        <div style="width: 470px; height: 320px">
          <fade-animation>
            <CalendarDialog
              v-if="menu"
              :initialDates="[new Date(startdate), new Date(enddate)]"
              :show-helper-buttons="false"
              @on-apply="selectDate"
              ref="calendar-dialog"
              :key="`calendar-dialog`"
            />
          </fade-animation>
        </div>
      </v-menu>
    </v-col>
    <v-col cols="auto">
      <v-btn color="orange" @click="searchAction()">Search</v-btn>
      <!-- <v-btn color="danger" @click="reset()">Reset</v-btn>  -->
    </v-col>
  </v-row>
</template>

<script lang="ts">
import { Component, Vue, Watch, Prop } from "nuxt-property-decorator";
import { getModule } from "vuex-module-decorators";
import dashboardModule from "~/store/dashboard";

import moment, { Moment } from "moment";
import FadeAnimation from "~/components/animations/FadeAnimation.vue";
import Loading from "~/components/Loading.vue";
import { watch } from "less";

@Component({
  components: {
    FadeAnimation,
    Loading,
    CalendarDialog: () => {
      if (process.client) {
        //@ts-ignore
        const comp = import("vue-time-date-range-picker/dist/vdprDatePicker");
        return comp.then((comp) => comp.CalendarDialog);
      }
    },
  },
})
export default class ReportFilter extends Vue {
  dashboardStoreModule = getModule(dashboardModule, this.$store);

  @Prop({ default: () => [new Date(), new Date()] }) dateInput!: Date[];

  menu = false;

  startdate: Moment = this.queryStartDate;
  enddate: Moment = this.queryEndDate;
 
  @Prop() search!: Function;

  @Watch("menu")
  onMenuChanged() {
    if (!this.menu) {
      // this.searchAction();
      const calendar: any = this.$refs["calendar-dialog"];
      if (calendar && calendar.onClickButtonApply) {
        calendar.onClickButtonApply();
      }
    }
  }

  // @Watch("selectedGames")
  // onSelectedGamesChanged() {
  //   this.selectedGamesValue = this.selectedGames;
  // }

  

  searchAction() {
    if (this.search) {
      this.setQueryParams();
      this.$emit("update:dateInput", [this.startdate, this.enddate]);
      console.log("queryParams", this.$route.query);
      this.search();
    }
  }

  setQueryParams() {
    const newParams: any = {};
    if (this.startdate) newParams["startdate"] = this.startdate.toISOString();
    if (this.enddate) newParams["enddate"] = this.enddate.toISOString();
   

    this.$router.push({ path: this.$route.path, query: newParams });
  }

  selectDate(date1: Date | string, date2: Date | string) {
    this.startdate = moment(new Date(date1));
    this.enddate = moment(new Date(date2));
    this.$emit("update:dateInput", [date1, date2]);
  }

  get formattedDate() {
    return (
      this.startdate
        .format()
        .replace(":00+", "+")
        .split("+")[0]
        .replace("T", " ") +
      " ~ " +
      this.enddate.format().replace(":00+", "+").split("+")[0].replace("T", " ")
    );
  }

  get currencies() {
    return this.dashboardStoreModule.currencies
      ?.filter((currency) => currency)
      ?.map((currency: IResponseData_Currencies) => {
        return {
          value: currency.code,
          text: currency.code,
        };
      });
  }


  @Watch("queryParams")
  onQueryParamsChanged() {
    this.$nextTick(() => {
      console.log("queryParams", this.$route.query);
      this.startdate = this.queryStartDate;
      this.enddate = this.queryEndDate;
    });
  }

  get queryParams() {
    return this.$route.query;
  }

  get queryStartDate() {
    if (this.queryParams.startdate) {
      return moment(new Date(this.queryParams.startdate as string)).startOf(
        "day"
      );
    } else {
      const now = moment();
      return now.startOf("day");
    }
  }

  get queryEndDate() {
    if (this.queryParams.enddate) {
      return moment(new Date(this.queryParams.enddate as string));
    } else {
      const now = moment();
      return now.endOf("day");
    }
  }


  reset() {
    this.$emit("update:dateInput", [
      new Date(moment().utc().startOf("day").toISOString()),
      new Date(moment().utc().endOf("day").toISOString()),
    ]);
  }

  async mounted() {
    this.setQueryParams();
    console.log("queryParams", this.$route.query);
    const loader = this.$refs.loading as any;
    try {
      loader.start();
      await this.dashboardStoreModule.loadGames();
      await this.dashboardStoreModule.loadPlatforms();
      await this.dashboardStoreModule.loadGameTypes();
      await this.dashboardStoreModule.loadCurrencies();
      loader.finish();
    } catch (e) {}
  }
}
</script>

<style scoped>
#report-filter {
  position: relative;
  z-index: 1000;
}
</style>