<template>
  <client-only>
    <v-app>
      <v-main>
        <Header />
        <v-row class="ma-0 total-content h-100 flex-nowrap">
          <v-col cols="auto" class="pa-0 h-100 d-none d-md-block">
            <Menu class="menu-content h-100" />
          </v-col>
          <v-col cols class="pa-0 h-100">
            <Nuxt class="page-content h-100" />
          </v-col>
        </v-row>
        <AlertDialog></AlertDialog>
      </v-main>
    </v-app>
  </client-only>
</template>

<script lang="ts">
import Header from "~/components/layouts/Header.vue";
import Menu from "~/components/layouts/Menu.vue";
import AlertDialog from "~/components/utils/AlertDialog.vue";
import { Component, Vue, Watch } from "nuxt-property-decorator";
import { getModule } from "vuex-module-decorators";

import appModule from "~/store/app";

@Component({
  middleware: ["authentication"],
  components: {
    Header,
    Menu,
    AlertDialog,
  },
})
export default class DefaultLayout extends Vue {
  appStoreModule = getModule(appModule, this.$store);

  // get loadingCounter() {
  //   return this.appStoreModule.loadingCounter;
  // }
  // @Watch("loadingCounter")
  // onChangedLoadingCounter(counter: number) {
  //   if(!this.$nuxt.$loading || !this.$nuxt.$loading.start){
  //     return;
  //   }

  //   if(counter >0) {
  //     this.$nuxt.$loading.start();
  //   } else {
  //     this.$nuxt.$loading.finish();
  //   }
  // }
}
</script>

<style lang="scss" scoped>
div.total-content {
  height: calc(100vh - 40px);
  overflow: hidden;
}
div.page-content {
  width: 100%;
  height: calc(100vh - 40px);
  overflow: auto;
  background: #242424;
}
div.menu-content {
  width: 240px;
  background: #212121;
}
</style>