<template>
  <v-app>
    <v-main>
      <Nuxt class="page-content" />
      <AlertDialog></AlertDialog>
    </v-main>
  </v-app>
</template>

<script lang="ts">
import { Component, Vue, Watch } from "nuxt-property-decorator";
import AlertDialog from "~/components/utils/AlertDialog.vue";
import { getModule } from "vuex-module-decorators";

import appModule from "~/store/app";

@Component({
  components: {AlertDialog},
})
export default class NoLayout extends Vue {
  appStoreModule = getModule(appModule, this.$store);

  // get loadingCounter() {
  //   return this.appStoreModule.loadingCounter;
  // }
  // @Watch("loadingCounter")
  // onChangedLoadingCounter(counter: number) {
  //   if(!this.$nuxt.$loading || !this.$nuxt.$loading.start){
  //     return;
  //   }

  //   if(counter >0) {
  //     this.$nuxt.$loading.start();
  //   } else {
  //     this.$nuxt.$loading.finish();
  //   }
  // }
}
</script>