<template>
  <div class="page">
    <v-container fluid class="h-100">
      <SlideFadeAnimation class="h-100">
        <div v-if="isContentShow" class="h-100" :key="`page-content`">
          <v-row class="h-100" align="center" justify="center">
            <v-col cols="auto"
              ><img
                class="spinix-logo"
                src="@/assets/images/logo/long-logo.png"
                alt=""
            /></v-col>
          </v-row>
        </div>
      </SlideFadeAnimation>
    </v-container>
  </div>
</template>

<script lang="ts">
import { Component, Vue } from "nuxt-property-decorator";
import SlideFadeAnimation from "~/components/animations/SlideFadeAnimation.vue";

import { getModule } from "vuex-module-decorators";

@Component({
  // layout: "no-layout",
  components: {
    SlideFadeAnimation,
  },
})
export default class Index extends Vue {
  isContentShow:boolean = false;
  timer: NodeJS.Timer | undefined;

  mounted() {
    this.isContentShow = true;
    setTimeout(() => {
      this.$router.push("/customer/list");
    }, 1000);
  }
}
</script>

<style lang="scss" scoped>
.page {
  width: 100vw;
  height: 100vh;
  background: #303438;
}
.spinix-logo {
  width: 310px;
  height: auto;
}
</style>
