<template>
  <div class="login-page">
    <v-container class="h-100" fluid>
      <v-row align="center" class="h-100">
        <v-col cols class="mx-5">
          <SlideFadeAnimation>
            <div v-if="isContentShow" :key="`page-content`">
              <div class="login-card">
                <v-row>
                  <v-col cols="12" md="6">
                    <div class="text-center pa-12">
                      <img
                        class="spinix-logo"
                        src="@/assets/images/logo/long-logo.png"
                        alt=""
                      />
                      <div class="mt-10"></div>
                      <v-text-field
                        label="Username"
                        placeholder="Username"
                        outlined
                        dark
                        v-model="username"
                      ></v-text-field>
                      <v-text-field
                        label="Password*"
                        placeholder="Password"
                        outlined
                        dark
                        type="password"
                        v-model="password"
                        @keydown.enter="login()"
                      ></v-text-field>
                      <v-btn @click="login()" block color="gold" dark>Login</v-btn>
                    </div>
                  </v-col>
                  <v-col cols="12" md="6" class="d-none d-md-block right-bg">
                    <v-row class="h-100" align="center" justify="center">
                      <v-col cols="auto">
                        <div class="text-center">
                          <div class="big-title text-left">VP-FIT</div>
                          <div class="big-title text-left">Dashboard</div>
                          <div class="mt-4">
                          </div>
                        </div>
                      </v-col>
                    </v-row>
                  </v-col>
                </v-row>
              </div>
            </div>
          </SlideFadeAnimation>
        </v-col>
      </v-row>
    </v-container>
  </div>
</template>

<script lang="ts">
import { Component, Vue } from "nuxt-property-decorator";
import SlideFadeAnimation from "~/components/animations/SlideFadeAnimation.vue";
import { showDialog } from "~/utils/dialog";

import { getModule } from "vuex-module-decorators";
import authModule from "~/store/auth";

@Component({
  layout: "no-layout",
  components: {
    SlideFadeAnimation,
  },
})
export default class Login extends Vue {
  authStore = getModule(authModule, this.$store);
  isContentShow:boolean = false;

  username: string = "";
  password: string = "";

  get loginRequest(): IRequestData_Login {
    return {
      username: this.username,
      password: this.password,
    };
  }

  validateLogin(): boolean {
    if (!this.username) {
      showDialog("กรุณากรอก username ของท่าน", "Login");
    } else if (!this.password) {
      showDialog("กรุณากรอกรหัสผ่านของท่าน", "Login");
    }
    return !!this.username && !!this.password;
  }

  async login() {
    if (this.validateLogin()) {
      try {
        await this.authStore.login(this.loginRequest);
        this.$router.push('/customer/list')
      } catch (error: any) {
        showDialog(error.message || error, "Login");
      }
    }
  }

  mounted() {
    this.isContentShow = true;
  }

}
</script>

<style lang="scss" scoped>
.login-page {
  width: 100vw;
  height: 100vh;
  color: white;
  background: linear-gradient(to left, rgb(195, 145, 65) 0%, rgb(25, 25, 25) 100%);
}
.spinix-logo {
  width: 310px;
  height: auto;
}
.login-card {
  background: #303438;
  border-radius: 20px;
  overflow: hidden;
  margin: auto;
}
.right-bg {
  background: linear-gradient(to right, rgb(50, 50, 50) 0%, rgb(25, 25, 25) 100%);
}
.big-title {
  font-size: 48px;
  font-weight: 800;
}
</style>
