<template>
  <div class="page">
    <v-container>
      <h2 class="white--text">Sale / Create Sale</h2>

      <SlideFadeAnimation>
        <div v-if="isContentShow" :key="`page-content`">
          <div class="login-card">
            <v-row justify="center">
              <v-col cols="12" md="8">
                <div class="text-center pa-12">
                  <div class="mt-10"></div>
                  <h3 class="white--text">Create Sale</h3>
                  <br />
                  <v-row align="center" class="py-0">
                    <v-col cols="auto">
                      <div class="white--text pb-6">ชื่อ</div>
                    </v-col>
                    <v-col cols class="py-0">
                      <v-text-field label="ชื่อ" placeholder="ชื่อ" outlined dark v-model="name"></v-text-field>
                    </v-col>
                  </v-row>
                  <v-row align="center" class="py-0">
                    <v-col cols="auto">
                      <div class="white--text pb-6">เพศ</div>
                    </v-col>
                    <v-col cols class="py-0">
                      <v-select :items="['M', 'F']" v-model="gender" label="เพศ" outlined dense hide-details dark
                        color="#faa41c" item-color="#faa41c"></v-select>
                    </v-col>
                  </v-row>
                  <v-row align="center" class="py-0">
                    <v-col cols="auto">
                      <div class="white--text pb-6">เบอร์โทรศัพท์</div>
                    </v-col>
                    <v-col cols class="py-0">
                      <v-text-field label="เบอร์โทรศัพท์" placeholder="เบอร์โทรศัพท์" outlined dark v-model="mobileNo">
                      </v-text-field>
                    </v-col>
                  </v-row>
                  <v-row align="center" class="py-0">
                    <v-col cols="auto">
                      <div class="white--text pb-6">LINE ID</div>
                    </v-col>
                    <v-col cols class="py-0">
                      <v-text-field label="LINE ID" placeholder="LINE ID" outlined dark v-model="lineId"></v-text-field>
                    </v-col>
                  </v-row>
                  <v-row align="center" class="py-0">
                    <v-col cols="auto">
                      <div class="white--text pb-6">Facebook</div>
                    </v-col>
                    <v-col cols class="py-0">
                      <v-text-field label="Facebook" placeholder="Facebook" outlined dark v-model="facebook">
                      </v-text-field>
                    </v-col>
                  </v-row>
                  <v-row align="center">
                    <v-col cols="auto" class="py-0">
                      <div class="white--text pb-6">Note</div>
                    </v-col>
                    <v-col cols class="py-0">
                      <v-textarea outlined dark label="note" placeholder="note" auto-grow v-model="note">
                      </v-textarea>
                    </v-col>
                  </v-row>
                  <v-btn @click="createSale()" block color="primary" dark>Create Sale</v-btn>
                </div>
              </v-col>
              <!-- <v-col cols="12" md="6" class="d-none d-md-block right-bg">
                <v-row class="h-100" align="center" justify="center">
                  <v-col cols="auto">
                    <div class="text-center">
                      <div class="big-title text-left">VP-FIT</div>
                      <div class="big-title text-left">Dashboard</div>
                      <div class="mt-4"></div>
                    </div>
                  </v-col>
                </v-row>
              </v-col> -->
            </v-row>
          </div>
        </div>
      </SlideFadeAnimation>
    </v-container>
    <Loading ref="loading" />
  </div>
</template>

<script lang="ts">
import { Component, Vue, Watch } from "nuxt-property-decorator";
import SlideFadeAnimation from "~/components/animations/SlideFadeAnimation.vue";
import CustomerPopup from "~/components/popup/CustomerPopup.vue";
import { showDialog } from "~/utils/dialog";

import moment from "moment";

import { getModule } from "vuex-module-decorators";

import dashboardModule from "~/store/dashboard";
import appModule from "~/store/app";
import Loading from "~/components/Loading.vue";
import ReportFilter from "~/components/utils/ReportFilter.vue";
import ReportTable from "~/components/tables/ReportTable.vue";
import TotalTable from "~/components/tables/TotalTable.vue";
import { objToQueryParams } from "~/utils/string";

@Component({
  components: {
    Loading,
    ReportFilter,
    ReportTable,
    SlideFadeAnimation,
    TotalTable,
    CustomerPopup,
  },
})
export default class Compo extends Vue {
  isContentShow: boolean = false;
  name = "";
  price = 0;
  address = "";
  contactable_info = "";
  mobileNo = "";
  lineId = "";
  facebook = "";
  gender="M";
  note= ''

  mounted() {
    this.isContentShow = true;
  }

  async createSale() {
    if (!this.name) {
      showDialog("กรุณากรอก ชื่อ", "Create Sale");
    }  else if (!this.mobileNo) {
      showDialog("กรุณากรอก เบอร์โทรศัพท์", "Create Sale");
    } else {
      const loader = this.$refs.loading as any;
      try {
        loader.start();
        const repo = this.$repositories.sale;
        const result: any = await repo.create({
          name: this.name,
          gender: this.gender,
          mobileNo: this.mobileNo,
          note: this.note,
          lineid: this.lineId,
          facebook: this.facebook
        });

        // this.gameResultUrl = result.data.;
        this.$nextTick(() => {
          showDialog(result.message, "Create Sale");
        });
        loader.finish();
      } catch (e: any) {
        this.$nextTick(() => {
          showDialog(e, "Create Sale");
        });
        loader.finish();
      }
    }
  }
}
</script>

<style lang="scss" scoped>
.page {
  width: 100vw;
  height: 100vh;
  background: #242424;
}

.page-content-header {
  position: relative;
  z-index: 200;
  background: #212121;
}

.spinix-logo {
  width: 310px;
  height: auto;
}

.info-border {
  border: 1px solid #8a8a8a;
  border-radius: 10px;
  height: 260px;
}

.info-title {
  border-bottom: 2px solid #8a8a8a;
  padding-bottom: 4px;
}
</style>
