<template>
  <div class="page">
    <v-container>
      <h2 class="white--text mb-3Z">Sale / Sale List</h2>
      <SlideFadeAnimation>
        <div v-if="isContentShow" :key="`page-content`">
          <div class="h-100" v-if="isContentShow" :key="`page-content`">
            <v-row class="white--text my-4" align="center">
              <v-col cols="auto">
                <v-text-field v-model="nameFilter" prepend-inner-icon="mdi-magnify" label="ชื่อ" outlined dense
                  hide-details dark color="#faa41c" item-color="#faa41c"></v-text-field>
              </v-col>
              <!-- <v-col cols="auto">
                <v-text-field v-model="mobileNoFilter" prepend-inner-icon="mdi-magnify" label="เบอร์โทรศัพท์" outlined
                  dense hide-details dark color="#faa41c" item-color="#faa41c"></v-text-field>
              </v-col>
              <v-col cols="auto">
                <v-select :items="memberItems" v-model="memberTypeFilter" label="ประเภท Member" outlined dense
                  hide-details dark color="#faa41c" item-color="#faa41c"></v-select>
              </v-col> -->
              <v-col cols="auto">
                <v-btn @click="search()" block color="primary" dark>Search</v-btn>
              </v-col>
            </v-row>
            <nuxt-link to="/sale/create">
              <v-btn block color="success" dark>Add Sale</v-btn>
            </nuxt-link>
            <br>
            <v-data-table id="table" dark :headers="tableHeaders" :items="items" :options="{ itemsPerPage: 1000 }"
              disable-pagination :hide-default-footer="true" height="calc(100vh - 205px)">
              <template v-slot:[`item.action`]="{ item }">
                <div class="text-center py-2">
                  <a :href="`/sale/edit/${item._id}`" target="_blank">
                    <v-btn color="primary" class="mb-2">แก้ไข Sale</v-btn>
                  </a>
                </div>
              </template>
              <template slot="no-data">
                <div></div>
              </template>
            </v-data-table>
            <br />
            <!-- <v-pagination v-model="page" :length="numberOfPages" color="#faa41c" @input="onPageChanged"></v-pagination> -->
          </div>
        </div>
      </SlideFadeAnimation>
    </v-container>
    <CustomerPopup ref="detail" />
    <Loading ref="loading" />
  </div>
</template>

<script lang="ts">
import { Component, Vue, Watch } from "nuxt-property-decorator";
import SlideFadeAnimation from "~/components/animations/SlideFadeAnimation.vue";
import CustomerPopup from "~/components/popup/CustomerPopup.vue";
import { showDialog } from "~/utils/dialog";

import moment from "moment";

import { getModule } from "vuex-module-decorators";

import dashboardModule from "~/store/dashboard";
import appModule from "~/store/app";
import Loading from "~/components/Loading.vue";
import ReportFilter from "~/components/utils/ReportFilter.vue";
import ReportTable from "~/components/tables/ReportTable.vue";
import TotalTable from "~/components/tables/TotalTable.vue";
import { objToQueryParams } from "~/utils/string";

@Component({
  components: {
    Loading,
    ReportFilter,
    ReportTable,
    SlideFadeAnimation,
    TotalTable,
    CustomerPopup,
  },
})
export default class Compo extends Vue {
  isContentShow: boolean = false;
  memberId = "";
  nameFilter = "";

  page = 1;
  numberOfPages = 1;
  dashboardStoreModule = getModule(dashboardModule, this.$store);
  appStoreModule = getModule(appModule, this.$store);
  items = []

  get tableHeaders() {
    return [
      { text: "ชื่อ", value: "name" },
      { text: "เพศ", value: "gender" },
      { text: "เบอร์โทรศัพท์", value: "mobileNo" },
      { text: "Line ID", value: "lineid" },
      { text: "Facebook", value: "facebook" },
      { text: "Action", value: "action" },
    ];
  }

  get totalItems() {
    return this.items?.length || 0;
  }

  // get total() {
  //   return this.items?.total || {};
  // }


  mounted() {
    this.isContentShow = true;
    this.search()
  }

  async search() {
    const loader = this.$refs.loading as any;
    try {
      loader.start();
      const repo = this.$repositories.sale;
      const result: any = await repo.list({});

      this.items = result.list

      loader.finish();
    } catch (e: any) {
      this.$nextTick(() => {
        showDialog(e, "Get Sale");
      });
      loader.finish();
    }
  }

  viewCustomerDetail(customer: any) {
    const refs = this.$refs as any
    console.log('refs', refs)
    refs.detail.open(customer, document);
  }
}
</script>

<style lang="scss" scoped>
.page {
  width: 100vw;
  height: 100vh;
  background: #242424;
}

.page-content-header {
  position: relative;
  z-index: 200;
  background: #212121;
}

.spinix-logo {
  width: 310px;
  height: auto;
}

.info-border {
  border: 1px solid #8a8a8a;
  border-radius: 10px;
  height: 260px;
}

.info-title {
  border-bottom: 2px solid #8a8a8a;
  padding-bottom: 4px;
}
</style>
