<template>
  <div class="header text-uppercase">
    <v-row class="my-0 ps-4 h-100 flex-nowrap" align="center" >
      <v-col cols="auto" class="py-0">
        <b>welcome to VP-FIT dashboard!</b>
      </v-col>
      <v-col cols="auto" class="ms-auto py-0">
        <v-btn @click="logout()" text>
          <div class="">
            Logout
          </div>
        <img
          class="logout-logo"
          src="@/assets/images/icons/logout-icon.png"
          alt=""
        />
        </v-btn>
      </v-col>
    </v-row>
  </div>
</template>
<script lang="ts">
import { Component, Vue } from "nuxt-property-decorator";

import { getModule } from "vuex-module-decorators";
import authModule from "~/store/auth";

@Component
export default class Header extends Vue {
  authStoreModule = getModule(authModule, this.$store);

  async logout() {
    await this.authStoreModule.logout()
    this.$router.push('/login')
  }
}
</script>

<style lang="scss" scoped>
.header {
  background: #c39141;
;
  color:black;
  height: 40px;
}
.logout-logo {
  width: 24px;
  height: auto;
  filter: brightness(0);
}
</style>
