<template>
  <div class="menu">
    <div class="px-3">
      <div>
        <div class="px-5">
          <img src="@/assets/images/logo/cube-logo.png" style="width:100px" class="img-fluid" alt="" />
        </div>
        <div class="text-right white--text">
          <b>USERNAME: {{ user }}</b>
          <b class="text-caption">{{ role }}</b>
        </div>
        <hr />
      </div>
      <div>
        <div>
          <v-btn text block class="px-0" @click="openCustomerMenu = !openCustomerMenu">
            <img class="menu-icon img-fluid" src="@/assets/images/icons/menu-icon.png" alt="" />
            <div class="text-uppercase white--text ps-1">Customer</div>
            <v-spacer />
          </v-btn>
        </div>
        <div v-if="openCustomerMenu" :key="`customer-item`" style="overflow: hidden">
          <v-row>
            <v-col cols="auto">
              <div style="width: 10px"></div>
            </v-col>
            <v-col cols>
              <v-btn text block small class="pa-0" style="height: 24px" to="/customer/register">
                <div class="white--text">Register</div>
                <v-spacer />
              </v-btn>
              <v-btn text block small class="pa-0" style="height: 24px" to="/customer/list">
                <div class="white--text">Customer List</div>
                <v-spacer />
              </v-btn>
              <!-- <v-btn
              text
              block
              small
              class="pa-0"
              style="height: 24px"
              to="/membership/usage"
            >
              <div class="white--text">Usage</div>
              <v-spacer />
            </v-btn> -->
              <!-- <v-btn
              text
              block
              small
              class="pa-0"
              style="height: 24px"
              to="/membership/ticket"
            >
              <div class="white--text">Ticket</div>
              <v-spacer />
            </v-btn> -->
            </v-col>
          </v-row>
        </div>

        <div>
          <v-btn text block class="px-0" @click="openPurchaseMenu = !openPurchaseMenu">
            <img class="menu-icon img-fluid" src="@/assets/images/icons/menu-icon.png" alt="" />
            <div class="text-uppercase white--text ps-1">Purchase</div>
            <v-spacer />
          </v-btn>
        </div>
        <div v-if="openPurchaseMenu" :key="`purchase-item`" style="overflow: hidden">
          <v-row>
            <v-col cols="auto">
              <div style="width: 10px"></div>
            </v-col>
            <v-col cols>
              <v-btn text block small class="pa-0" style="height: 24px" to="/purchase/membership">
                <div class="white--text">Buy Membership</div>
                <v-spacer />
              </v-btn>
              <v-btn text block small class="pa-0" style="height: 24px" to="/purchase/trainerprogram">
                <div class="white--text">Buy Program(PT)</div>
                <v-spacer />
              </v-btn>
              <!-- <v-btn
              text
              block
              small
              class="pa-0"
              style="height: 24px"
              to="/membership/usage"
            >
              <div class="white--text">Usage</div>
              <v-spacer />
            </v-btn> -->
              <!-- <v-btn
              text
              block
              small
              class="pa-0"
              style="height: 24px"
              to="/membership/ticket"
            >
              <div class="white--text">Ticket</div>
              <v-spacer />
            </v-btn> -->
            </v-col>
          </v-row>
        </div>

        <div>
          <v-btn text block class="px-0" @click="openMembershipMenu = !openMembershipMenu">
            <img class="menu-icon img-fluid" src="@/assets/images/icons/menu-icon.png" alt="" />
            <div class="text-uppercase white--text ps-1">Membership Program</div>
            <v-spacer />
          </v-btn>
        </div>
        <div v-if="openMembershipMenu" :key="`membership-item`" style="overflow: hidden">
          <v-row>
            <v-col cols="auto">
              <div style="width: 10px"></div>
            </v-col>
            <v-col cols>
              <v-btn text block small class="pa-0" style="height: 24px" to="/membership-program/create">
                <div class="white--text">Create Membership</div>
                <v-spacer />
              </v-btn>
              <v-btn text block small class="pa-0" style="height: 24px" to="/membership-program/list">
                <div class="white--text">Membership List</div>
                <v-spacer />
              </v-btn>
              <!-- <v-btn
              text
              block
              small
              class="pa-0"
              style="height: 24px"
              to="/membership/usage"
            >
              <div class="white--text">Usage</div>
              <v-spacer />
            </v-btn> -->
              <!-- <v-btn
              text
              block
              small
              class="pa-0"
              style="height: 24px"
              to="/membership/ticket"
            >
              <div class="white--text">Ticket</div>
              <v-spacer />
            </v-btn> -->
            </v-col>
          </v-row>
        </div>
        <div>
          <v-btn text block class="px-0" @click="openTrainerProgramMenu = !openTrainerProgramMenu">
            <img class="menu-icon img-fluid" src="@/assets/images/icons/menu-icon.png" alt="" />
            <div class="text-uppercase white--text ps-1">Trainer Program (PT)</div>
            <v-spacer />
          </v-btn>
        </div>
        <div v-if="openTrainerProgramMenu" :key="`trainer-item`" style="overflow: hidden">
          <v-row>
            <v-col cols="auto">
              <div style="width: 10px"></div>
            </v-col>
            <v-col cols>
              <v-btn text block small class="pa-0" style="height: 24px" to="/trainer-program/create">
                <div class="white--text">Create Trainer Program</div>
                <v-spacer />
              </v-btn>
              <v-btn text block small class="pa-0" style="height: 24px" to="/trainer-program/list">
                <div class="white--text">Trainer Program List</div>
                <v-spacer />
              </v-btn>
              <!-- <v-btn
              text
              block
              small
              class="pa-0"
              style="height: 24px"
              to="/membership/usage"
            >
              <div class="white--text">Usage</div>
              <v-spacer />
            </v-btn> -->
              <!-- <v-btn
              text
              block
              small
              class="pa-0"
              style="height: 24px"
              to="/membership/ticket"
            >
              <div class="white--text">Ticket</div>
              <v-spacer />
            </v-btn> -->
            </v-col>
          </v-row>
        </div>
        <div>
          <v-btn text block class="px-0" @click="openTrainerMenu = !openTrainerMenu">
            <img class="menu-icon img-fluid" src="@/assets/images/icons/menu-icon.png" alt="" />
            <div class="text-uppercase white--text ps-1">Trainer</div>
            <v-spacer />
          </v-btn>
        </div>
        <div v-if="openTrainerMenu" :key="`personal-trainer-item`" style="overflow: hidden">
          <v-row>
            <v-col cols="auto">
              <div style="width: 10px"></div>
            </v-col>
            <v-col cols>
              <v-btn text block small class="pa-0" style="height: 24px" to="/personal-trainer/create">
                <div class="white--text">Create Trainer</div>
                <v-spacer />
              </v-btn>
              <v-btn text block small class="pa-0" style="height: 24px" to="/personal-trainer/list">
                <div class="white--text">Trainer List</div>
                <v-spacer />
              </v-btn>
              <!-- <v-btn
              text
              block
              small
              class="pa-0"
              style="height: 24px"
              to="/membership/usage"
            >
              <div class="white--text">Usage</div>
              <v-spacer />
            </v-btn> -->
              <!-- <v-btn
              text
              block
              small
              class="pa-0"
              style="height: 24px"
              to="/membership/ticket"
            >
              <div class="white--text">Ticket</div>
              <v-spacer />
            </v-btn> -->
            </v-col>
          </v-row>
        </div>

        <div>
          <v-btn text block class="px-0" @click="openSaleMenu = !openSaleMenu">
            <img class="menu-icon img-fluid" src="@/assets/images/icons/menu-icon.png" alt="" />
            <div class="text-uppercase white--text ps-1">Sale</div>
            <v-spacer />
          </v-btn>
        </div>
        <div v-if="openSaleMenu" :key="`sale-item`" style="overflow: hidden">
          <v-row>
            <v-col cols="auto">
              <div style="width: 10px"></div>
            </v-col>
            <v-col cols>
              <v-btn text block small class="pa-0" style="height: 24px" to="/sale/create">
                <div class="white--text">Create Sale</div>
                <v-spacer />
              </v-btn>
              <v-btn text block small class="pa-0" style="height: 24px" to="/sale/list">
                <div class="white--text">Sale List</div>
                <v-spacer />
              </v-btn>
              <!-- <v-btn
              text
              block
              small
              class="pa-0"
              style="height: 24px"
              to="/membership/usage"
            >
              <div class="white--text">Usage</div>
              <v-spacer />
            </v-btn> -->
              <!-- <v-btn
              text
              block
              small
              class="pa-0"
              style="height: 24px"
              to="/membership/ticket"
            >
              <div class="white--text">Ticket</div>
              <v-spacer />
            </v-btn> -->
            </v-col>
          </v-row>
        </div>

        <div>
          <v-btn text block class="px-0" @click="openReportMenu = !openReportMenu">
            <img class="menu-icon img-fluid" src="@/assets/images/icons/menu-icon.png" alt="" />
            <div class="text-uppercase white--text ps-1">Report</div>
            <v-spacer />
          </v-btn>
        </div>
        <div v-if="openReportMenu" :key="`report-item`" style="overflow: hidden">
          <v-row>
            <v-col cols="auto">
              <div style="width: 10px"></div>
            </v-col>
            <v-col cols>
              <v-btn text block small class="pa-0" style="height: 24px" to="/report/membership-checkin">
                <div class="white--text">Membership Checkin</div>
                <v-spacer />
              </v-btn>
              <v-btn text block small class="pa-0" style="height: 24px" to="/report/pt-checkin">
                <div class="white--text">PT Checkin</div>
                <v-spacer />
              </v-btn>
              <v-btn text block small class="pa-0" style="height: 24px" to="/report/membership-sale">
                <div class="white--text">Membership Sale</div>
                <v-spacer />
              </v-btn>
              <v-btn text block small class="pa-0" style="height: 24px" to="/report/pt-sale">
                <div class="white--text">PT Sale</div>
                <v-spacer />
              </v-btn>
            </v-col>
          </v-row>
        </div>
      </div>
    </div>
  </div>
</template>
<script lang="ts">
import { Component, Vue } from "nuxt-property-decorator";

import { getModule } from "vuex-module-decorators";
import dashboardModule from "~/store/dashboard";
import appModule from "~/store/app";
import authModule from "~/store/auth";
import BounceAnimation from "~/components/animations/BounceAnimation.vue";
import { objToQueryParams } from "~/utils/string";

@Component({
  components: {
    BounceAnimation,
  },
})
export default class Menu extends Vue {
  dashboardStoreModule = getModule(dashboardModule, this.$store);
  appStoreModule = getModule(appModule, this.$store);
  authStoreModule = getModule(authModule, this.$store);

  openCustomerMenu = false;
  openPurchaseMenu = false;
  openMembershipMenu = false;
  openTrainerProgramMenu = false;
  openProgramMenu = false;
  openTrainerMenu = false;
  openPTMenu = false;
  openGroupClassMenu = false;
  openOverviewMenu = false;
  openEmployeeMenu = false;
  openSaleMenu = false;

  openReportMenu = false;

  openFinanceMenu = false;

  get selectedMenu() {
    return "";
  }

  get platforms() {
    return this.dashboardStoreModule.platforms;
  }

  get gameTypes() {
    return this.dashboardStoreModule.gameTypes;
  }
  get user() {
    return (this.authStoreModule.payload || {}).username;
  }
  get role() {
    return this.toTitleCase((this.authStoreModule.payload || {}).role || "");
  }

  toTitleCase(str: string) {
    return str.replaceAll("_", " ").replace(/\w\S*/g, function (txt) {
      return txt.charAt(0).toUpperCase() + txt.substr(1).toLowerCase();
    });
  }

  linkTo(
    prefixLink: string,
    overrideQueryParams: any = {},
    removeFields: string[] = []
  ) {
    const currentQueryParams = JSON.parse(JSON.stringify(this.$route.query));
    for (let i = 0; i < removeFields.length; i++) {
      currentQueryParams[removeFields[i]] = "";
    }
    const newQueryParams = {
      ...currentQueryParams,
      ...overrideQueryParams,
    };
    // console.log('newQueryParams', newQueryParams)
    return `${prefixLink}/${objToQueryParams(newQueryParams)}`;
  }

  async mounted() {
    try {
      this.appStoreModule.openLoader();
      // await this.dashboardStoreModule.loadPlatforms();
      // await this.dashboardStoreModule.loadGameTypes();
    } catch (e) { }
    this.appStoreModule.closeLoader();
  }
}
</script>

<style lang="scss" scoped>
.header {
  background: #ee3525;
  color: white;
  height: 40px;
}

.logout-logo {
  width: 24px;
  height: auto;
}

.menu-icon {
  width: 24px;
}
</style>
