<template>
  <div class="position-relative">
    <StatisticCard
      title="Today Active User"
      :amount="statistic.amount"
      :percent="statistic.percent"
    />
    <Loading ref="loading" />
  </div>
</template>

<script lang="ts">
import StatisticCard from "~/components/cards/StatisticCard.vue";
import { Component, Prop, Vue } from "nuxt-property-decorator";
import { getModule } from "vuex-module-decorators";

import dashboardModule from "~/store/dashboard";
import appModule from "~/store/app";
import Loading from "~/components/Loading.vue";

@Component({
  components: {
    StatisticCard,
    Loading,
  },
})
export default class TodayActiveUserStatisticCard extends Vue {
  dashboardStoreModule = getModule(dashboardModule, this.$store);
  appStoreModule = getModule(appModule, this.$store);

  @Prop({ default: "" })
  platformid!: string;

  get statistic(): IResponseData_TodayPercentStatistic | {} {
    return this.dashboardStoreModule?.todayActiveUser || {};
  }

  async mounted() {
    const loader = this.$refs.loading as any;
    try {
      loader.start();
      await this.dashboardStoreModule.loadTodayActiveUser(this.platformid);
      loader.finish();
    } catch (e) {}
  }
}
</script>


<style>
</style>