<template>
  <div class="page">
    <v-container>
      <h2 class="white--text">Membership Check in </h2>

      <SlideFadeAnimation>
        <div v-if="isContentShow" :key="`page-content`">
          <div class="login-card">
            <v-row justify="center">
              <v-col cols="12" md="8">
                <div class="text-center pa-12">
                  <div class="mt-10"></div>
                  <h3 class="white--text">Membership Check-ins</h3>
                  <br>
                  <!-- <v-text-field label="Member ID" placeholder="Member ID" outlined dark
                    v-model="memberId"></v-text-field> -->

                  <div class="white--text"><b> ชื่อ:</b> {{ customer.name || '' }}</div><br>
                  <div class="white--text"><b> โปรแกรม:</b> {{ programSell.member_program_name || '' }}</div><br>
                  <div class="white--text"><b> วันที่:</b> {{ todayCheckin }}</div> <br>
                  <!-- <div><b> MemberType:</b> {{(customer.member_type || '').toUpperCase()}}</div>
                  <div><b> ที่อยู่:</b> {{(customer.address || '')}}</div>
                  <div><b> บุคคลที่สามารถติดต่อได้:</b> {{ customer.contactable_info || '' }}</div>
                  <div><b> เบอร์โทรศัพท์:</b> {{ customer.mobileNo }}</div>
                  <div><b> LINE ID:</b> {{ customer.lineid }}</div>
                  <div><b> Facebook:</b> {{ customer.facebook }}</div> -->

                  <!-- <v-btn v-if="!isAlreadyCheckin" @click="checkin()" block color="primary" dark>Checkin</v-btn> -->
                  <v-btn v-if="isAlreadyCheckin" :disabled="true" block color="primary" dark>วันนี้ Checkin
                    เรียบร้อยแล้ว</v-btn>
                </div>
              </v-col>
              <!-- <v-col cols="12" md="6" class="d-none d-md-block right-bg">
                <v-row class="h-100" align="center" justify="center">
                  <v-col cols="auto">
                    <div class="text-center">
                      <div class="big-title text-left">VP-FIT</div>
                      <div class="big-title text-left">Dashboard</div>
                      <div class="mt-4"></div>
                    </div>
                  </v-col>
                </v-row>
              </v-col> -->
            </v-row>
          </div>
        </div>
      </SlideFadeAnimation>
    </v-container>
    <!-- <CustomerPopup ref="detail" /> -->
    <Loading ref="loading" />
  </div>
</template>

<script lang="ts">
import { Component, Vue, Watch } from "nuxt-property-decorator";
import SlideFadeAnimation from "~/components/animations/SlideFadeAnimation.vue";
import CustomerPopup from "~/components/popup/CustomerPopup.vue";
import { showDialog } from "~/utils/dialog";

import moment from "moment";

import { getModule } from "vuex-module-decorators";

import dashboardModule from "~/store/dashboard";
import appModule from "~/store/app";
import Loading from "~/components/Loading.vue";
import ReportFilter from "~/components/utils/ReportFilter.vue";
import ReportTable from "~/components/tables/ReportTable.vue";
import TotalTable from "~/components/tables/TotalTable.vue";
import { objToQueryParams } from "~/utils/string";

@Component({
  layout: "no-layout",
  components: {
    Loading,
    ReportFilter,
    ReportTable,
    SlideFadeAnimation,
    TotalTable,
    CustomerPopup
  },
})
export default class Compo extends Vue {
  isContentShow: boolean = false;
  program_sell_id = ''
  memberId = ''
  dashboardStoreModule = getModule(dashboardModule, this.$store);
  appStoreModule = getModule(appModule, this.$store);
  isAlreadyCheckin = false

  customer: any = {}
  programSell: any = {}

  monthNames = ["January", "February", "March", "April", "May", "June",
    "July", "August", "September", "October", "November", "December"
  ];


  get todayCheckin() {
    const today = new Date()
    return `${`0${today.getDate()}`.slice(-2)} ${this.monthNames[today.getMonth()]} ${today.getFullYear()}`
  }

  get todayCheckinParam() {
    const today = new Date()
    return `${today.getFullYear()}-${`0${today.getMonth() + 1}`.slice(-2)}-${`0${today.getDate()}`.slice(-2)} ${`0${today.getHours()}`.slice(-2)}:${`0${today.getMinutes()}`.slice(-2)}`
    // return `${`0${today.getDate()}`.slice(-2)} ${this.monthNames[today.getMonth()]} ${today.getFullYear()}`
  }

  async getMember(mid: string) {
    const loader = this.$refs.loading as any;
    try {
      loader.start();
      const memberRepository = this.$repositories.customer;
      const result: any = await memberRepository.get(mid);
      this.customer = result.existingCustomer

      // this.gameResultUrl = result.data.;
      loader.finish();
    } catch (e: any) {
      this.$nextTick(() => {
        showDialog(e, "Get Member", () => {
          (window as any)?.open((window as any)?.location, '_self').close();
        });
      });
      loader.finish();
    }
  }

  async getProgramsel(sid: string) {
    const loader = this.$refs.loading as any;
    try {
      loader.start();
      const programRepository = this.$repositories.member_program_sale;
      const result: any = await programRepository.get(sid);
      this.programSell = result.existingMember

      await this.getMember(this.programSell.customer_id)

      // this.gameResultUrl = result.data.;
      // loader.finish();
    } catch (e: any) {
      this.$nextTick(() => {
        showDialog(e, "Get Member", () => {
          (window as any)?.open((window as any)?.location, '_self').close();
        });
      });
      loader.finish();
    }
  }

  async getCheckin(sid: string, year: number, month: number, day: number) {
    const loader = this.$refs.loading as any;
    try {
      loader.start();
      const programRepository = this.$repositories.member_program_checkin;
      const res = await programRepository.list({ member_program_sale_id: sid, year, month, day });
      this.isAlreadyCheckin = true

      if (!res.existing.length) {
        this.checkin();
      }
      // this.gameResultUrl = result.data.;
      loader.finish();
    } catch (e: any) {
      this.checkin();
      loader.finish();
    }
  }

  async checkin() {
    const loader = this.$refs.loading as any;
    try {
      loader.start();
      const programRepository = this.$repositories.member_program_checkin;
      let dateParam = ''
      let day = 0;
      let month = 0;
      let year = 0;
      let hour = 0;
      let min = 0;
      if (this.$route.query?.chkind) {
        const today = new Date((this.$route.query?.chkind || '') as string);
        dateParam = `${today.getFullYear()}-${`0${today.getMonth() + 1}`.slice(-2)}-${`0${today.getDate()}`.slice(-2)} ${`0${today.getHours()}`.slice(-2)}:${`0${today.getMinutes()}`.slice(-2)}`
        day = today.getDate()
        month = today.getMonth() + 1
        year = today.getFullYear()
        hour = today.getHours()
        min = today.getMinutes()
      } else {
        const today = new Date()
        dateParam = `${today.getFullYear()}-${`0${today.getMonth() + 1}`.slice(-2)}-${`0${today.getDate()}`.slice(-2)} ${`0${today.getHours()}`.slice(-2)}:${`0${today.getMinutes()}`.slice(-2)}`
        day = today.getDate()
        month = today.getMonth() + 1
        year = today.getFullYear()
        hour = today.getHours()
        min = today.getMinutes()
      }
      const result: any = await programRepository.create({
        member_program_sale_id: this.program_sell_id,
        member_program_name: this.programSell.member_program_name,
        member_program_id: this.programSell.member_program_id,
        customer_id: this.customer._id,
        checkin_date: dateParam,
        year,
        month,
        day,
        hour,
        minute: min,
      });
      this.isAlreadyCheckin = true;
      this.$nextTick(() => {
        showDialog(result.message, "Checkin", () => {
          (window as any)?.open((window as any)?.location, '_self').close();
        });
      });

      loader.finish();
    } catch (e: any) {
      this.$nextTick(() => {
        showDialog(e, "Checkin");
      });
      loader.finish();
    }
  }

  async mounted() {
    this.isContentShow = true
    this.program_sell_id = (this.$route.query?.sid || '') as string

    if (!this.program_sell_id) {
      showDialog("Program not found", "Get Program", () => {
        (window as any)?.open((window as any)?.location, '_self').close();
      });
    } else {
      await this.getProgramsel(this.program_sell_id)
      const today = new Date()
      this.getCheckin(this.program_sell_id, today.getFullYear(), today.getMonth() + 1, today.getDate())
    }
  }

  search() {
    const refs = this.$refs as any
    console.log('refs', refs)
    refs.detail.open({}, document);
  }
}
</script>

<style lang="scss" scoped>
.page {
  width: 100vw;
  height: 100vh;
  background: #242424;
}

.page-content-header {
  position: relative;
  z-index: 200;
  background: #212121;
}

.spinix-logo {
  width: 310px;
  height: auto;
}

.info-border {
  border: 1px solid #8a8a8a;
  border-radius: 10px;
  height: 260px;
}

.info-title {
  border-bottom: 2px solid #8a8a8a;
  padding-bottom: 4px;
}
</style>
