<template>
  <div class="page">
    <v-container>
      <h2 class="white--text">Trainer Program (PT) / Check in</h2>

      <SlideFadeAnimation>
        <div v-if="isContentShow" :key="`page-content`">
          <div class="login-card">
            <v-row justify="center">
              <v-col cols="12" md="8">
                <div class="text-center pa-12">
                  <div class="mt-10"></div>
                  <h3 class="white--text">Trainer Program (PT) Check-ins</h3>
                  <br>
                  <div class="text-center"><qr-code class="mx-auto block" style="width:256px;" error-level="L" :text="`https://vpfit.kopepan.dev/membership/checkin-pt?sid=${program_sell_id}`"></qr-code></div>

                </div>
              </v-col>
              <!-- <v-col cols="12" md="6" class="d-none d-md-block right-bg">
                <v-row class="h-100" align="center" justify="center">
                  <v-col cols="auto">
                    <div class="text-center">
                      <div class="big-title text-left">VP-FIT</div>
                      <div class="big-title text-left">Dashboard</div>
                      <div class="mt-4"></div>
                    </div>
                  </v-col>
                </v-row>
              </v-col> -->
            </v-row>
          </div>
        </div>
      </SlideFadeAnimation>
    </v-container>
    <!-- <CustomerPopup ref="detail" /> -->
    <Loading ref="loading" />
  </div>
</template>

<script lang="ts">
import { Component, Vue, Watch } from "nuxt-property-decorator";
import SlideFadeAnimation from "~/components/animations/SlideFadeAnimation.vue";
import CustomerPopup from "~/components/popup/CustomerPopup.vue";
import { showDialog } from "~/utils/dialog";

import moment from "moment";

import { getModule } from "vuex-module-decorators";

import dashboardModule from "~/store/dashboard";
import appModule from "~/store/app";
import Loading from "~/components/Loading.vue";
import ReportFilter from "~/components/utils/ReportFilter.vue";
import ReportTable from "~/components/tables/ReportTable.vue";
import TotalTable from "~/components/tables/TotalTable.vue";
import { objToQueryParams } from "~/utils/string";
//@ts-ignore
import VueQRCodeComponent from 'vue-qrcode-component'
@Component({
  layout: "no-layout",
  components: {
    Loading,
    ReportFilter,
    ReportTable,
    SlideFadeAnimation,
    TotalTable,
    CustomerPopup,
    'qr-code':VueQRCodeComponent
  },
})
export default class Compo extends Vue {
  isContentShow: boolean = false;
  program_sell_id = ''
  memberId = ''
  dashboardStoreModule = getModule(dashboardModule, this.$store);
  appStoreModule = getModule(appModule, this.$store);
  isAlreadyCheckin = false

  customer: any = {}

  monthNames = ["January", "February", "March", "April", "May", "June",
    "July", "August", "September", "October", "November", "December"
  ];


  get todayCheckin() {
    const today = new Date()
    return `${`0${today.getDate()}`.slice(-2)} ${this.monthNames[today.getMonth()]} ${today.getFullYear()}`
  }

  get todayCheckinParam() {
    const today = new Date()
    return `${today.getFullYear()}-${`0${today.getMonth() + 1}`.slice(-2)}-${`0${today.getDate()}`.slice(-2)} ${`0${today.getHours()}`.slice(-2)}:${`0${today.getMinutes()}`.slice(-2)}`
    // return `${`0${today.getDate()}`.slice(-2)} ${this.monthNames[today.getMonth()]} ${today.getFullYear()}`
  }

  async getMember(mid: string) {
    const loader = this.$refs.loading as any;
    try {
      loader.start();
      const memberRepository = this.$repositories.member;
      const result: any = await memberRepository.getMember(mid);
      this.customer = result.existingMember

      // this.gameResultUrl = result.data.;
      loader.finish();
    } catch (e: any) {
      this.$nextTick(() => {
        showDialog(e, "Get Member", () => {
          (window as any)?.open((window as any)?.location, '_self').close();
        });
      });
      loader.finish();
    }
  }

  // async getProgramsel(sid: string) {
  //   const loader = this.$refs.loading as any;
  //   try {
  //     loader.start();
  //     const programRepository = this.$repositories.program;
  //     const result: any = await programRepository.getSellItem(sid);
  //     this.programSell = result.programSell

  //     await this.getMember(this.programSell.member_id)

  //     // this.gameResultUrl = result.data.;
  //     // loader.finish();
  //   } catch (e: any) {
  //     this.$nextTick(() => {
  //       showDialog(e, "Get Member", () => {
  //         (window as any)?.open((window as any)?.location, '_self').close();
  //       });
  //     });
  //     loader.finish();
  //   }
  // }

  async getCheckin(sid: string, year: number, month: number, day: number) {
    const loader = this.$refs.loading as any;
    try {
      loader.start();
      const programRepository = this.$repositories.program;
      await programRepository.getSellItemCheckin(sid,year,month,day);
      this.isAlreadyCheckin = true

      // this.gameResultUrl = result.data.;
      loader.finish();
    } catch (e: any) {
      // this.checkin();
      loader.finish();
    }
  }

  async checkin() {
    const loader = this.$refs.loading as any;
    try {
      loader.start();
      const memberRepository = this.$repositories.member;
      const today = new Date()
      const result: any = await memberRepository.checkin(this.memberId, this.customer.current_program, this.todayCheckinParam, today.getFullYear(), today.getMonth()+1, today.getDate(), today.getHours(), today.getMinutes());

      this.$nextTick(() => {
        showDialog(result.message, "Checkin");
      });

      loader.finish();
    } catch (e: any) {
      this.$nextTick(() => {
        showDialog(e, "Checkin");
      });
      loader.finish();
    }
  }

  async mounted() {
    this.isContentShow = true
    this.program_sell_id = (this.$route.query?.sid || '') as string

    if (!this.program_sell_id) {
      showDialog("Program not found", "Get Program", () => {
        (window as any)?.open((window as any)?.location, '_self').close();
      });
    } else {
      // await this.getMember(this.memberId)
      // const today = new Date()
      // this.getCheckin(this.memberId,today.getFullYear(), today.getMonth()+1, today.getDate())
    }
  }

  search() {
    const refs = this.$refs as any
    console.log('refs', refs)
    refs.detail.open({}, document);
  }
}
</script>

<style lang="scss" scoped>
.page {
  width: 100vw;
  height: 100vh;
  background: #242424;
}

.page-content-header {
  position: relative;
  z-index: 200;
  background: #212121;
}

.spinix-logo {
  width: 310px;
  height: auto;
}

.info-border {
  border: 1px solid #8a8a8a;
  border-radius: 10px;
  height: 260px;
}

.info-title {
  border-bottom: 2px solid #8a8a8a;
  padding-bottom: 4px;
}
</style>
