<template>
  <div class="page">
    <v-container>
      <h2 class="white--text">Membership / Register</h2>

      <SlideFadeAnimation>
        <div v-if="isContentShow" :key="`page-content`">
          <div class="login-card">
            <v-row justify="center">
              <v-col cols="12" md="8">
                <div class="text-center pa-12">
                  <div class="mt-10"></div>
                  <h3 class="white--text">Register</h3>
                  <br />
                  <v-row align="center" class="py-0">
                    <v-col cols="auto">
                      <div class="white--text pb-6">ชื่อ</div>
                    </v-col>
                    <v-col cols class="py-0">
                      <v-text-field label="ชื่อ" placeholder="ชื่อ" outlined dark v-model="name"></v-text-field>
                    </v-col>
                  </v-row>
                  <v-row align="center">
                    <v-col cols="auto" class="py-0">
                      <div class="white--text pb-6">ที่อยู่</div>
                    </v-col>
                    <v-col cols class="py-0">
                      <v-textarea outlined dark label="ที่อยู่" placeholder="ที่อยู่" auto-grow v-model="address">
                      </v-textarea>
                    </v-col>
                  </v-row>
                  <v-row align="center" class="py-0">
                    <v-col cols="auto">
                      <div class="white--text pb-6">เบอร์โทรศัพท์</div>
                    </v-col>
                    <v-col cols class="py-0">
                      <v-text-field label="เบอร์โทรศัพท์" placeholder="เบอร์โทรศัพท์" outlined dark v-model="mobileNo">
                      </v-text-field>
                    </v-col>
                  </v-row>
                  <v-row align="center" class="py-0">
                    <v-col cols="auto">
                      <div class="white--text pb-6">LINE ID</div>
                    </v-col>
                    <v-col cols class="py-0">
                      <v-text-field label="LINE ID" placeholder="LINE ID" outlined dark v-model="lineId"></v-text-field>
                    </v-col>
                  </v-row>
                  <v-row align="center" class="py-0">
                    <v-col cols="auto">
                      <div class="white--text pb-6">Facebook</div>
                    </v-col>
                    <v-col cols class="py-0">
                      <v-text-field label="Facebook" placeholder="Facebook" outlined dark v-model="facebook">
                      </v-text-field>
                    </v-col>
                  </v-row>
                  <v-row align="center" class="py-0">
                    <v-col cols="auto">
                      <div class="white--text pb-6">เพศ</div>
                    </v-col>
                    <v-col cols class="py-0">
                      <v-select :items="['M', 'F']" v-model="gender" label="เพศ" outlined dense hide-details dark
                        color="#faa41c" item-color="#faa41c"></v-select>
                    </v-col>
                  </v-row>
                  <v-row align="center">
                    <v-col cols="auto" class="py-0">
                      <div class="white--text pb-6">Note</div>
                    </v-col>
                    <v-col cols class="py-0">
                      <v-textarea outlined dark label="note" placeholder="note" auto-grow v-model="note">
                      </v-textarea>
                    </v-col>
                  </v-row>
                  <v-row align="center">
                    <v-col cols="auto" class="py-0">
                      <div class="white--text pb-6">บุคคลที่สามารถติดต่อได้</div>
                    </v-col>
                    <v-col cols class="py-0">
                      <v-text-field label="บุคคลที่สามารถติดต่อได้" placeholder="บุคคลที่สามารถติดต่อได้" outlined dark
                        v-model="contactable_info"></v-text-field>
                    </v-col>
                  </v-row>
                  <v-row align="center">
                    <v-col cols="auto" class="py-0">
                      <div class="white--text pb-6">เบอร์ของบุคคลที่สามารถติดต่อได้</div>
                    </v-col>
                    <v-col cols class="py-0">
                      <v-text-field label="เบอร์ของบุคคลที่สามารถติดต่อได้" placeholder="เบอร์ของบุคคลที่สามารถติดต่อได้"
                        outlined dark v-model="contactable_info_number"></v-text-field>
                    </v-col>
                  </v-row>
                  <v-row align="center">
                    <v-col cols="auto" class="py-0">
                      <div class="white--text pb-6">Member Start Date</div>
                    </v-col>
                    <v-col cols class="py-0">
                      <v-menu v-model="menu3" :close-on-content-click="false" :nudge-right="40"
                        transition="scale-transition" offset-y min-width="auto">
                        <template v-slot:activator="{ on, attrs }">
                          <v-text-field v-model="start_date" label="Start Date" outlined dark prepend-icon="mdi-calendar"
                            readonly v-bind="attrs" v-on="on"></v-text-field>
                        </template>
                        <v-date-picker dark v-model="start_date" @input="menu3 = false"></v-date-picker>
                      </v-menu>
                    </v-col>
                  </v-row>
                  <v-row align="center">
                    <v-col cols="auto" class="py-0">
                      <div class="white--text pb-6">Member Expiry Date</div>
                    </v-col>
                    <v-col cols class="py-0">
                      <v-menu v-model="menu2" :close-on-content-click="false" :nudge-right="40"
                        transition="scale-transition" offset-y min-width="auto">
                        <template v-slot:activator="{ on, attrs }">
                          <v-text-field v-model="expiry_date" label="Expiry Date" outlined dark
                            prepend-icon="mdi-calendar" readonly v-bind="attrs" v-on="on"></v-text-field>
                        </template>
                        <v-date-picker dark v-model="expiry_date" @input="menu2 = false"></v-date-picker>
                      </v-menu>
                    </v-col>
                  </v-row>
                  <v-row align="center">
                    <v-col cols="auto" class="py-0">
                      <div class="white--text pb-6">Programs</div>
                    </v-col>
                    <v-col cols class="py-0">
                      <v-btn class="mb-5" block color="primary" @click="selectProgram()">
                        Add Program
                      </v-btn>
                    </v-col>
                  </v-row>
                  <v-row align="center">
                    <v-col cols class="py-0">
                      <v-data-table id="table" dark :headers="tableHeaders" :items="selected_program_list"
                        :options="{ itemsPerPage: 1000 }" disable-pagination :hide-default-footer="true">
                        <template v-slot:[`item.member_type`]="{ item }">
                          <div style="text-transform: uppercase;">
                            {{ item.member_type }}
                          </div>
                        </template>
                        <template v-slot:[`item.sell_price`]="{ item }">
                          <div>
                            {{ formatNumberWithDecimal(item.sell_price) }}
                          </div>
                        </template>
                        <template v-slot:[`item.start_date`]="{ item }">
                          <div>
                            {{ item.start_date ? item.start_date.split("T")[0]: '' }}
                          </div>
                        </template>
                        <template v-slot:[`item.expiry_date`]="{ item }">
                          <div>
                            {{ item.start_date ? item.start_date.split("T")[0]: '' }}
                          </div>
                        </template>
                        <template v-slot:[`item.action`]="{ item }">
                          <div class="text-center py-2">
                            <v-btn color="primary">remove</v-btn>
                          </div>
                        </template>
                        <template slot="no-data">
                          <div></div>
                        </template>
                      </v-data-table>
                    </v-col>
                  </v-row>
                  <!-- <v-row align="center">
                          <v-col cols="auto" class="py-0">
                            <div class="white--text pb-6">Select Program</div>
                          </v-col>
                          <v-col cols class="py-0">
                            <v-autocomplete v-model="program" :items="program_list" outlined dense dark
                              label="Select Program"></v-autocomplete>
                          </v-col>
                        </v-row>
                        <v-row align="center">
                          <v-col cols="auto" class="py-0">
                            <div class="white--text pb-6">Select Personal Trainer</div>
                          </v-col>
                          <v-col cols class="py-0">
                            <v-autocomplete v-model="trainer" :items="trainer_list" outlined dense dark
                              label="Select Personal Trainer"></v-autocomplete>
                          </v-col>
                        </v-row>

                        <div v-if="program">
                          <v-row align="center">
                            <v-col cols="auto" class="py-0">
                              <div class="white--text pb-6">Program Start Date</div>
                            </v-col>
                            <v-col cols class="py-0">
                              <v-menu v-model="menu4" :close-on-content-click="false" :nudge-right="40"
                                transition="scale-transition" offset-y min-width="auto">
                                <template v-slot:activator="{ on, attrs }">
                                  <v-text-field v-model="program_start_date" label="Program Start Date" outlined dark
                                    prepend-icon="mdi-calendar" readonly v-bind="attrs" v-on="on"></v-text-field>
                                </template>
                                <v-date-picker dark v-model="program_start_date" @input="menu4 = false"></v-date-picker>
                              </v-menu>
                            </v-col>
                          </v-row>
                          <v-row align="center">
                            <v-col cols="auto" class="py-0">
                              <div class="white--text pb-6">Program Expiry Date</div>
                            </v-col>
                            <v-col cols class="py-0">
                              <v-menu v-model="menu5" :close-on-content-click="false" :nudge-right="40"
                                transition="scale-transition" offset-y min-width="auto">
                                <template v-slot:activator="{ on, attrs }">
                                  <v-text-field v-model="program_expiry_date" label="Program Expiry Date" outlined dark
                                    prepend-icon="mdi-calendar" readonly v-bind="attrs" v-on="on"></v-text-field>
                                </template>
                                <v-date-picker dark v-model="program_expiry_date" @input="menu5 = false"></v-date-picker>
                              </v-menu>
                            </v-col>
                          </v-row>
                        </div> -->
                  <br>
                  <br>
                  <v-btn @click="register()" block color="primary" dark>Register</v-btn>
                </div>
              </v-col>
              <!-- <v-col cols="12" md="6" class="d-none d-md-block right-bg">
                      <v-row class="h-100" align="center" justify="center">
                        <v-col cols="auto">
                          <div class="text-center">
                            <div class="big-title text-left">VP-FIT</div>
                            <div class="big-title text-left">Dashboard</div>
                            <div class="mt-4"></div>
                          </div>
                        </v-col>
                      </v-row>
                    </v-col> -->
            </v-row>
          </div>
        </div>
      </SlideFadeAnimation>
    </v-container>
    <Loading ref="loading" />
    <SelectProgramPopup ref="selectprogram" />
  </div>
</template>

<script lang="ts">
import { Component, Vue, Watch } from "nuxt-property-decorator";
import SlideFadeAnimation from "~/components/animations/SlideFadeAnimation.vue";
import CustomerPopup from "~/components/popup/CustomerPopup.vue";
import SelectProgramPopup from "~/components/popup/SelectProgramPopup.vue"
import { showDialog } from "~/utils/dialog";

import moment from "moment";

import { getModule } from "vuex-module-decorators";

import dashboardModule from "~/store/dashboard";
import appModule from "~/store/app";
import Loading from "~/components/Loading.vue";
import ReportFilter from "~/components/utils/ReportFilter.vue";
import ReportTable from "~/components/tables/ReportTable.vue";
import TotalTable from "~/components/tables/TotalTable.vue";
import { objToQueryParams } from "~/utils/string";
import { formatNumberWithDecimal } from "~/utils/math";

@Component({
  components: {
    Loading,
    ReportFilter,
    ReportTable,
    SlideFadeAnimation,
    TotalTable,
    CustomerPopup,
    SelectProgramPopup
  },
})
export default class Compo extends Vue {
  isContentShow: boolean = false;
  menu2 = false;
  menu3 = false;
  menu4 = false;
  menu5 = false;
  name = "";
  address = "";
  contactable_info = "";
  contactable_info_number = "";
  mobileNo = "";
  lineId = "";
  facebook = "";
  gender = "M";
  note = "";
  start_date = "";
  expiry_date = "";
  program_start_date = "";
  program_expiry_date = "";

  selected_program_list: any[] = []

  program_list: any[] = [{
    text: 'ไม่เลือกโปรแกรม',
    value: null
  }];
  program: any = null

  trainer_list: any[] = [{
    text: 'ไม่เลือกเทรนเนอร์',
    value: null
  }];
  trainer: any = null

  formatNumberWithDecimal = formatNumberWithDecimal

  get tableHeaders() {
    return [
      { text: "Program", value: "program.name" },
      { text: "Trainer", value: "trainer.name" },
      { text: "จำนวนครั้ง", value: "times" },
      { text: "Start Date", value: "start_date" },
      { text: "Expiry Date", value: "expiry_date" },
      { text: "Price", value: "sell_price" },
      { text: "Action", value: "action" },
    ];
  }

  async mounted() {
    this.isContentShow = true;
    const loader = this.$refs.loading as any;
    loader.start();
    try {
      const repo = this.$repositories.program;
      const result: any = await repo.get({});

      this.program_list = [{
        text: 'ไม่เลือกโปรแกรม',
        value: null
      }, ...(result.programData.map((item: any) => {
        return {
          text: `${item.name} | ฿${Number(item.price).toLocaleString('en', {
            minimumFractionDigits: 2,
          })}`,
          value: item
        }
      }))];

      this.program = null
    } catch (e: any) {
    }
    try {
      const repo2 = this.$repositories.trainer;
      const result2: any = await repo2.get({ name: '' });

      this.trainer_list = [{
        text: 'ไม่เลือกเทรนเนอร์',
        value: null
      }, ...(result2.trainerData.map((item: any) => {
        return {
          text: `${item.name} | ฿${Number(item.price).toLocaleString('en', {
            minimumFractionDigits: 2,
          })}`,
          value: item
        }
      }))]
      this.trainer = null
    } catch (e: any) {
      console.log('e', e)
    }
    loader.finish();
  }

  getMemberType() {
    if (this.program) {
      if (this.trainer) {
        return 'a'
      }
      return 'b'
    }
    return 'new'
  }


  async selectProgram() {
    (this.$refs.selectprogram as any)?.open(this.selectProgramCallback)
  }

  async selectProgramCallback(program: any, program_start_date: any, program_expiry_date: any, trainer: any, addonprice: number, times: number) {
    this.selected_program_list.push({
      program: program,
      trainer: trainer,
      program_id: program._id,
      sale_id: '',
      sell_price: (Number(addonprice) || 0),
      times: (Number(times) || 0),
      remaining_times: (Number(times) || 0),
      sell_date: new Date().toISOString(),
      start_date: program_start_date,
      expiry_date: program_expiry_date,
    })
  }

  async register() {
    if (!this.name) {
      showDialog("กรุณากรอก ชื่อ", "Member Register");
    } else if (!this.address) {
      showDialog("กรุณากรอก ที่อยู่", "Member Register");
    } else if (!this.contactable_info) {
      showDialog("กรุณากรอก บุคคลที่สามารถติดต่อได้", "Member Register");
    } else if (!this.contactable_info_number) {
      showDialog("กรุณากรอก เบอร์ของบุคคลที่สามารถติดต่อได้", "Member Register");
    } else if (!this.mobileNo) {
      showDialog("กรุณากรอก เบอร์โทรศัพท์", "Member Register");
    } else if (!this.selected_program_list.length) {
      showDialog("กรุณาเลือก Program", "Member Register");
    } else {
      const loader = this.$refs.loading as any;
      try {
        loader.start();
        const memberRepository = this.$repositories.member;
        const result: any = await memberRepository.register({
          name: this.name,
          address: this.address,
          contactable_info: this.contactable_info,
          contactable_info_number: this.contactable_info_number,
          member_type: this.getMemberType(),
          mobileNo: this.mobileNo,
          lineid: this.lineId,
          facebook: this.facebook,
          gender: this.gender,
          note: this.note,
          start_date: this.start_date,
          expiry_date: this.expiry_date,
          // current_program: this.program ? `${this.program.name} | ฿${Number(this.program.price).toLocaleString('en', {
          //   minimumFractionDigits: 2,
          // })}` : '',
          // trainer: this.trainer
        });

        // this.gameResultUrl = result.data.

        const programRepo = this.$repositories.program;
        for (let i = 0; i < this.selected_program_list.length; i++) {
          const selected_program = this.selected_program_list[i];
          const result2: any = await programRepo.createSell({
            program_id: selected_program.program._id,
            member_id: result.newMember._id,
            trainer_id: selected_program.trainer._id,
            program_name: selected_program.program.name,
            trainer_name: selected_program.trainer.name,
            sell_price: Number(selected_program.sell_price),
            sell_date: selected_program.sell_date,
            start_date: selected_program.start_date,
            expiry_date: selected_program.expiry_date,
            times: selected_program.times,
            remaining_times: selected_program.remaining_times
          });
        }
        this.$nextTick(() => {
          showDialog(result.message, "Member Register");
        });

        loader.finish();
      } catch (e: any) {
        this.$nextTick(() => {
          showDialog(e, "Member Register");
        });
        loader.finish();
      }
    }
  }
}
</script>

<style lang="scss" scoped>
.page {
  width: 100vw;
  height: 100vh;
  background: #242424;
}

.page-content-header {
  position: relative;
  z-index: 200;
  background: #212121;
}

.spinix-logo {
  width: 310px;
  height: auto;
}

.info-border {
  border: 1px solid #8a8a8a;
  border-radius: 10px;
  height: 260px;
}

.info-title {
  border-bottom: 2px solid #8a8a8a;
  padding-bottom: 4px;
}
</style>
