<template>
  <div class="page">
    <v-container>
      <h2 class="white--text mb-3Z">Membership / Usage</h2>
      <SlideFadeAnimation>
        <div v-if="isContentShow" :key="`page-content`">
          <div class="h-100" v-if="isContentShow" :key="`page-content`">
            <v-data-table id="table" dark :headers="tableHeaders" :items="items" :options="{ itemsPerPage: 1000 }"
              disable-pagination :hide-default-footer="true" height="calc(100vh - 205px)">
              <template v-slot:[`item.user_id`]="{ item }">
                <a :href="`${clickUserId(item)}`">
                  <b>
                    <div>{{ item.user_id }}</div>
                  </b>
                </a>
              </template>
              <template v-slot:[`item.platform_user_id`]="{ item }">
                <a :href="`${clickPlatformUserId(item)}`">
                  <b>
                    <div>{{ item.platform_user_id }}</div>
                  </b>
                </a>
              </template>
              <template v-slot:[`item.round_id`]="{ item }">
                <a :href="`${clickRoundId(item)}`">
                  <b>
                    <div>{{ item.round_id }}</div>
                  </b>
                </a>
              </template>
              <template v-slot:[`item.type`]="{ item }">
                <div v-if="item.type == 'win'">
                  <v-btn icon @click="openGameResult(item)">
                    <v-chip style="cursor: pointer" :color="colorByType(item.type)" label text-color="white">
                      {{ item.type }}
                    </v-chip>
                  </v-btn>
                </div>
                <div v-else>
                  <v-btn icon>
                    <v-chip style="cursor: pointer" :color="colorByType(item.type)" label text-color="white">
                      {{ item.type }}
                    </v-chip>
                  </v-btn>
                </div>
              </template>
              <template slot="no-data">
                <div></div>
              </template>
            </v-data-table>
            <br>
            <v-pagination v-model="page" :length="numberOfPages" color="#faa41c" @input="onPageChanged"></v-pagination>
          </div>
        </div>
      </SlideFadeAnimation>
    </v-container>
    <CustomerPopup ref="detail" />
  </div>
</template>

<script lang="ts">
import { Component, Vue, Watch } from "nuxt-property-decorator";
import SlideFadeAnimation from "~/components/animations/SlideFadeAnimation.vue";
import CustomerPopup from "~/components/popup/CustomerPopup.vue";
import { showDialog } from "~/utils/dialog";

import moment from "moment";

import { getModule } from "vuex-module-decorators";

import dashboardModule from "~/store/dashboard";
import appModule from "~/store/app";
import Loading from "~/components/Loading.vue";
import ReportFilter from "~/components/utils/ReportFilter.vue";
import ReportTable from "~/components/tables/ReportTable.vue";
import TotalTable from "~/components/tables/TotalTable.vue";
import { objToQueryParams } from "~/utils/string";

@Component({
  components: {
    Loading,
    ReportFilter,
    ReportTable,
    SlideFadeAnimation,
    TotalTable,
    CustomerPopup,
  },
})
export default class Compo extends Vue {
  isContentShow: boolean = false;
  memberId = "";
  page = 1;
  numberOfPages = 1;
  dashboardStoreModule = getModule(dashboardModule, this.$store);
  appStoreModule = getModule(appModule, this.$store);

  get tableHeaders() {
    return [
      { text: "Checkin", value: "timestamp" },
      { text: "Date", value: "platform_user_id" },
      { text: "CheckinID", value: "user_id" },
      { text: "Customer", value: "round_id" },
      { text: "Name", value: "id" },
      { text: "MemberID", value: "type", align: "center" },
      { text: "Ticket", value: "currency", sortable: false },
    ];
  }

  get totalItems() {
    return this.items?.length || 0;
  }

  // get total() {
  //   return this.items?.total || {};
  // }

  get items() {
    return [];
  }

  mounted() {
    this.isContentShow = true;
  }

  search() {
    const refs = this.$refs as any;
    console.log("refs", refs);
    refs.detail.open({}, document);
  }
}
</script>

<style lang="scss" scoped>
.page {
  width: 100vw;
  height: 100vh;
  background: #242424;
}

.page-content-header {
  position: relative;
  z-index: 200;
  background: #212121;
}

.spinix-logo {
  width: 310px;
  height: auto;
}

.info-border {
  border: 1px solid #8a8a8a;
  border-radius: 10px;
  height: 260px;
}

.info-title {
  border-bottom: 2px solid #8a8a8a;
  padding-bottom: 4px;
}
</style>