<template>
  <div class="page">
    <v-container>
      <h2 class="white--text mb-3Z">Report / PT</h2>
      <SlideFadeAnimation>
        <div v-if="isContentShow" :key="`page-content`">
          <div class="h-100" v-if="isContentShow" :key="`page-content`">
            <v-row class="white--text my-4" align="center">

              <v-col cols="auto">
                <v-select :items="reportTypeList" v-model="reportType" label="ประเภท Report" outlined dense hide-details
                  dark color="#faa41c" item-color="#faa41c"></v-select>

              </v-col>
              <v-col v-if="reportType == 'month'" cols="auto" key="month">
                <month-picker-input v-if="reportType == 'month'" @change="onMonthSelect" :date-format="`%n, %Y`"
                  :default-month="monthSelect" :default-year="yearSelect"></month-picker-input>
              </v-col>
              <v-col v-if="reportType == 'year'" cols="auto" key="year">
                <month-picker-input v-if="reportType == 'year'" @change="onMonthSelect" :date-format="`%Y`"
                  :year-only="true" :default-month="monthSelect" :default-year="yearSelect"></month-picker-input>
              </v-col>
              <v-col cols="auto">
                <v-autocomplete v-model="customer" :items="customer_list" outlined dense dark hide-details
                  label="เลือกลูกค้า"></v-autocomplete>
              </v-col>
              <v-col cols="auto">
                <v-autocomplete v-model="trainer" :items="trainer_list" outlined dense dark hide-details
                  label="เลือก Trainer"></v-autocomplete>
              </v-col>
              <v-col cols="auto">
                <v-autocomplete v-model="trainer_program" :items="trainer_program_list" outlined dense dark hide-details
                  label="Select Program"></v-autocomplete>
              </v-col>
              <v-col cols="auto">
                <v-autocomplete v-model="sale" :items="sale_list" outlined dense dark hide-details
                  label="เลือก Sale"></v-autocomplete>
              </v-col>
              <!-- <v-col cols="auto">
                <v-select :items="[{ value: 0, text: 'ทั้งหมด' }, { value: 1, text: 'ใกล้หมดอายุ' }]"
                  v-model="otherFilter" label="กรอง" outlined dense hide-details dark color="#faa41c"
                  item-color="#faa41c"></v-select>
              </v-col> -->
              <v-col cols="auto">
                <v-btn @click="search()" block color="primary" dark>Search</v-btn>
              </v-col>
            </v-row>
            <v-btn block color="success" @click="exportExcel()" dark>Export</v-btn>
            <!-- <br>
            <a href="http://localhost:3033/trainer/report" target="_blank">
              <v-btn block color="primary" dark>Report</v-btn>
            </a> -->
            <br>
            <div class="h-table-parent">
              <table v-if="yearResultShow">
                <thead id="myhead">
                  <tr>
                    <th class="px-2 text-left">Program</th>
                    <th class="px-2 text-left">Customer Name</th>
                    <th class="px-2 text-left">Trainer Name</th>
                    <th class="px-2 text-left">จำนวนครั้งแพ็คเกจ</th>
                    <th class="px-2 text-left">จำนวนครั้งที่เหลือ</th>
                    <th class="px-2 text-center" v-for="(m) in monthnamelist">
                      {{ m }}
                    </th>
                  </tr>
                </thead>
                <tbody id="mybody" onscroll="fixscroll()">
                  <tr v-for="yr in yearResult">
                    <td class="px-2 text-left">{{ yr.saleData.trainer_program_name }}</td>
                    <td class="px-2 text-left">{{ yr.saleData.customer_name }}</td>
                    <td class="px-2 text-left">{{ yr.saleData.trainer_name || '' }}</td>
                    <td class="px-2 text-left">{{ yr.saleData.times || '-' }}</td>
                    <td class="px-2 text-left">{{ yr.saleData.remaining_times || '-' }}</td>
                    <td v-for="(_, mindex) in monthnamelist" class="text-center">
                      {{ yr.statByProgramSaleDate[mindex] && yr.statByProgramSaleDate[mindex] != '0' ? yr.statByProgramSaleDate[mindex] : '' }}
                    </td>
                  </tr>
                </tbody>
              </table>

              <table v-if="monthResultShow">
                <thead id="myhead">
                  <tr>
                    <th class="px-2 text-left">Program</th>
                    <th class="px-2 text-left">Customer Name</th>
                    <th class="px-2 text-left">Trainer Name</th>
                    <th class="px-2 text-left">จำนวนครั้งแพ็คเกจ</th>
                    <th class="px-2 text-left">จำนวนครั้งที่เหลือ</th>
                    <th class="px-2 text-center" v-for="(m) in daysinmResult">
                      {{ m }}
                    </th>
                  </tr>
                </thead>
                <tbody id="mybody" onscroll="fixscroll()">
                  <tr v-for="yr in monthResult">
                    <td class="px-2 text-left">{{ yr.saleData.trainer_program_name }}</td>
                    <td class="px-2 text-left">{{ yr.saleData.customer_name }}</td>
                    <td class="px-2 text-left">{{ yr.saleData.trainer_name || '' }}</td>
                    <td class="px-2 text-left">{{ yr.saleData.times || '-' }}</td>
                    <td class="px-2 text-left">{{ yr.saleData.remaining_times || '-' }}</td>
                    <td v-for="(_, mindex) in daysinmResult" class="text-center">
                      {{ yr.statByProgramSaleDate[mindex] && yr.statByProgramSaleDate[mindex] != '0' ? yr.statByProgramSaleDate[mindex] : '' }}
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
            <br />
            <!-- <v-pagination v-model="page" :length="numberOfPages" color="#faa41c" @input="onPageChanged"></v-pagination> -->
          </div>
        </div>
      </SlideFadeAnimation>
    </v-container>
    <!-- <ListProgramPopup ref="programlist" /> -->
    <!-- <SelectTrainerPopup ref="selecttrainer" /> -->
    <CustomerPopup ref="detail" />
    <Loading ref="loading" />
  </div>
</template>

<script lang="ts">
import { Component, Vue, Watch } from "nuxt-property-decorator";
import SlideFadeAnimation from "~/components/animations/SlideFadeAnimation.vue";
import CustomerPopup from "~/components/popup/CustomerPopup.vue";
import { showDialog } from "~/utils/dialog";

import moment from "moment";

import { getModule } from "vuex-module-decorators";

import dashboardModule from "~/store/dashboard";
import appModule from "~/store/app";
import Loading from "~/components/Loading.vue";
import ReportFilter from "~/components/utils/ReportFilter.vue";
import ReportTable from "~/components/tables/ReportTable.vue";
import TotalTable from "~/components/tables/TotalTable.vue";
import { objToQueryParams } from "~/utils/string";
import SelectTrainerPopup from "~/components/popup/SelectTrainerPopup.vue";
import SelectProgramPopup from "~/components/popup/SelectProgramPopup.vue";
import ListProgramPopup from "~/components/popup/ListProgramPopup.vue";
import { formatNumberWithDecimal } from "~/utils/math";
//@ts-ignore
import { MonthPickerInput } from 'vue-month-picker'


@Component({
  components: {
    Loading,
    ReportFilter,
    ReportTable,
    SlideFadeAnimation,
    TotalTable,
    CustomerPopup,
    ListProgramPopup,
    SelectTrainerPopup,
    SelectProgramPopup,
    MonthPickerInput
  },
})
export default class Compo extends Vue {
  isContentShow: boolean = false;
  trainerId = "";
  nameFilter = "";
  mobileNoFilter = "";
  trainerTypeFilter = "";
  otherFilter = "0";
  reportType = "month"
  reportTypeList = [
    {
      value: "month",
      text: "รายเดือน",
    },
    {
      value: "year",
      text: "รายปี",
    },
  ];
  monthSelect = new Date().getMonth() + 1
  yearSelect = new Date().getFullYear()
  page = 1;
  numberOfPages = 1;
  dashboardStoreModule = getModule(dashboardModule, this.$store);
  appStoreModule = getModule(appModule, this.$store);
  items = []

  searchedType = ''
  searchedParams:any = null

  customer_list: any[] = [];
  customer: any = null

  trainer_list: any[] = [];
  trainer: any = null

  trainer_program_list: any[] = [];
  trainer_program: any = null

  sale_list: any[] = [];
  sale: any = null

  yearResult: any[] = []
  yearResultShow = false;

  daysinmResult = 0
  monthResult: any[] = []
  monthResultShow = false;

  monthnamelist = [
    'Jan',
    'Feb',
    'Mar',
    'Apr',
    'May',
    'Jun',
    'Jul',
    'Aug',
    'Sep',
    'Oct',
    'Nov',
    'Dec',
  ];

  get totalItems() {
    return this.items?.length || 0;
  }

  get yearList() {
    const list = []
    const date = new Date()
    for (let i = 2023; i <= date.getFullYear(); i++) {
      list.push(i)
    }
    return list
  }

  // get total() {
  //   return this.items?.total || {};
  // }

  onMonthSelect(date: any) {
    this.monthSelect = date.monthIndex;
    this.yearSelect = date.year;
  }

  async loadTrainer() {
    try {
      const repo = this.$repositories.trainer;
      const result: any = await repo.get({
        name: ''
      });

      return result.trainerData.map((i: any) => {
        return {
          value: i,
          text: `Trainer: ${i.name} | Price: ${formatNumberWithDecimal(i.price)}`
        }
      })
    } catch (e) {
      this.$nextTick(() => {
        // showDialog(e, "Get Sale");
      });
      return []
    }
  }

  async loadCustomer() {
    try {
      const repo = this.$repositories.customer;
      const result: any = await repo.list({
      });

      return result.customerData.map((i: any) => {
        return {
          value: i,
          text: i.name
        }
      })
    } catch (e) {
      this.$nextTick(() => {
        // showDialog(e, "Get Customer");
      });
      return []
    }
  }

  async loadSale() {
    try {
      const repo = this.$repositories.sale;
      const result: any = await repo.list({
      });

      return result.list.map((i: any) => {
        return {
          value: i,
          text: i.name
        }
      })
    } catch (e) {
      this.$nextTick(() => {
        // showDialog(e, "Get Sale");
      });
      return []
    }
  }

  async loadTrainerProgram() {
    try {
      const repo = this.$repositories.trainer_program;
      const result: any = await repo.list({
      });

      return result.trainerData.map((i: any) => {
        return {
          value: i,
          text: `Program: ${i.name} | Price: ${formatNumberWithDecimal(i.default_price)}`
        }
      })
    } catch (e) {
      this.$nextTick(() => {
        // showDialog(e, "Get Program Program");
      });
      return []
    }
  }

  async mounted() {
    this.isContentShow = true;
    const loader = this.$refs.loading as any;
    loader.start();
    try {
      this.customer_list = await this.loadCustomer()
      this.customer = null;
      this.trainer_program_list = await this.loadTrainerProgram()
      this.trainer_program = null;
      this.trainer_list = await this.loadTrainer()
      this.trainer = null;
      this.sale_list = await this.loadSale()
      this.sale = null;

    } catch (e: any) {
      console.log('e', e)
    }
    loader.finish();
  }

  async search() {
    const loader = this.$refs.loading as any;
    try {
      loader.start();
      this.yearResultShow = false;
      this.monthResultShow = false;
      if (this.reportType == 'year') {
        this.yearResult = await this.getReportYear()
        this.yearResultShow = true;
        this.monthResultShow = false;
      }
      if (this.reportType == 'month') {
        this.monthResult = await this.getReportMonth()
        this.daysinmResult = new Date(this.yearSelect, this.monthSelect, 0).getDate();
        this.yearResultShow = false;
        this.monthResultShow = true;
      }
      loader.finish();
    } catch (e: any) {
      this.$nextTick(() => {
        // showDialog(e, "Get Customer");
        this.items = []
      });
      loader.finish();
    }
  }

  exportExcel() {
    if (this.searchedType == 'year') {
      this.exportReportYear()
    }
    if (this.searchedType == 'month') {
      this.exportReportMonth()
    }

  }

  selectTrainerProgram(trainer: any) {
    const refs = this.$refs as any
    refs.selectprogram.open(async (program: any, program_start_date: string, program_expiry_date: string) => {
      const loader = this.$refs.loading as any;
      try {
        loader.start();
        trainer.current_program = program ? `${program.name} | ฿${Number(program.price).toLocaleString('en', {
          minimumFractionDigits: 2,
        })}` : ''
        const trainerRepository = this.$repositories.trainer;
        const result: any = await trainerRepository.update(trainer);

        // this.gameResultUrl = result.data.

        const programRepo = this.$repositories.program;
        const result2: any = await programRepo.createSell({
          programId: program._id,
          trainerId: trainer._id,
          sell_price: Number(program.price),
          sell_date: program_start_date,
          start_date: program_start_date,
          expiry_date: program_expiry_date,
        });

        this.$nextTick(() => {
          showDialog(result.message, "Select Program");
        });

        loader.finish();
      } catch (e: any) {
        this.$nextTick(() => {
          showDialog(e, "Select Program");
        });
        loader.finish();
      }
    })

  }

  selectTrainerTrainer(trainer: any) {
    const refs = this.$refs as any
    refs.selecttrainer.open(async (trainer: any) => {
      const loader = this.$refs.loading as any;
      try {
        loader.start();
        trainer.trainer = trainer
        const trainerRepository = this.$repositories.trainer;
        const result: any = await trainerRepository.update(trainer);

        // this.gameResultUrl = result.data.

        this.$nextTick(() => {
          showDialog(result.message, "Select Trainer");
        });

        loader.finish();
      } catch (e: any) {
        this.$nextTick(() => {
          showDialog(e, "Select Trainer");
        });
        loader.finish();
      }
    })

  }

  showProgramList(trainer_id: string, trainer_name: string) {
    const refs = this.$refs as any
    refs.programlist.open(trainer_id, trainer_name)
  }

  viewCustomerDetail(customer: any) {
    const refs = this.$refs as any
    console.log('refs', refs)
    refs.detail.open(customer);
  }

  monthDiff(d1: any, d2: any) {
    var months;
    months = (d2.getFullYear() - d1.getFullYear()) * 12;
    months -= d1.getMonth();
    months += d2.getMonth();
    return months <= 0 ? 0 : months;
  }
  fixscroll() {
    const thead = document.getElementById("myhead");
    const tbodyScroll = document.getElementById("mybody")?.scrollLeft;
    if (thead) {
      thead.scrollLeft = tbodyScroll as any;
    }
    //document.getElementById("frozen").scrollLeft = 0;
  }

  async getReportYear() {
    try {
      const repo = this.$repositories.trainer_program_checkin;
      this.searchedParams = {
        trainer_program_id: this.trainer_program?._id || '',
        customer_id: this.customer?._id || '',
        sale_id: this.sale?._id || '',
        year: this.yearSelect
      }
      this.searchedType = 'year'
      const result: any = await repo.reportYear(this.searchedParams);

      return result.map((item: any) => {
        const newstat = []
        for (let i = 0; i < 12; i++) {
          newstat.push(item.statByProgramSaleDate[`${i + 1}`] || 0)
        }
        item.statByProgramSaleDate = newstat
        return item
      })
    } catch (e) {
      this.$nextTick(() => {
        console.log(e, "Get Program Program");
      });
      return []
    }
  }

  async getReportMonth() {
    try {
      const repo = this.$repositories.trainer_program_checkin;
      this.searchedParams = {
        trainer_program_id: this.trainer_program?._id || '',
        customer_id: this.customer?._id || '',
        sale_id: this.sale?._id || '',
        year: this.yearSelect,
        month: this.monthSelect,
      }
      this.searchedType = 'month'
      const result: any = await repo.reportMonth(this.searchedParams);

      return result.map((item: any) => {
        const newstat = []
        const daysinm = new Date(this.yearSelect, this.monthSelect, 0).getDate();
        for (let i = 0; i < daysinm; i++) {
          newstat.push(item.statByProgramSaleDate[`${i + 1}`] || 0)
        }
        item.statByProgramSaleDate = newstat
        return item
      })
    } catch (e) {
      this.$nextTick(() => {
        console.log(e, "Get Program Program");
      });
      return []
    }
  }

  async exportReportYear() {
    try {
      const repo = this.$repositories.trainer_program_checkin;
      repo.exportReportYear(this.searchedParams);
    } catch (e) {
      this.$nextTick(() => {
        console.log(e, "Get Program Program");
      });
      return []
    }
  }

  async exportReportMonth() {
    try {
      const repo = this.$repositories.trainer_program_checkin;
      repo.exportReportMonth(this.searchedParams);
    } catch (e) {
      this.$nextTick(() => {
        console.log(e, "Get Program Program");
      });
      return []
    }
  }
}
</script>

<style lang="scss" scoped>
.page {
  width: 100vw;
  height: 100vh;
  background: #242424;
}

.page-content-header {
  position: relative;
  z-index: 200;
  background: #212121;
}

.spinix-logo {
  width: 310px;
  height: auto;
}

.info-border {
  border: 1px solid #8a8a8a;
  border-radius: 10px;
  height: 260px;
}

.info-title {
  border-bottom: 2px solid #8a8a8a;
  padding-bottom: 4px;
}
</style>
