<template>
  <div class="page">
    <v-container>
      <h2 class="white--text">Trainer Program(PT) / Create Trainer Program(PT)</h2>

      <SlideFadeAnimation>
        <div v-if="isContentShow" :key="`page-content`">
          <div class="login-card">
            <v-row justify="center">
              <v-col cols="12" md="8">
                <div class="text-center pa-12">
                  <div class="mt-10"></div>
                  <h3 class="white--text">Create Trainer Program(PT)</h3>
                  <br />
                  <v-row align="center" class="py-0">
                    <v-col cols="auto">
                      <div class="white--text pb-6">ชื่อโปรแกรม</div>
                    </v-col>
                    <v-col cols class="py-0">
                      <v-text-field label="ชื่อโปรแกรม" placeholder="ชื่อโปรแกรม" outlined dark v-model="name"></v-text-field>
                    </v-col>
                  </v-row>
                  <v-row align="center">
                    <v-col cols="auto" class="py-0">
                      <div class="white--text pb-6">ราคา</div>
                    </v-col>
                    <v-col cols class="py-0">
                      <v-text-field type="number" label="ราคา" placeholder="ราคา" outlined dark v-model="price"></v-text-field>
                    </v-col>
                  </v-row>
                  <v-btn @click="createProgram()" block color="primary" dark>Create Trainer Program(PT)</v-btn>
                </div>
              </v-col>
              <!-- <v-col cols="12" md="6" class="d-none d-md-block right-bg">
                <v-row class="h-100" align="center" justify="center">
                  <v-col cols="auto">
                    <div class="text-center">
                      <div class="big-title text-left">VP-FIT</div>
                      <div class="big-title text-left">Dashboard</div>
                      <div class="mt-4"></div>
                    </div>
                  </v-col>
                </v-row>
              </v-col> -->
            </v-row>
          </div>
        </div>
      </SlideFadeAnimation>
    </v-container>
    <Loading ref="loading" />
  </div>
</template>

<script lang="ts">
import { Component, Vue, Watch } from "nuxt-property-decorator";
import SlideFadeAnimation from "~/components/animations/SlideFadeAnimation.vue";
import CustomerPopup from "~/components/popup/CustomerPopup.vue";
import { showDialog } from "~/utils/dialog";

import moment from "moment";

import { getModule } from "vuex-module-decorators";

import dashboardModule from "~/store/dashboard";
import appModule from "~/store/app";
import Loading from "~/components/Loading.vue";
import ReportFilter from "~/components/utils/ReportFilter.vue";
import ReportTable from "~/components/tables/ReportTable.vue";
import TotalTable from "~/components/tables/TotalTable.vue";
import { objToQueryParams } from "~/utils/string";

@Component({
  components: {
    Loading,
    ReportFilter,
    ReportTable,
    SlideFadeAnimation,
    TotalTable,
    CustomerPopup,
  },
})
export default class Compo extends Vue {
  isContentShow: boolean = false;
  name = "";
  price = 0;

  mounted() {
    this.isContentShow = true;
  }

  async createProgram() {
    if (!this.name) {
      showDialog("กรุณากรอก ชื่อ", "Create Trainer Program(PT)");
    } else if (this.price < 0) {
      showDialog("กรุณากรอก ราคา ให้ถูกต้อง", "Create Trainer Program(PT)");
    } else {
      const loader = this.$refs.loading as any;
      try {
        loader.start();
        const repo = this.$repositories.trainer_program;
        const result: any = await repo.create({
          name: this.name,
          price: this.price,
          times: 0,
        });

        // this.gameResultUrl = result.data.;
        this.$nextTick(() => {
          showDialog(result.message, "Create Trainer Program(PT)");
        });
        loader.finish();
      } catch (e:any) {
        this.$nextTick(() => {
          showDialog(e, "Create Trainer Program(PT)");
        });
        loader.finish();
      }
    }
  }
}
</script>

<style lang="scss" scoped>
.page {
  width: 100vw;
  height: 100vh;
  background: #242424;
}

.page-content-header {
  position: relative;
  z-index: 200;
  background: #212121;
}

.spinix-logo {
  width: 310px;
  height: auto;
}

.info-border {
  border: 1px solid #8a8a8a;
  border-radius: 10px;
  height: 260px;
}

.info-title {
  border-bottom: 2px solid #8a8a8a;
  padding-bottom: 4px;
}
</style>
