<template>
  <div class="page">
    <v-container>
      <h2 class="white--text mb-3Z">Customer / CustomerList</h2>
      <SlideFadeAnimation>
        <div v-if="isContentShow" :key="`page-content`">
          <div class="h-100" v-if="isContentShow" :key="`page-content`">
            <v-row class="white--text my-4" align="center">
              <v-col cols="auto">
                <v-text-field v-model="nameFilter" prepend-inner-icon="mdi-magnify" label="ชื่อ" outlined dense
                  hide-details dark color="#faa41c" item-color="#faa41c"></v-text-field>
              </v-col>
              <v-col cols="auto">
                <v-text-field v-model="mobileNoFilter" prepend-inner-icon="mdi-magnify" label="เบอร์โทรศัพท์" outlined
                  dense hide-details dark color="#faa41c" item-color="#faa41c"></v-text-field>
              </v-col>
              <v-col cols="auto">
                <v-select :items="memberItems" v-model="memberTypeFilter" label="ประเภท Member" outlined dense
                  hide-details dark color="#faa41c" item-color="#faa41c"></v-select>
              </v-col>
              <!-- <v-col cols="auto">
                <v-select :items="[{ value: 0, text: 'ทั้งหมด' }, { value: 1, text: 'ใกล้หมดอายุ' }]"
                  v-model="otherFilter" label="กรอง" outlined dense hide-details dark color="#faa41c"
                  item-color="#faa41c"></v-select>
              </v-col> -->
              <v-col cols="auto">
                <v-btn @click="search()" block color="primary" dark>Search</v-btn>
              </v-col>
            </v-row>
            <nuxt-link to="/customer/register">
              <v-btn block color="success" dark>เพิ่ม Customer</v-btn>
            </nuxt-link>
            <!-- <br>
            <a href="http://localhost:3033/member/report" target="_blank">
              <v-btn block color="primary" dark>Report</v-btn>
            </a> -->
            <br>
            <v-data-table id="table" dark :headers="tableHeaders" :items="items" :options="{ itemsPerPage: 1000 }"
              disable-pagination :hide-default-footer="true" height="calc(100vh - 205px)">
              <template v-slot:[`item.member_type`]="{ item }">
                <div style="text-transform: uppercase;">
                  {{ item.member_type }}
                </div>
              </template>
              <template v-slot:[`item.action`]="{ item }">
                <div class="text-center py-2">
                  <a :href="`/customer/detail/${item._id}`" target="_blank">
                    <v-btn color="primary" class="mb-2">ข้อมูลลูกค้า</v-btn>
                  </a><br>
                  <!-- <v-btn color="primary" class="mb-2" @click="viewCustomerDetail(item)">ข้อมูลลูกค้า</v-btn> <br> -->
                  <!-- @click="viewCustomerDetail(item)" -->
                  <!-- <v-btn :disabled="!!item.current_program" color="primary" @click="showProgramList(item._id,item.name)"
                    class="mb-2">โปรแกรมของลูกค้า</v-btn> <br> -->
                  <!-- <v-btn :disabled="!!item.trainer" @click="selectMemberTrainer(item)"
                    color="primary">จ้างเทรนเนอร์</v-btn> -->
                </div>
              </template>
              <template slot="no-data">
                <div></div>
              </template>
            </v-data-table>
            <br />
            <!-- <v-pagination v-model="page" :length="numberOfPages" color="#faa41c" @input="onPageChanged"></v-pagination> -->
          </div>
        </div>
      </SlideFadeAnimation>
    </v-container>
    <!-- <ListProgramPopup ref="programlist" /> -->
    <!-- <SelectTrainerPopup ref="selecttrainer" /> -->
    <CustomerPopup ref="detail" />
    <Loading ref="loading" />
  </div>
</template>

<script lang="ts">
import { Component, Vue, Watch } from "nuxt-property-decorator";
import SlideFadeAnimation from "~/components/animations/SlideFadeAnimation.vue";
import CustomerPopup from "~/components/popup/CustomerPopup.vue";
import { showDialog } from "~/utils/dialog";

import moment from "moment";

import { getModule } from "vuex-module-decorators";

import dashboardModule from "~/store/dashboard";
import appModule from "~/store/app";
import Loading from "~/components/Loading.vue";
import ReportFilter from "~/components/utils/ReportFilter.vue";
import ReportTable from "~/components/tables/ReportTable.vue";
import TotalTable from "~/components/tables/TotalTable.vue";
import { objToQueryParams } from "~/utils/string";
import SelectTrainerPopup from "~/components/popup/SelectTrainerPopup.vue";
import SelectProgramPopup from "~/components/popup/SelectProgramPopup.vue";
import ListProgramPopup from "~/components/popup/ListProgramPopup.vue";

@Component({
  components: {
    Loading,
    ReportFilter,
    ReportTable,
    SlideFadeAnimation,
    TotalTable,
    CustomerPopup,
    ListProgramPopup,
    SelectTrainerPopup,
    SelectProgramPopup
  },
})
export default class Compo extends Vue {
  isContentShow: boolean = false;
  memberId = "";
  nameFilter = "";
  mobileNoFilter = "";
  memberTypeFilter = "";
  otherFilter = "0";
  memberItems = [
    {
      value: "",
      text: "ทั้งหมด",
    },
    {
      value: "new",
      text: "New",
    },
    {
      value: "a",
      text: "A",
    },
    {
      value: "b",
      text: "B",
    },
  ];
  page = 1;
  numberOfPages = 1;
  dashboardStoreModule = getModule(dashboardModule, this.$store);
  appStoreModule = getModule(appModule, this.$store);
  items = []

  get tableHeaders() {
    return [
      { text: "ชื่อ", value: "name" },
      { text: "Member Type", value: "member_type" },
      { text: "เพศ", value: "gender" },
      { text: "เบอร์โทรศัพท์", value: "mobileNo" },
      { text: "Line ID", value: "lineid" },
      { text: "Facebook", value: "facebook" },
      // { text: "Program", value: "current_program" },
      { text: "Note", value: "note" },
      { text: "Action", value: "action" },
    ];
  }

  get totalItems() {
    return this.items?.length || 0;
  }

  // get total() {
  //   return this.items?.total || {};
  // }


  mounted() {
    this.isContentShow = true;
    this.search()
  }

  async search() {
    const loader = this.$refs.loading as any;
    try {
      loader.start();
      const repository = this.$repositories.customer;
      const result: any = await repository.list({
        name: this.nameFilter,
        member_type: this.memberTypeFilter,
        mobileNo: this.mobileNoFilter,
      });

      this.items = result.customerData
      // .filter((item: any) => this.otherFilter ? (this.monthDiff(new Date(item.expiry_date), new Date) <= 1) : true)?.map((item: any) => {
      //   item.expiry_date = item.expiry_date?.split("T")[0]
      //   item.start_date = item.start_date?.split("T")[0]
      //   return item
      // })

      // this.gameResultUrl = result.data.;
      loader.finish();
    } catch (e: any) {
      this.$nextTick(() => {
        // showDialog(e, "Get Customer");
        this.items = []
      });
      loader.finish();
    }
  }

  selectMemberProgram(member: any) {
    const refs = this.$refs as any
    refs.selectprogram.open(async (program: any, program_start_date: string, program_expiry_date: string) => {
      const loader = this.$refs.loading as any;
      try {
        loader.start();
        member.current_program = program ? `${program.name} | ฿${Number(program.price).toLocaleString('en', {
          minimumFractionDigits: 2,
        })}` : ''
        const memberRepository = this.$repositories.member;
        const result: any = await memberRepository.update(member);

        // this.gameResultUrl = result.data.

        const programRepo = this.$repositories.program;
        const result2: any = await programRepo.createSell({
          programId: program._id,
          memberId: member._id,
          sell_price: Number(program.price),
          sell_date: program_start_date,
          start_date: program_start_date,
          expiry_date: program_expiry_date,
        });

        this.$nextTick(() => {
          showDialog(result.message, "Select Program");
        });

        loader.finish();
      } catch (e: any) {
        this.$nextTick(() => {
          showDialog(e, "Select Program");
        });
        loader.finish();
      }
    })

  }

  selectMemberTrainer(member: any) {
    const refs = this.$refs as any
    refs.selecttrainer.open(async (trainer: any) => {
      const loader = this.$refs.loading as any;
      try {
        loader.start();
        member.trainer = trainer
        const memberRepository = this.$repositories.member;
        const result: any = await memberRepository.update(member);

        // this.gameResultUrl = result.data.

        this.$nextTick(() => {
          showDialog(result.message, "Select Trainer");
        });

        loader.finish();
      } catch (e: any) {
        this.$nextTick(() => {
          showDialog(e, "Select Trainer");
        });
        loader.finish();
      }
    })

  }

  showProgramList(member_id: string, member_name: string) {
    const refs = this.$refs as any
    refs.programlist.open(member_id, member_name)
  }

  viewCustomerDetail(customer: any) {
    const refs = this.$refs as any
    console.log('refs', refs)
    refs.detail.open(customer);
  }

  monthDiff(d1: any, d2: any) {
    var months;
    months = (d2.getFullYear() - d1.getFullYear()) * 12;
    months -= d1.getMonth();
    months += d2.getMonth();
    return months <= 0 ? 0 : months;
  }
}
</script>

<style lang="scss" scoped>
.page {
  width: 100vw;
  height: 100vh;
  background: #242424;
}

.page-content-header {
  position: relative;
  z-index: 200;
  background: #212121;
}

.spinix-logo {
  width: 310px;
  height: auto;
}

.info-border {
  border: 1px solid #8a8a8a;
  border-radius: 10px;
  height: 260px;
}

.info-title {
  border-bottom: 2px solid #8a8a8a;
  padding-bottom: 4px;
}
</style>
