<template>
  <transition-group name="bounce">
    <slot>
    </slot>
  </transition-group>
</template>

<script>
export default {}
</script>

<style lang="scss">
.bounce > * {
  transition: all .3s ease;
}
.bounce-enter-active {
  animation: bounce-in .3s;
}
.bounce-leave-active {
  animation: bounce-in .3s reverse;
}
@keyframes bounce-in {
  0% {
    transform: scale(0);
  }
  50% {
    transform: scale(1.5);
  }
  100% {
    transform: scale(1);
  }
}
</style>