<template>
  <transition-group name="fade">
    <slot>
    </slot>
  </transition-group>
</template>

<script>
export default {}
</script>

<style lang="scss">
.fade > * {
  transition: all .5s ease;
}
/* Enter and leave animations can use different */
/* durations and timing functions.              */
.fade-enter-active {
  transition: all .5s ease;
}
.fade-leave-active {
  transition: all .5s cubic-bezier(1.0, 0.5, 0.8, 1.0);
}
.fade-enter, .fade-leave-to
/* .slide-fade-leave-active below version 2.1.8 */ {
  opacity: 0;
}
</style>