<template>
  <transition-group name="slide-fade">
    <slot>
    </slot>
  </transition-group>
</template>

<script>
export default {}
</script>

<style lang="scss">
.slide-fade > * {
  transition: all .5s ease;
}
/* Enter and leave animations can use different */
/* durations and timing functions.              */
.slide-fade-enter-active {
  transition: all .5s ease;
}
.slide-fade-leave-active {
  transition: all .5s cubic-bezier(1.0, 0.5, 0.8, 1.0);
}
.slide-fade-enter, .slide-fade-leave-to
/* .slide-fade-leave-active below version 2.1.8 */ {
  transform: translateX(10px);
  opacity: 0;
}
</style>